<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<style>
.ui-dashboard-column {
	float: unset;
}
</style>


<div class="panel panel-primary">

	<div class="panel-heading">
		<div class="panel-title">Seleziona Categoria</div>
	</div>
	<p:dataGrid var="categoria" value="#{menuService.categorie}" columns="4" layout="grid" rows="10" paginator="false" id="categorie"
		currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}"
		paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		rowsPerPageTemplate="10,15,20">


		<p:panel style="text-align:center;">
			<!--         <p:panel styleClass="gridElement" style="text-align:center;#{categoria.styleSelected}" >
 -->
			<p:commandLink styleClass="btn btn-default btn-entrypoint#{categoria.styleSelected}" actionListener="#{menuService.getListaElement(categoria)}"
				style="height:100%;width:100%;" onstart="PF('blockUIWidget').show()" oncomplete="PF('blockUIWidget').hide()" update="#{p:component('contentBody') } :form:stp :form:menu :form:app" process="@this" title="Visualizza i debiti">
			
 			
 					<img src="../images/category/#{categoria.nomeCategoria}.png"  class="img_cat" alt="#{categoria.nomeCategoria}" height="42" width="42"/>
 
  					<br></br>
				<h:outputText class="title_cat" value="#{categoria.denominazioneServizio.toUpperCase()}" />
			
				<p:ajax event="click" 	oncomplete="if(typeof aggiornaTable === 'function') aggiornaTable();" />
					
			</p:commandLink>

		</p:panel>

	</p:dataGrid>
</div>

</html>

