
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition>

		<!-- <div id="ti_trovi">
					#{msg['homepage.trovi']}
					<p:link href="#{msg['homepage.url']}" value="#{msg['homepage.pageTitle']}" styleClass="first breadcrumb-truncate" />
					- #{msg['homepage.ambiente']}

				</div> -->
		<h1 class="verdana">#{msg['homepage.pageTitle']}</h1>

		<!--    <p:outputPanel id="noapp" rendered="#{userService.utenteAutorizzato}">
                    <div align="center" style="text-align: center"> Utente non autorizzato</div>
             
             </p:outputPanel>   -->

		<br></br>

		<!-- CENTRO NOTIFICHE -->
		<p:messages for="statoGenerale" id="statoGenerale" closable="true"
			styleClass="alert" showDetail="true" severity="fatal, warn, info">
			<p:autoUpdate />
		</p:messages>

		<h:form id="form">

			<p:outputPanel id="app"
				rendered="#{ userService.utenti !=null and  fn:length(userService.utenti) > 0 }">

				<p:outputPanel id="menuBox" style="clear:left">
					<ui:fragment>
						<p:remoteCommand name="rc5"
							update="menuBox  #{p:component('contentBody') }"
							actionListener="#{menuService.changeStep(0)}" immediate="true" />
						<p:remoteCommand name="rc6"
							update="menuBox  #{p:component('contentBody') }"
							actionListener="#{menuService.changeStep(1)}" immediate="true" />
					</ui:fragment>

					<p:steps id="stp" activeIndex="#{menuService.activeStep}"
						readonly="false">
						<p:menuitem value="Pagamenti in corso" onclick="rc5()"
							oncomplete="if(typeof aggiornaTable === 'function') aggiornaTable();"
							process="@this" immediate="true" />
						<p:menuitem value="Storico Pagamenti" onclick="rc6()"
							oncomplete="if(typeof aggiornaTable === 'function') aggiornaTable();"
							process="@this" immediate="true" />
					</p:steps>


					<p:outputPanel
						rendered="#{ menuService.activeStep != 6 and menuService.activeStep != 7 }">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Seleziona Area</div>
							</div>
							<p:tabMenu id="menu" activeIndex="#{menuService.activeIndex}">
								<!-- oncomplete="if(typeof aggiornaTable === 'function') aggiornaTable();"  -->
								<p:menuitem value="ACCISE   " ajax="true" immediate="true"
									styleClass="mega-menu#{menuService.coloreAreaAccise} btn btn-default btn-entrypoint"
									actionListener="#{menuService.setActiveIndex(1)}"
									update="menuBox contentBody">
									<f:param name="activeIndex" value="1" />
								</p:menuitem>

								<p:menuitem value="DOGANE  " ajax="true" immediate="true"
									styleClass="mega-menu#{menuService.coloreAreaDogane} btn btn-default btn-entrypoint"
									actionListener="#{menuService.setActiveIndex(0)}"
									update="menuBox contentBody">
									<f:param name="activeIndex" value="0" />
								</p:menuitem>

								<p:menuitem value="MONOPOLI" ajax="true" immediate="true"
									styleClass="mega-menu#{menuService.coloreAreaMonopoli} btn btn-default btn-entrypoint "
									actionListener="#{menuService.setActiveIndex(2)}"
									update="menuBox contentBody">
									<f:param name="activeIndex" value="2" />
								</p:menuitem>
							</p:tabMenu>
						</div>
					</p:outputPanel>

				</p:outputPanel>

				<p:outputPanel id="contentBody">
					<ui:fragment>
						<ui:include src="#{menuService.currentPageCategorie}" />
					</ui:fragment>

					<ui:fragment>
						<ui:include src="#{menuService.currentPageDebiti}" />
					</ui:fragment>
				</p:outputPanel>


			</p:outputPanel>
			
			<p:outputPanel id="noapp"
				rendered="#{ userService.utenti == null or  fn:length(userService.utenti) == 0 }">
				<div align="center" style="text-align: center">Utente non
					autorizzato</div>
			</p:outputPanel>
		</h:form>

	</ui:composition>
</body>
</html>