<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://liferay.com/faces/alloy">

<ui:composition>


	<!-- f:event listener="#{pagoPaService.resetWizardPagamento}" type="preRenderView" /-->

	<p:outputPanel id="ricercaPanelPagoPa">

		<p:messages for="pa" id="pa" closable="true" styleClass="alert"
			showDetail="true" severity="fatal, warn, info" />

		<!-- 		<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank"> -->
		<p:panelGrid styleClass="ui-panelgrid-blank">

			<p:row>
				<p:column>
					<h:outputLabel value="Codice contesto:" for="codContesto" />
				</p:column>
				<p:column>
					<p:inputText id="codContesto"
						value="#{datiSpecifici.dominioPagoPA.codiceContesto}"
						maxlength="35" title="Inserire il codice contesto" size="35"
						validatorMessage="Inserire il codice contesto">
						<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
						<f:validateRegex pattern="[A-Z0-9]{35}$" />
						<f:validateBean disabled="#{!request.getParameter('validate')}" />
					</p:inputText>
				</p:column>
				<p:column>
					<p:message for="codContesto" display="tooltip" />
				</p:column>


				<p:column>
					<h:outputLabel value="Iuv:" for="iuv" />
				</p:column>
				<p:column>
					<p:inputText id="iuv" value="#{datiSpecifici.dominioPagoPA.iuv}"
						maxlength="24" title="Inserire il codice iuv" size="35"
						validatorMessage="Inserire il codice iuv">
						<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
						<f:validateRegex pattern="[A-Z0-9]{24}$" />
						<f:validateBean disabled="#{!request.getParameter('validate')}" />
					</p:inputText>
				</p:column>
				<p:column>
					<p:message for="iuv" display="tooltip" />
				</p:column>

			</p:row>
			<p:row>

				<p:column>
					<h:outputLabel value="Data richiesta:" for="dataRicerca" />
				</p:column>
				<p:column>
					<p:calendar id="dataRicerca" value="#{datiSpecifici.dataRicerca}"
						title="Inserire la data richiesta">
						<f:validateBean disabled="#{!request.getParameter('validate')}" />
					</p:calendar>
				</p:column>
				<p:column>
					<p:message for="dataRicerca" display="tooltip" />
				</p:column>

				<p:column>
					<h:outputLabel value="Pagatore:" for="pagatore" />
				</p:column>
				<p:column>
					<p:inputText id="pagatore" value="#{datiSpecifici.pagatore}"
						maxlength="50" title="Inserire il pagatore" size="30"
						validatorMessage="Inserire il pagatore">
						<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
						<f:validateRegex pattern="[A-Z0-9]{24}$" />
						<f:validateBean disabled="#{!request.getParameter('validate')}" />
					</p:inputText>
				</p:column>
				<p:column>
					<p:message for="pagatore" display="tooltip" />
				</p:column>

			</p:row>
			<p:row>

				<p:column>
					<h:outputLabel value="Versante:" for="versante" />
				</p:column>
				<p:column>
					<p:inputText id="versante" value="#{datiSpecifici.versante}"
						maxlength="50" title="Inserire il versante" size="30"
						validatorMessage="Inserire il versante">
						<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
						<f:validateRegex pattern="[A-Z0-9]{24}$" />
						<f:validateBean disabled="#{!request.getParameter('validate')}" />
					</p:inputText>
				</p:column>
				<p:column>
					<p:message for="versante" display="tooltip" />
				</p:column>

			</p:row>

		</p:panelGrid>

	</p:outputPanel>
</ui:composition>
</html>

