<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<style>
.datalist-noborder .ui-widget-content {
border: none;
}
</style>
  <p:dialog id="dsDet" header="Dettaglio"  resizable="false"   widgetVar="dlg2" modal="true" height="150" width="600">
            <div class="modal-body">
		
           
            <p:dataList styleClass="datalist-noborder" value="#{statoPagamentiService.admPayList.admPay}" var="admPayObj" >
            
            		<c:set var="siglaServizio" value="#{admPayObj.siglaServizio}"/>
					
					<ui:fragment rendered="#{siglaServizio != null}">
						<ui:include src="categorie/categorie.xhtml" />
					</ui:fragment>
					
            
              <!-- ui:fragment rendered="#{admPayObj.siglaServizio == 'OPCCD'}">
						<ui:include src="categorie/OPCCD_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{admPayObj.siglaServizio == 'DOCPA'}">
						<ui:include src="categorie/DOCPA_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{admPayObj.siglaServizio == 'BMELE'}">
						<ui:include src="categorie/BMELE_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{admPayObj.siglaServizio == 'ISTAL'}">
						<ui:include src="categorie/ISTAL_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{admPayObj.siglaServizio == 'SALDI'}">
						<ui:include src="categorie/SALDI_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{admPayObj.siglaServizio == 'ISTTR'}">
						<ui:include src="categorie/ISTTR_DS.xhtml" />
					</ui:fragment-->
            </p:dataList>
            
            	<div class="modal-footer text-center">
 				
        <p:commandButton styleClass="btn btn-primary" immediate="true" value="Chiudi" onclick="PF('dlg2').hide();" />
			</div>		 
			</div>
        </p:dialog>
		
		
		
		
</html>

