<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<h:head>

	<!-- h:outputScript library="primefaces" name="jquery/jquery.js" target="body" />
<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="body" />
<h:outputScript library="primefaces" name="core.js" target="body" />
<h:outputScript library="javax.faces" name="jsf.js" target="body" />
<h:outputScript library="primefaces" name="components.js" target="body" /-->

	<!-- h:outputScript name="jsf.js" library="javax.faces" target="head"/-->

	<h:outputStylesheet library="css" name="main.css" />

	<script type="text/javascript">
		/*  $(document).ready(function(){
		     loadTable();
		  });
		  
		  jQuery(window).bind("load", function() {
		   loadTable();
		});
		 */
	</script>

</h:head>
<h:body>

	<ui:composition>

		<p:outputPanel id="statoPagamentiPanel">

			<p:growl id="growl" showDetail="true" />
			<p:remoteCommand name="ricerca"
				update=" #{p:component('statoPagamentoTable')}"
				actionListener="#{statoPagamentiService.ricerca}" process="@this" />

			<p:panel id="myPanel"
				rendered="#{not empty menuService.selectedCategoria }">
				<div class="panel panel-default panel-collapsible">
					<div class="panel-heading">
						<a href="#collapse-2" class="collapsed" aria-expanded="false"
							aria-controls="collapse-2" data-toggle="collapse"> <i
							class="fa fa-search fa-pull-right"></i>
							<h3 class="panel-title">
								Ricerca
								<h:outputText
									value="#{menuService.selectedCategoria.nomeCategoria}">
								</h:outputText>
							</h3>
						</a>
					</div>
					<div id="collapse-2" class="panel-body collapse">

						<ui:include
							src="categorie/#{menuService.selectedCategoria.nomeCategoria}_.xhtml" />

					</div>
				</div>
			</p:panel>
			<!-- 			  <p:fieldset legend="Cerca il pagamento  " toggleable="true" toggleSpeed="500" collapsed="true" id="cercaPanel">
			        <p:ajax event="toggle"  />
			        
			       
			      <p:tabView id="tabCercaPanel">
					     
					        <p:tab title="Per codice contesto e iuv">
					           	
					           	
					           	 <ui:include src="pannelloRicercaPagoPa.xhtml" />
			        
								     <div align="center"> 
						 	 	 		<br/>
						 	 	 		<br/>
						 	 	 	 	
						 	 	 	 	 
						 	 	 	 	  <p:commandButton id="cercaPagoPa" value="Cerca"  validateClient="true"  process="ricercaPanelPagoPa @this " update=" ricercaPanelPagoPa #{p:component('statoGenerale')} " oncomplete=" filtraPagoPa();">
						 	 	 	 	 	<f:param name="validate" value="false"/>
						 	 	 	 	 	filtroPanelPagoPa
						 	 	 	 	 </p:commandButton>
						 	 	 	 
						 	 	 	</div>	 
						 	 	 
							 	 	
							 	 	<p:outputPanel id="filtroPanelPagoPa">
							      	 		<p:remoteCommand id="filtraPagoPa" name="filtraPagoPa" process="@this"
								oncomplete=" if(#{datiSpecifici.dominioPagoPA != null}) {setFiltri('statoPagamentoTable:codContesto','#{datiSpecifici.dominioPagoPA.codiceContesto}'); setFiltri('statoPagamentoTable:iuv','#{datiSpecifici.dominioPagoPA.iuv}');   PF('statoPagamentoTable').filter();}" />
									</p:outputPanel>
			        
			        			 
					           	
					        </p:tab>
					        
					           <p:blockUI block="tabCercaPanel" trigger="cerca cercaPagoPa">
								         <p:graphicImage value="/resources/images/loading.gif" />
								    </p:blockUI>
					        
					    </p:tabView>
					   
			      
			        
			    </p:fieldset> -->

			<!-- Sezione con icona -->
			<div class="panel panel-default panel-collapsible">
				<div class="panel-heading">
					<a href="#collapse-2" class="collapsed" aria-expanded="false"
						aria-controls="collapse-2" data-toggle="collapse"> <i
						class="fa fa-search fa-pull-right"></i>
						<h3 class="panel-title">Cerca il pagamento</h3>
					</a>
				</div>
				<div id="collapse-2" class="panel-body collapse">
					<ui:include src="pannelloRicercaPagoPa.xhtml" />

					<div align="center">
						<br /> <br />


						<p:commandButton id="cercaPagoPa" value="Cerca"
							validateClient="true" process="ricercaPanelPagoPa @this "
							action="#{statoPagamentiService.verificaNotEmpty}"
							update="filtroPanelPagoPa ricercaPanelPagoPa #{p:component('statoGenerale')} "
							oncomplete=" filtraPagoPa();">
							<f:param name="validate" value="false" />
							<!-- filtroPanelPagoPa -->
						</p:commandButton>

					</div>


					<p:outputPanel id="filtroPanelPagoPa">
						<p:remoteCommand id="filtraPagoPa" name="filtraPagoPa"
							process="@this"
							oncomplete=" if(#{datiSpecifici.dominioPagoPA != null}) {setFiltri('statoPagamentoTable:codContesto','#{datiSpecifici.dominioPagoPA.codiceContesto}'); setFiltri('statoPagamentoTable:iuv','#{datiSpecifici.dominioPagoPA.iuv}');   PF('statoPagamentoTable').filter();}" />
					</p:outputPanel>
				</div>
			</div>


			<br />

			<!-- 	<p:blockUI block="statoPagamentoTable tabCercaPanel" trigger="statoPagamentoTable">
		         <p:graphicImage value="/resources/images/loading.gif" />
		    </p:blockUI>
		     -->


			<p:remoteCommand name="aggiornaTable"
				actionListener="#{statoPagamentiService.aggiorna}"
				update="statoPagamentoTable"
				oncomplete="PF('statoPagamentoTable').paginator.setPage(0); PF('statoPagamentoTable').filter(); " />
			<p:remoteCommand name="eliminaFiltri" update="statoPagamentiPanel"
				onstart="PF('filtroCalendario').setDate(null); PF('statoPagamentoTable').clearFilters();" />

			<div class="panel panel-primary">

				<div class="panel-heading">
					<div class="panel-title">Elenco Stato Pagamenti</div>
				</div>
				<p:dataTable var="pagamento"
					currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}"
					value="#{statoPagamentiService.listaPendenzeLazy}" reflow="true"
					rows="25" lazy="true" id="statoPagamentoTable" paginator="true"
					widgetVar="statoPagamentoTable"
					emptyMessage="Nessun elemento presente"
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="15,25,50" rowIndexVar="rowIndex"
					tableStyle="table-layout: auto;" tableStyleClass="altRow">
					<!-- style="font-size:85%;" -->

					<!-- {colonne} -->
					<p:ajax event="rowToggle"
						listener="#{statoPagamentiService.onRowToggle}"
						update="#{p:component('statoGenerale')}" />
					<p:ajax event="page" oncomplete=" rowGroupColor('altRow')" />

					<f:facet name="{Exporters}">


						<p:commandButton id="filtri" value="Elimina Filtri"
							onclick=" PF('filtroCalendario').setDate(null); PF('statoPagamentoTable').clearFilters(); "
							immediate="true" onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()" />

						<p:commandButton id="aggiorna" value="Aggiorna" immediate="true"
							actionListener="#{statoPagamentiService.aggiornaPendenze}"
							update="statoPagamentoTable #{p:component('statoGenerale')}"
							onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()" />


						<h:commandLink title="Esporta file Excel" style="float:right"
							id="exce" onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()">
							<p:graphicImage value="/resources/images/icon-xls-80.png"
								width="27" />
							<p:dataExporter type="xls" target="statoPagamentoTable"
								fileName="stato-pagamenti-#{dateUtil.getStringDate()}"
								pageOnly="true" />
						</h:commandLink>

						<h:commandLink title="Esporta file Csv" style="float:right"
							id="cs" onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()">
							<p:graphicImage value="/resources/images/icon-csv-80.png"
								width="27" />
							<p:dataExporter type="csv" target="statoPagamentoTable"
								fileName="stato-pagamenti-#{dateUtil.getStringDate()}"
								pageOnly="true" />
						</h:commandLink>

						<h:commandLink title="Esporta file Pdf" style="float:right"
							id="pd" onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()">
							<p:graphicImage value="/resources/images/icon-pdf-80.png"
								width="27" />
							<p:dataExporter type="pdf" target="statoPagamentoTable"
								fileName="stato-pagamenti-#{dateUtil.getStringDate()}"
								preProcessor="#{statoPagamentiService.preProcessPDF}"
								pageOnly="true" />
						</h:commandLink>


					</f:facet>


					<f:facet name="{colonne}">
						<p:commandButton id="toggler" type="button" value="Colonne"
							style="float:left" icon="ui-icon-calculator" />
						<p:columnToggler datasource="statoPagamentoTable"
							trigger="toggler" />
					</f:facet>

					<!-- p:column style="width:16px"  exportable="false">
		            <p:rowToggler />
		        </p:column-->


					<!-- p:column headerText="Dominio" visible="false">
			        <h:outputText value="#{pagamento.idDominio}" />
			    </p:column-->

					<p:column id="codContesto" headerText="Codice Contesto"
						filterBy="#{pagamento.codiceContesto}" visible="false">
						<h:outputText value="#{pagamento.codiceContesto}" />
					</p:column>

					<p:column id="iuv" headerText="IUV" filterBy="#{pagamento.iuv}"
						visible="false">
						<h:outputText value="#{pagamento.iuv}" />
					</p:column>



					<p:column headerText="Codice Contesto - IUV">
						<p:commandLink styleClass="tableLink" title="Dettaglio"
							value="#{pagamento.codiceContesto}"
							actionListener="#{statoPagamentiService.viewDettaglio(pagamento)}"
							oncomplete="PF('dlg2').show();" update=" #{p:component('dsDet')}"
							process="@this" />
						<br />
						<p:commandLink styleClass="tableLink" title="Dettaglio"
							value="#{pagamento.iuv}"
							actionListener="#{statoPagamentiService.viewDettaglio(pagamento)}"
							oncomplete="PF('dlg2').show();" update=" #{p:component('dsDet')}"
							process="@this" />

					</p:column>



					<!-- p:column headerText="Data Registrazione" sortBy="#{pagamento.DATA_REGISTRAZIONE}" >
			    
			        <h:outputText value="#{pagamento.DATA_REGISTRAZIONE}" >
			        	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"   timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}" type="date"/>
			        </h:outputText>
			    </p:column -->

					<!-- New start
filterBy="#{pagamento.dataRichiesta}"
filterFunction="#{dateUtil.filterByDate}"

<f:facet name="filter">
	<p:calendar widgetVar="filtroCalendario" pattern="dd/MM/yyyy" maxdate="#{pagoPaService.dataCorrente}"
		timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}" mask="true">
		<p:ajax event="dateSelect" oncomplete="PF('statoPagamentoTable').filter()" />
	</p:calendar>
</f:facet>
New end -->
					<p:column headerText="Data Richiesta"
						sortBy="#{pagamento.dataRichiesta}">

						<h:outputText value="#{pagamento.dataRichiesta}">
							<f:converter converterId="XMLGregorianCalendarConverter" />
							<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />

							<!-- <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"   timeZone="#{dateUtil.getTimeZoneRome()}" type="date"/> -->
						</h:outputText>


					</p:column>

					<p:column headerText="Importo">
						<h:outputText value="#{pagamento.importo} €" />
					</p:column>



					<p:column headerText="Pagatore">
						<h:outputText value="#{pagamento.idPagatore}" />
					</p:column>

					<p:column headerText="Versante">
						<h:outputText value="#{pagamento.idVersante}" />
					</p:column>

					<p:column headerText="Psp url" groupRow="true" exportable="false">
						<div style="display: none">
							<h:outputText
								value="#{pagamento.idCarrello!=null ? pagamento.idCarrello :pagamento.idFlusso }" />

						</div>

						<ui:fragment rendered="#{pagamento.esitoWeb == null}">
							<a href="#{pagamento.redirectUrl}" target="_blank"
								style="text-decoration: underline;">vai al sito</a>
						</ui:fragment>
						<ui:fragment rendered="#{pagamento.esitoWeb != null}">
			     		Non disponibile 
			       </ui:fragment>
					</p:column>

					<!--  p:column headerText="Stato" sortBy="#{pagamento.statoPagamento}" filterBy="#{pagamento.statoPagamento}" filterMatchMode="contains" >
			    	<f:facet name="filter">
		                <p:selectOneMenu onchange="PF('statoPagamentoTable').filter()" >
		                    <f:selectItem itemLabel="Seleziona Stato" itemValue="#{null}" noSelectionOption="true" />
		                     <f:selectItem itemLabel="RPT ACCETTATA NODO" itemValue="RPT ACCETTATA NODO"  />
		                   
		                    
		                </p:selectOneMenu>
		            </f:facet>
			    
			        <h:outputText value="#{fn:replace(pagamento.statoPagamento, '_', ' ')} " /> 
			    </p:column -->
					<!-- #{pagamento.STATO_PAGAMENTO} -->

					<!--  
			    <p:column headerText="Opzioni"  exportable="false">
			    	
			    	<h:panelGroup style="white-space: nowrap">
			    	
				   		<p:commandButton icon="ui ui-icon-arrowrefresh-1-e" style="width:20px; height:20px;" title="Aggiorna Stato" actionListener="#{statoPagamentiService.aggiornaStato(pagamento,rowIndex)}" update="statoPagamentoTable"
				   		 onstart="PF('blockUIWidget').show()" oncomplete="PF('blockUIWidget').hide()"
				   		 />
					 |
				   		<p:commandButton icon="ui 	ui-icon-document" style="width:20px; height:20px;" title="Chiedi Ricevuta" actionListener="#{statoPagamentiService.chiediRicevuta(pagamento,rowIndex)}" update="statoPagamentoTable"
				   		
				   		 onstart="PF('blockUIWidget').show()" oncomplete="PF('blockUIWidget').hide()" />	 
			   		 
			 	  	</h:panelGroup>
				
				 </p:column>			 -->




					<!-- p:rowExpansion>
			 	 		
												<div class="ui-g" style=" border-radius: 15px;  border: 2px solid #fff;  padding: 20px; margin-bottom: 10px;">
												
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Dominio:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{pagamento.idDominio}" /></div>
														</div>
													</div>
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Codice contesto:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{pagamento.codiceContesto}" /></div>
														</div>
													</div>
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="IUV:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{pagamento.iuv}" /></div>
														</div>
													</div>
												</div>
			 	 
			 	 		
			 	 
			 	 
		           
       		 </p:rowExpansion-->



				</p:dataTable>
			</div>
		</p:outputPanel>
		<p:blockUI widgetVar="blockUIWidget" block="form">
			<p:graphicImage value="/resources/images/loading.gif" />
		</p:blockUI>
		<!--trigger="#{p:component('filtri')} #{p:component('aggiorna')} #{p:component('excel')} #{p:component('csv')} #{p:component('pdf')}" -->

		<p:blockUI widgetVar="tastiUIWidget" block="form">
			<p:graphicImage value="/resources/images/loading.gif" />
		</p:blockUI>

		<ui:include src="popupDS.xhtml" />

		<h:outputScript>
	    
	   	
	   	
		   	function rowGroupColor(clazz){
				    
											
				var maxtd = 0;
				
				$("table."+clazz+" > tbody > tr > td[rowspan]").closest('tr').each(function() {
				  	maxtd = $(this).children('td').length;
				});
				  
				
				if(maxtd>0){
				  
					$("table."+clazz+" > tbody > tr.ui-datatable-even").removeClass('ui-datatable-even');
					$("table."+clazz+" > tbody > tr.ui-datatable-odd").removeClass('ui-datatable-odd');
				
					$("table."+clazz+" > tbody > tr").filter(function() { 
						return $(this).children().length == maxtd;
					}).filter(':even').addClass('ui-datatable-odd');
						
					
					$("table."+clazz+" > tbody > tr.ui-datatable-odd td[rowspan]").each(function() {
						$(this).parent().nextAll().slice(0, this.rowSpan - 1).addClass('ui-datatable-odd');
					});
					  
				}
			
			 
			}
		   	
			
			jQuery(document).ready(function() {
			
				var clazz ='altRow';
				
				rowGroupColor(clazz)
			});
	    
	    
			    
	    
	    
	    
	</h:outputScript>

	</ui:composition>
</h:body>

</html>

