<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:a="http://liferay.com/faces/alloy">


<h:head>
	<h:outputStylesheet library="css" name="main.css" />

	<script type="text/javascript">
			function start() {
			    PF('statusDialog').show();
			}
			 
			function stop() {
			    PF('statusDialog').hide();
			}
				   
		</script>

</h:head>
<h:body>
	<ui:composition>

		<br />

		<p:remoteCommand name="onload" update="#{p:component('statoGenerale')}" autoRun="true" />

		<p:outputPanel id="storicoPanel">
		
		<p:growl id="growl" showDetail="true" />
	    <p:remoteCommand name="ricerca" update=" #{p:component('storicoPagamentiTable')}" actionListener="#{storicoPagamentiService.ricerca}" process="@this" />

	 <p:panel id="myPanel" rendered="#{not empty menuService.selectedCategoria }">
	<div class="panel panel-default panel-collapsible">
		<div class="panel-heading">
			<a href="#collapse-2" class="collapsed" aria-expanded="false" aria-controls="collapse-2" data-toggle="collapse"> <i
				class="fa fa-search fa-pull-right"></i>
				<h3 class="panel-title">
					Ricerca
					<h:outputText value="#{menuService.selectedCategoria.nomeCategoria}">
					</h:outputText>
				</h3>
			</a>
		</div>
		<div id="collapse-2" class="panel-body collapse">

			<ui:include src="categorie/#{menuService.selectedCategoria.nomeCategoria}_.xhtml" />

		</div>
	</div>		</p:panel>

			<div class="panel panel-default panel-collapsible">
				<div class="panel-heading">
					<a href="#collapse-2" class="collapsed" aria-expanded="false" aria-controls="collapse-2" data-toggle="collapse"> <i
						class="fa fa-search fa-pull-right"></i>
						<h3 class="panel-title">Cerca il pagamento</h3>
					</a>
				</div>
				<div id="collapse-2" class="panel-body collapse">


					<ui:include src="pannelloRicercaPagoPa.xhtml" />

					<div align="center">
						<br /> <br />


						<p:commandButton id="cercaPagoPa" value="Cerca" validateClient="true" process="ricercaPanelPagoPa @this " action="#{storicoPagamentiService.verificaNotEmpty}"
							update="filtroPanelPagoPa ricercaPanelPagoPa #{p:component('statoGenerale')} " oncomplete=" filtraPagoPa();">
							<f:param name="validate" value="false" />

						</p:commandButton>

					</div>



					<p:outputPanel id="filtroPanelPagoPa">
						<p:remoteCommand id="filtraPagoPa" name="filtraPagoPa"
							oncomplete=" if(#{datiSpecifici.dominioPagoPA != null}) {setFiltri('storicoPagamentiTable:codContesto','#{datiSpecifici.dominioPagoPA.codiceContesto}'); setFiltri('storicoPagamentiTable:iuv','#{datiSpecifici.dominioPagoPA.iuv}');   PF('storicoPagamentiTable').filter();}" />
					</p:outputPanel>



				</div>
			</div>

			<!-- 				          <p:blockUI block="tabCercaPanel" trigger="cerca cercaPagoPa">
								         <p:graphicImage value="/resources/images/loading.gif" />
								    </p:blockUI>  
					        
					 
			    
			 <br/>
			 <p:blockUI block="storicoPagamentiTable tabCercaPanel" trigger="storicoPagamentiTable">
		         <p:graphicImage value="/resources/images/loading.gif" />
		    </p:blockUI> -->


			<p:remoteCommand name="aggiornaTable" actionListener="#{storicoPagamentiService.aggiorna}" update="storicoPagamentiTable" oncomplete="PF('storicoPagamentiTable').paginator.setPage(0); PF('storicoPagamentiTable').filter(); " />
			<p:remoteCommand name="eliminaFiltri" update="storicoPagamentiTable"
				onstart="PF('filtroCalendarioRichiesta').setDate(null); PF('filtroCalendarioRicevuta').setDate(null); PF('storicoPagamentiTable').clearFilters();" />

			<div class="panel panel-primary">

				<div class="panel-heading">
					<div class="panel-title">Elenco Storico Pagamenti</div>
				</div>
				<p:dataTable var="pagamento" value="#{storicoPagamentiService.listaStoricoPagamentiLazy}" lazy="true" reflow="true" rows="25"
					id="storicoPagamentiTable" paginator="true" currentPageReportTemplate="#{msg['datatbl_currPageTmpl']}" widgetVar="storicoPagamentiTable"
					emptyMessage="Nessun elemento presente"
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
					rowsPerPageTemplate="15,25,50" rowIndexVar="rowIndex" tableStyle="table-layout: auto;" tableStyleClass="altRow">
					<!--  expandedRow="#{true}" expandedRowsGroups="false" -->
					<!-- style="font-size:80%;" -->

					<!-- {colonne} -->
					<f:facet name="{Exporters}">


						<p:commandButton id="filtri" value="Elimina Filtri"
							onclick=" PF('filtroCalendarioRichiesta').setDate(null); PF('filtroCalendarioRicevuta').setDate(null); PF('storicoPagamentiTable').clearFilters(); "
							immediate="true" onstart="PF('tastiUIWidget').show()" oncomplete="PF('tastiUIWidget').hide()" />
						<!-- actionListener="#{storicoPagamentiService.pulisciFiltri}" -->

						<p:commandButton id="aggiorna" value="Aggiorna" immediate="true" actionListener="#{storicoPagamentiService.aggiornaStorico}"
							update="storicoPagamentiTable #{p:component('statoGenerale')}" onstart="PF('tastiUIWidget').show()" oncomplete="  PF('tastiUIWidget').hide()" />
						<!-- aggiornaStoricoPagamentiTable(); -->


						<h:commandLink title="Esporta file Excel" style="float:right" id="sexcel" onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()">
							<p:graphicImage value="/resources/images/icon-xls-80.png" width="27" />
							<p:dataExporter type="xls" target="storicoPagamentiTable" fileName="storico-pagamenti-#{dateUtil.getStringDate()}" pageOnly="true" />
						</h:commandLink>

						<h:commandLink title="Esporta file Csv" style="float:right" id="scsv" onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()">
							<p:graphicImage value="/resources/images/icon-csv-80.png" width="27" />
							<p:dataExporter type="csv" target="storicoPagamentiTable" fileName="storico-pagamenti-#{dateUtil.getStringDate()}" pageOnly="true" />
						</h:commandLink>

						<h:commandLink title="Esporta file Pdf" style="float:right" id="spdf" onstart="PF('tastiUIWidget').show()"
							oncomplete="PF('tastiUIWidget').hide()">
							<p:graphicImage value="/resources/images/icon-pdf-80.png" width="27" />
							<p:dataExporter type="pdf" target="storicoPagamentiTable" fileName="storico-pagamenti-#{dateUtil.getStringDate()}"
								preProcessor="#{storicoPagamentiService.preProcessPDF}" pageOnly="true" />
						</h:commandLink>

						<!-- <p:commandButton id="toggler" type="button" value="Colonne" style="float:right" icon="ui-icon-calculator" />
		 			 <p:columnToggler datasource="storicoPagamentiTable" trigger="toggler" />
		           -->

					</f:facet>
					<f:facet name="{colonne}">
						<p:commandButton id="toggler" type="button" value="Colonne" style="float:left" icon="ui-icon-calculator" />
						<p:columnToggler datasource="storicoPagamentiTable" trigger="toggler" />
					</f:facet>

					<p:ajax event="rowToggle" listener="#{storicoPagamentiService.onRowToggle}" update="#{p:component('statoGenerale')}" />

					<p:ajax event="page" oncomplete="  rowGroupColor('altRow')" />

					<!-- p:column style="width:16px"  exportable="false">
		            <p:rowToggler />
		        </p:column-->


					<!-- p:column headerText="Dominio" visible="false">
			        <h:outputText value="#{pagamento.idDominio}" />
			    </p:column-->

					<p:column id="codContesto" headerText="Codice Contesto" filterBy="#{pagamento.codiceContesto}" visible="false">
						<h:outputText value="#{pagamento.codiceContesto}" />
					</p:column>

					<p:column id="iuv" headerText="IUV" filterBy="#{pagamento.iuv}" visible="false">
						<h:outputText value="#{pagamento.iuv}" />
					</p:column>


					<p:column  headerText="Codice Contesto - IUV" >
						 <p:commandLink styleClass="tableLink"   title="Dettaglio" value="#{pagamento.codiceContesto}"  actionListener="#{statoPagamentiService.viewDettaglio(pagamento)}"  
						 oncomplete="PF('dlg2').show();" update=" #{p:component('dsDet')}" process="@this"/>
						<br/>
						 <p:commandLink styleClass="tableLink" title="Dettaglio" value="#{pagamento.iuv}"  actionListener="#{statoPagamentiService.viewDettaglio(pagamento)}"  
						 oncomplete="PF('dlg2').show();" update=" #{p:component('dsDet')}" process="@this"/>
	
					</p:column>

					

					<!-- p:column headerText="Data Registrazione" sortBy="#{pagamento.DATA_REGISTRAZIONE}" >
			    
			        <h:outputText value="#{pagamento.DATA_REGISTRAZIONE}" >
			        	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"   timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}" type="date"/>
			        </h:outputText>
			    </p:column -->


					<p:column headerText="Data Richiesta" sortBy="#{pagamento.dataRichiesta}" filterBy="#{pagamento.dataRichiesta}"
						filterFunction="#{dateUtil.filterByDate}">
						<f:facet name="filter">

							<p:calendar widgetVar="filtroCalendarioRichiesta" pattern="dd/MM/yyyy" maxdate="#{pagoPaService.dataCorrente}"
								timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}" mask="true" >
								<p:ajax event="dateSelect" oncomplete="PF('storicoPagamentiTable').filter()" />
							</p:calendar>

						</f:facet>
						<h:outputText value="#{pagamento.dataRichiesta}">
							<f:converter converterId="XMLGregorianCalendarConverter" />
							<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />

							<!-- 	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"  timeZone="#{dateUtil.getTimeZoneRome()}" type="date"/>-->
						</h:outputText>
					</p:column>


					<p:column headerText="Data Ricevuta" sortBy="#{pagamento.dataRicevuta}" filterBy="#{pagamento.dataRicevuta}"
						filterFunction="#{dateUtil.filterByDate}">
						<f:facet name="filter">

							<p:calendar widgetVar="filtroCalendarioRicevuta" pattern="dd/MM/yyyy" maxdate="#{pagoPaService.dataCorrente}"
								timeZone="#{TimeZone.getTimeZone(facesContext.externalContext.requestLocale)}" mask="true">
								<p:ajax event="dateSelect" oncomplete="PF('storicoPagamentiTable').filter()" />
							</p:calendar>

						</f:facet>
						<h:outputText value="#{pagamento.dataRicevuta}">
							<!-- <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"   timeZone="#{dateUtil.getTimeZoneRome()}" type="date"/>-->
							<f:converter converterId="XMLGregorianCalendarConverter" />
							<f:attribute name="pattern" value="dd/MM/yyyy HH:mm:ss" />

						</h:outputText>
					</p:column>

					<p:column headerText="Importo">
						<h:outputText value="#{pagamento.importo} €" />
					</p:column>

					<p:column headerText="Pagatore">
						<h:outputText value="#{pagamento.idPagatore}" />
					</p:column>

					<p:column headerText="Versante">
						<h:outputText value="#{pagamento.idVersante}" />
					</p:column>

					<p:column headerText="Stato" sortBy="#{pagamento.statoPagamento}" filterBy="#{pagamento.statoPagamento}" filterMatchMode="contains">

						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('storicoPagamentiTable').filter()">
								<f:selectItem itemLabel="Seleziona Stato" itemValue="#{null}" noSelectionOption="true" />
								<f:selectItem itemLabel="RT ACCETTATA PA" itemValue="RT ACCETTATA PA" />
								<f:selectItem itemLabel="RPT RIFIUTATA NODO" itemValue="RPT RIFIUTATA NODO" />
								<f:selectItem itemLabel="RPT RIFIUTATA PSP" itemValue="RPT RIFIUTATA PSP" />
								<f:selectItem itemLabel="RPT ERRORE INVIO A PSP" itemValue="RPT ERRORE INVIO A PSP" />

							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{fn:replace(pagamento.statoPagamento, '_', ' ')} " />
						<!-- #{pagamento.STATO_PAGAMENTO} -->
					</p:column>

					<p:column headerText="Esito" sortBy="#{pagamento.esitoPagamento}" filterBy="#{pagamento.esitoPagamento}" filterMatchMode="contains">
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('storicoPagamentiTable').filter()" style="min-width: 130px;">
								<f:selectItem itemLabel="Seleziona Esito" itemValue="#{null}" noSelectionOption="true" />
								<f:selectItem itemLabel="ESEGUITO" itemValue="PAGAMENTO ESEGUITO" />
								<f:selectItem itemLabel="NON  ESEGUITO" itemValue="PAGAMENTO NON ESEGUITO" />
							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{fn:replace(fn:replace(pagamento.esitoPagamento, '_', ' '), 'PAGAMENTO','')} " />
						<!-- <h:outputText value="#{pagamento.ESITO_PAGAMENTO}" /> -->
					</p:column>

					<p:column headerText="Opzioni" exportable="false">

						<p:commandLink id="stampaQuietanza" title="Chiedi Quietanza" immediate="true" process="@this"
							actionListener="#{storicoPagamentiService.downloadAttestazioneRT(rowIndex)}" ajax="true" update="#{p:component('statoGenerale')}"
							onstart="PF('blockUIWidget').show()" oncomplete="PF('blockUIWidget').hide()"
							disabled="#{pagamento.idRicevuta ==null or not pagamento.statoPagamento eq 'RT_ACCETTATA_PA' or pagamento.esitoPagamento eq 'PAGAMENTO_NON_ESEGUITO' }">

							<!--   
				        
				        to do  disabled non se ricevuta == null  ma se ricevuta == null o ricevuta è != da rt accettata pa o ... -->

							<h:outputText value="" styleClass="fa fa-file-o" />

						</p:commandLink>


						<p:commandLink id="downlaodRicevuta" title="Download Ricevuta" immediate="true" process="@this"
							actionListener="#{storicoPagamentiService.downloadRicevuta(rowIndex)}" ajax="true" update="#{p:component('statoGenerale')}"
							onstart="PF('blockUIWidget').show()" oncomplete="PF('blockUIWidget').hide()"
							disabled="#{pagamento.idRicevuta ==null or not pagamento.statoPagamento eq 'RT_ACCETTATA_PA'}">

							<!--   
				        
				        to do  disabled non se ricevuta == null  ma se ricevuta == null o ricevuta è != da rt accettata pa o ... -->

							<h:outputText value="" styleClass="fa fa-arrow-down" />
						</p:commandLink>


					</p:column>

					<p:column headerText="Opzioni Comuni" groupRow="true" exportable="false">
						<div style="display: none">
							<h:outputText value="#{pagamento.idCarrello!=null ? pagamento.idCarrello :pagamento.idFlusso }" />



						</div>
						<div align="center">
							<p:commandLink id="stampaQuietanze" title="Chiedi Quietanze" immediate="true" process="@this" ajax="true"
								rendered="#{pagamento.idCarrello!=null}" update="#{p:component('statoGenerale')}" onstart="PF('blockUIWidget').show()"
								oncomplete="PF('blockUIWidget').hide()"
								disabled="#{pagamento.idCarrello ==null or pagamento.idRicevuta ==null or not pagamento.statoPagamento eq 'RT_ACCETTATA_PA' or  pagamento.esitoPagamento eq 'PAGAMENTO_NON_ESEGUITO' }"
								actionListener="#{storicoPagamentiService.downloadAttestazioneCarrello(rowIndex)}">

								<!--   
					        
					        to do  disabled non se ricevuta == null  ma se ricevuta == null o ricevuta è != da rt accettata pa o ... -->
								<h:outputText value="" styleClass="fa fa-file-text-o" />

							</p:commandLink>

							<p:commandLink id="downloadRicevute" title="Download Ricevute" immediate="true" process="@this" ajax="true"
								rendered="#{pagamento.idCarrello!=null}" onstart="PF('blockUIWidget').show()" oncomplete="PF('blockUIWidget').hide()"
								update="#{p:component('statoGenerale')}"
								disabled="#{pagamento.idCarrello ==null or pagamento.idRicevuta ==null or not pagamento.statoPagamento eq 'RT_ACCETTATA_PA'}"
								actionListener="#{storicoPagamentiService.downloadCarrelloRicevuta(rowIndex )}">

								<!--   
					        
					        to do  disabled non se ricevuta == null  ma se ricevuta == null o ricevuta è != da rt accettata pa o ... -->

								<h:outputText value="" styleClass="fa fa-arrow-down" />

							</p:commandLink>



						</div>
					</p:column>






					<!-- p:rowExpansion>
			 	 		<div class="ui-g" style=" border-radius: 15px;  border: 2px solid #fff;  padding: 20px; margin-bottom: 10px;">
												
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Dominio:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{pagamento.idDominio}" /></div>
														</div>
													</div>
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="Codice contesto:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{pagamento.codiceContesto}" /></div>
														</div>
													</div>
													<div class="ui-g-12">
														 <div class="ui-g">
														    <div class="ui-g-3"><h:outputText value="IUV:" /></div>
														    <div class="ui-g-9"><h:outputText value="#{pagamento.iuv}" /></div>
														</div>
													</div>
								</div>			
			 	 		
			 	 		
			 				
			 	 
		           
       					 </p:rowExpansion-->





				</p:dataTable>
			</div>
		</p:outputPanel>

		<p:blockUI widgetVar="blockUIWidget" block="form">
			<p:graphicImage value="/resources/images/loading.gif" />
		</p:blockUI>
 
		<p:blockUI widgetVar="tastiUIWidget" block="form">
			<p:graphicImage value="/resources/images/loading.gif" />
		</p:blockUI>

        <ui:include src="popupDS.xhtml" />
        
		<h:outputScript>
	    
	   	
	   	
		   	function rowGroupColor(clazz){
				    
											
				var maxtd = 0;
				
				$("table."+clazz+" > tbody > tr > td[rowspan]").closest('tr').each(function() {
				  	maxtd = $(this).children('td').length;
				});
				  
				
				if(maxtd>0){
				  
					$("table."+clazz+" > tbody > tr.ui-datatable-even").removeClass('ui-datatable-even');
					$("table."+clazz+" > tbody > tr.ui-datatable-odd").removeClass('ui-datatable-odd');
				
					$("table."+clazz+" > tbody > tr").filter(function() { 
						return $(this).children().length == maxtd;
					}).filter(':even').addClass('ui-datatable-odd');
						
					
					$("table."+clazz+" > tbody > tr.ui-datatable-odd td[rowspan]").each(function() {
						$(this).parent().nextAll().slice(0, this.rowSpan - 1).addClass('ui-datatable-odd');
					});
					  
				}
			
			 
			}
		   	
			
			jQuery(document).ready(function() {
			
				var clazz ='altRow';
				
				rowGroupColor(clazz)
			});
	      
	</h:outputScript>

	</ui:composition>
</h:body>
</html>

