<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<f:view locale="#{facesContext.externalContext.requestLocale}">
	<h:head>
		<script src="../resources/js/main.js" />

		<h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />
		<h:outputStylesheet name="css/app/grid.css" />
		<h:outputStylesheet name="css/app/menu.css" />
		<h:outputStylesheet name="css/app/common.css" />
		<h:outputStylesheet name="css/app/app.css" />
		<h:outputStylesheet name="css/addestramento/NEW.css" />
		<h:outputScript library="primefaces" name="jquery/jquery.js" />

		<style>
li.ui-tabmenuitem {
	width: 33% !important;
	border: none !important;
	background: #fff !important;
}
</style>

		<script type="text/javascript">
			PrimeFaces.locales['it'] = {
				closeText : 'Chiudi',
				prevText : 'Precedente',
				nextText : 'Prossimo',
				monthNames : [ 'Gennaio', 'Febbraio', 'Marzo', 'Aprile',
						'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre',
						'Ottobre', 'Novembre', 'Dicembre' ],
				monthNamesShort : [ 'Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu',
						'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic' ],
				dayNames : [ 'Domenica', 'Lunedì', 'Martedì', 'Mercoledì',
						'Giovedì', 'Venerdì', 'Sabato' ],
				dayNamesShort : [ 'Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven',
						'Sab' ],
				dayNamesMin : [ 'D', 'L', 'M', 'M ', 'G', 'V ', 'S' ],
				weekHeader : 'Sett',
				firstDay : 1,
				isRTL : false,
				showMonthAfterYear : false,
				yearSuffix : '',
				timeOnlyTitle : 'Solo Tempo',
				timeText : 'Ora',
				hourText : 'Ore',
				minuteText : 'Minuto',
				secondText : 'Secondo',
				currentText : 'Data Odierna',
				ampm : false,
				month : 'Mese',
				week : 'Settimana',
				day : 'Giorno',
				allDayText : 'Tutto il Giorno'
			};
		</script>
	</h:head>
	<h:body>

		<!-- QUI GESTIREMO I DOMINI  -->
		<ui:composition template="#{statoPagamentiService.layout}">

			<ui:define name="content">
				<ui:include src="#{statoPagamentiService.content}" />
			</ui:define>
		</ui:composition>




	</h:body>
</f:view>
</html>

