<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:s="http://www.sogei.it/dogane/jsf">
    <head>
        <title>Sessione scaduta</title>
        <!-- meta http-equiv="refresh" content="0;url=#{request.contextPath}/pages/selezioneEsercente.xhtml" /-->
    </head>
    <body>
    	<ui:composition template="/pages/layouts/basic-layout.xhtml">
    		<ui:define name="content">
    			<!-- f:event type="preRenderView" listener="#{esercenteBean.esercentiByIncaricato }"/-->
    		
    			<div id="ti_trovi">
                	#{msg['homepage.trovi']} <p:link href="#{msg['homepage.url']}" value="#{msg['homepage.pageTitle']}" styleClass="first breadcrumb-truncate"/> - #{msg['homepage.ambiente']}
              	</div>
              	<h1 class="verdana">#{msg['homepage.pageTitle']}</h1>       
		        <div class="ui-grid ui-grid-responsive" style="width: 100%;">
		        	<br/>
			        <h1 class="verdana">Sessione scaduta</h1>
			        <br/>       
					<h:form id="loginform">						    			      
						<s:logout success="logout" logoutLabel="Continua"/>
					</h:form>
					<br/>				
		  		</div>		  	
    		</ui:define>
    	</ui:composition>
    </body>
</html>