<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<p:fieldset id="ricerca">
	<p:panelGrid styleClass="ui-noborder"  layout="grid"   columns="6">
	    <p:outputLabel for="capor" value="Capo:" />
       <p:selectOneMenu id="capor" value="#{datiSpecifici.accise.capo}"  
                 filter="true" filterMatchMode="startsWith" >
                 <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItems value="#{datiSpecifici.spontaneoCustom.capoList}" />
       </p:selectOneMenu>

        <p:outputLabel for="capit" value="Capitolo:" />
	
	   <p:selectOneMenu id="capit" value="#{datiSpecifici.accise.capitolo}" filter="true" 
	    valueChangeListener="#{menuService.changeCapitolo}" filterMatchMode="startsWith">
	     <p:ajax event="change" update="art" onstart="PF('blockUIWidget').show()"  oncomplete="PF('blockUIWidget').hide()"/>
            <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItems value="#{menuService.capitoliList}" />
          
        </p:selectOneMenu>
	
	   <p:outputLabel for="art" value="Articolo:" />
	   <p:selectOneMenu id="art" value="#{datiSpecifici.accise.articolo}" disabled="#{datiSpecifici.spontaneoCustom.articoliList.isEmpty()}" >
            <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItems value="#{datiSpecifici.spontaneoCustom.articoliList}" />
        </p:selectOneMenu>
         <p:outputLabel for="prov" value="Provincia:" />
	   <p:selectOneMenu id="prov" value="#{datiSpecifici.accise.provincia}" filter="true" filterMatchMode="startsWith">
            <f:selectItem itemLabel="Seleziona" itemValue="" />
             <f:selectItems value="#{datiSpecifici.spontaneoCustom.provList}" />
        </p:selectOneMenu>
		<p:outputLabel for="codDt" value="Codice Ditta:" />
		<p:inputText id="codDt" value="#{datiSpecifici.accise.codiceDitta}" size="10">
		<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
		  <f:validateRegex pattern="([A-Z]{3}[0-9]{5}[A-Z])"/>
		</p:inputText>
		<p:outputLabel for="codFisc" value="CF/PIVA Intestatario:" />
		<p:inputText id="codFisc" value="#{datiSpecifici.accise.codiceFiscPIvaGestore}"  maxlength="17" style="max-width: 170px;" >
		<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
		 <f:validateRegex pattern="([A-Za-z]{6}[0-9]{2}[A-Za-z]{1}[0-9]{2}[A-Za-z]{1}[0-9]{3}[A-Za-z]{1})|([0-9]{11})"/>
		</p:inputText>
		
    <p:outputLabel for="perRif" value="Periodo Riferimento:" />
		<p:inputText id="perRif" value="#{datiSpecifici.accise.periodoRif}" size="10">
		</p:inputText>
		
	</p:panelGrid>
	<br />
	<div align="center">
 		<p:commandButton value="Ricerca" oncomplete=" if(typeof ricerca === 'function') ricerca();PF('blockUIWidget').hide();" update="ricerca" process="ricerca @this" onstart="PF('blockUIWidget').show()">
			<f:setPropertyActionListener target="#{datiSpecifici.ricercaObject}" value="#{datiSpecifici.accise}" />
		</p:commandButton>
		<p:commandButton value="Elimina Filtri" actionListener="#{debitiService.reset}" oncomplete="PF('blockUIWidget').hide();" update="ricerca #{p:component('debitiTable')}" process="@this" onstart="PF('blockUIWidget').show()">
		</p:commandButton>
	</div>
</p:fieldset>
</html>


