<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

		      
	
	
	<h:outputText value="#{menuService.getDenominazioneServizio(admPayObj.idServizio)}: " rendered="#{admPayObj.getClass().simpleName == 'AdmPay' and isStorico != true}" />
	<h:outputText value="#{menuService.getDenominazioneServizio(admPayObj.admPay.idServizio)}: " rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart' and isStorico != true}" />
    
    
    
    <h:outputText id="codDitg" value="#{obj.codiceDitta} " />
    <p:tooltip id="toolTipCDg" for="codDitg" value="Codice Ditta" trackMouse="true" />
    <h:outputText id="capitg" value="#{obj.capitolo} " />
    <p:tooltip id="toolTipCPg" for="capitg" value="Capitolo" trackMouse="true" />
    <h:outputText id="artg" value="#{obj.articolo} " />
    <p:tooltip id="toolTipARg" for="artg" value="Articolo" trackMouse="true" />
    <h:outputText id="provg" value="#{obj.provincia} " />
    <p:tooltip id="toolTipPRg" for="provg" value="Provincia" trackMouse="true" />
    <h:outputText id="perRifg" value="#{obj.periodoRif} " />
    <p:tooltip id="toolTipPRIFg" for="perRifg" value="Periodo Riferimento" trackMouse="true" />
    <!-- h:outputText id="cfpivag" value="#{obj.codiceFiscPIvaGestore} "   maxlength="17"  style=" max-width: 170px;"/>
    <p:tooltip id="toolTipCFPg" for="cfpivag" value="CF/PIVA Intestatario" trackMouse="true"  /-->
    
    
    <h:outputText id="cfvers" value=" #{admPayObj.cfVersante} "   maxlength="17"  style=" max-width: 170px;"   rendered="#{ admPayObj.getClass().simpleName == 'AdmPay' and admPayObj.cfVersante!=obj.codiceFiscPIvaGestore  }"/>
    <p:tooltip id="toolTipCfvers" for="cfvers" value="CF/PIVA Versante" trackMouse="true"  rendered="#{ admPayObj.getClass().simpleName == 'AdmPay' and admPayObj.cfVersante!= obj.codiceFiscPIvaGestore    }" />
    
     <h:outputText id="cfversc" value=" #{admPayObj.admPay.cfVersante} "   maxlength="17"  style=" max-width: 170px;"   rendered="#{ admPayObj.getClass().simpleName == 'AdmPayCart' and admPayObj.admPay.cfVersante!=obj.codiceFiscPIvaGestore  }"/>
    <p:tooltip id="toolTipCfversc" for="cfversc" value="CF/PIVA Versante" trackMouse="true"  rendered="#{ admPayObj.getClass().simpleName == 'AdmPayCart' and admPayObj.admPay.cfVersante!= obj.codiceFiscPIvaGestore    }" />
    
    
    <h:outputText id="prot" value="#{admPayObj.protocollo} " rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />
     <h:outputText id="prot1" value="#{admPayObj.admPay.protocollo} "  rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
    <p:tooltip id="toolProt" for="prot" value="idPay" trackMouse="true"  rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}"  />
     <p:tooltip id="toolProt1" for="prot1" value="idPay" trackMouse="true"   rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}"/>   
	<br />
	<h:outputText value="#{admPayObj.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />	
	<h:outputText value="#{admPayObj.admPay.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />	
	
	
		
	
</html>

