<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



			
				
	<h:outputText value="Bollo Digitale: " rendered="#{isStorico != true }"/>
    <h:outputText id="protocolloBolloDigitale" value="#{obj.protocollo} " />
    
    <p:tooltip id="toolTipprotocolloBolloDigitale" for="protocolloBolloDigitale" value="Protocollo" trackMouse="true" />
    
    <h:outputText value="#{(obj.protocollo !=null and obj.idPay !=null)? ' - ' : ''  }" />
    
    <h:outputText id="idPayBolloDigitale" value="#{obj.idPay} " />
    <p:tooltip id="toolTipidPayBolloDigitale" for="idPayBolloDigitale" value="Protocollo" trackMouse="true" />
	
	
	<br />
	<h:outputText value="#{admPayObj.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />
	<h:outputText value="#{admPayObj.admPay.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
	
				
</html>

