<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


 <p:fieldset id="ricerca">
 <c:set var="obj" value="#{datiSpecifici.getDatiSpecifici(admPayObj)}" />
 	<!-- <p:messages for="bol" id="bol"  closable="true" styleClass="alert" showDetail="true" severity="fatal, warn, info"/>

 -->
 		<p:outputLabel  value="Ricerca il Bollo Digitale inserendo il protocollo o l'id del debito"> </p:outputLabel>
 
	<p:panelGrid styleClass="ui-noborder"  layout="grid"   columns="4" > <!-- style="margin: 0 40%" -->
		
	
		<!-- <p:outputLabel for="protocolloBolloDigitale" value="Protocollo:" />
		<p:inputText id="protocolloBolloDigitale" value="#{datiSpecifici.bolloDigitale.protocollo}" maxlength="10" required="false">
		    <p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
			<f:validateRegex pattern="([a-zA-Z0-9]{8}(19|20|21]))"/>
		</p:inputText> -->

		<p:outputLabel for="idPayBolloDigitale" value="Id Debito:" />
		<p:inputText id="idPayBolloDigitale" widgetVar="idPayBolloDigitale" value="#{datiSpecifici.bolloDigitale.idPay}" maxlength="10" >
			<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
			<f:validateRegex pattern="([a-zA-Z0-9]{8}(19|20|21]))"/>
		</p:inputText>
		
		
		</p:panelGrid>
		<div align="center">
		<!-- -->
		<br />
		<p:commandButton value="Ricerca" oncomplete=" if(typeof ricerca === 'function') ricerca();PF('blockUIWidget').hide();" 
		update="ricerca" process="ricerca @this" onstart="PF('blockUIWidget').show()">
			<f:setPropertyActionListener target="#{datiSpecifici.ricercaObject}" value="#{datiSpecifici.bolloDigitale}" />
		</p:commandButton>
		
		<p:commandButton value="Elimina Filtri" onclick="svuotaFiltriBollo();" oncomplete="PF('blockUIWidget').hide();"  update="ricerca #{p:component('debitiTable')}" process="@this" 
		onstart="PF('blockUIWidget').show()" immediate="true" action="#{debitiService.reset}">
		</p:commandButton>
	</div>
</p:fieldset>

</html>

