<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">


					<ui:fragment rendered="#{siglaServizio == 'OPCCD'}">
						<ui:include src="OPCCD_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'DOCPA'}">
						<ui:include src="DOCPA_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'BMELE'}">
						<ui:include src="BMELE_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'ISTAL'}">
						<ui:include src="ISTAL_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'SALDI'}">
						<ui:include src="SALDI_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'ISTTR'}">
						<ui:include src="ISTTR_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'BOLLO'}">
						<ui:include src="BOLLO_DS.xhtml" />
					</ui:fragment>
							<ui:fragment rendered="#{siglaServizio == 'PSETT'}">
						<ui:include src="PSETT_DS.xhtml" />
					</ui:fragment>
					
					<ui:fragment rendered="#{siglaServizio == 'ALCOL' 
											or siglaServizio == 'ELETT'
											or siglaServizio == 'PROEN'
											or siglaServizio == 'GASNA'
											or siglaServizio == 'LUBIT'
											}">
						<ui:include src="ACCISE_DS.xhtml" />
					</ui:fragment>
					
					
					<!-- ui:fragment rendered="#{siglaServizio == 'ALCOL'}">
						<ui:include src="ALCOL_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'ELETT'}">
						<ui:include src="ELETT_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'PROEN'}">
						<ui:include src="PROEN_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'GASNA'}">
						<ui:include src="GASNA_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'LUBIT'}">
						<ui:include src="LUBIT_DS.xhtml" />
					</ui:fragment-->
			
	

</html>

