<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<p:fieldset id="ricerca">
	<p:panelGrid styleClass="ui-noborder"  layout="grid"   columns="4">

		<p:outputLabel for="codUf" value="Codice Ufficio:" />
		<p:inputText id="codUf" value="#{datiSpecifici.docpa.codUffDog}" maxlength="6" required="true">
			<f:validateLongRange minimum="10000" maximum="999999" />
		</p:inputText>
		<p:outputLabel for="codReg" value="Codice Registro:" />
		<p:inputText id="codReg" value="#{datiSpecifici.docpa.codReg}" maxlength="4" required="true">
			<f:validateLength maximum="4" minimum="1" />
		</p:inputText>
		<p:outputLabel for="numReg" value="Numero Registro:" />
		<p:inputText id="numReg" value="#{datiSpecifici.docpa.numReg}" maxlength="8" required="true">
			<f:validateLongRange minimum="1" maximum="99999999" />
		</p:inputText>
		<p:outputLabel for="cin" value="Cin:" />
		<p:inputText id="cin" value="#{datiSpecifici.docpa.cinReg}" maxlength="1" required="true">
		    <f:validateRegex pattern="^[A-Z0-9]$" /> 
			<f:validateLength maximum="1" />
		</p:inputText>
		<p:outputLabel for="dataReg" value="Data Registro:"/>
        <p:calendar id="dataReg" value="#{datiSpecifici.dataRicerca}"  readonlyInput="true"  locale="it" required="true"  navigator="true" pattern="dd/MM/yyyy" title="Selezionare una data" >
         </p:calendar>
	</p:panelGrid>
	<br />
	<div align="center">
		<p:commandButton value="Ricerca" oncomplete=" if(typeof ricerca === 'function') ricerca();PF('blockUIWidget').hide();" update="ricerca" process="ricerca @this" onstart="PF('blockUIWidget').show()">
			<f:setPropertyActionListener target="#{datiSpecifici.ricercaObject}" value="#{datiSpecifici.docpa}" />
		</p:commandButton>
		  <p:commandButton value="Elimina Filtri" actionListener="#{debitiService.reset}" oncomplete="PF('blockUIWidget').hide();"  update="ricerca #{p:component('debitiTable')}" process="@this" onstart="PF('blockUIWidget').show()">
		</p:commandButton>
	</div>
</p:fieldset>
</html>

