<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


		        
 	<h:outputText value="Dichiarazione doganale: " rendered="#{ isStorico != true }" />
    <h:outputText id="codUf" value="#{obj.codUffDog} " />
    <p:tooltip id="toolTipCU" for="codUf" value="Codice Ufficio" trackMouse="true" />
    <h:outputText id="codReg" value="#{obj.codReg} " />
    <p:tooltip id="toolTipCR" for="codReg" value="Registro" trackMouse="true" />
    <h:outputText id="numReg" value="#{obj.numReg} " />
    <p:tooltip id="toolTipNR" for="numReg" value="Numero Registro" trackMouse="true" />
    <h:outputText id="cin" value="#{obj.cinReg} " />
    <p:tooltip id="toolTipCIN" for="cin" value="Cin" trackMouse="true" />
    <h:outputText id="dataReg" value="#{obj.dataReg}" converter="XMLGregorianCalendarConverter">
	<f:attribute name="pattern" value="dd/MM/yyyy" />
	<f:attribute name="timeZone" value="#{dateUtil.getTimeZoneRome()}" />
    </h:outputText>
    <p:tooltip id="toolTipDR" for="dataReg" value="Data Registro" trackMouse="true" />
    
    <h:outputText id="protdo" value="#{admPayObj.protocollo} " rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />
     <h:outputText id="protdo1" value="#{admPayObj.admPay.protocollo} "  rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
    <p:tooltip id="toolProtdo" for="protdo" value="idPay" trackMouse="true"  rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}"  />
     <p:tooltip id="toolProtdo1" for="protdo1" value="idPay" trackMouse="true"   rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}"/>
	
		        
	<br />
	<h:outputText value="#{admPayObj.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />		        
	<h:outputText value="#{admPayObj.admPay.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
</html>

