<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	      
	<h:outputText value="Conto di Debito: " rendered="#{isStorico != true }"/>
    <h:outputText value="CD-" />
    <h:outputText id="conto" value="#{obj.conto}" />
    <p:tooltip id="toolTipConto" for="conto" value="Conto" trackMouse="true" />
    <h:outputText  value="-P-" />
    <h:outputText id="mese" value="#{obj.mese} " />
    <p:tooltip id="toolTipMese" for="mese" value="Mese" trackMouse="true" />
    <h:outputText id="anno" value="#{obj.anno}" />
    <p:tooltip id="toolTipAnno" for="anno" value="Anno" trackMouse="true" />
    <h:outputText id="numero" value="#{obj.numero}" />
    <p:tooltip id="toolTipNumero" for="numero" value="Numero" trackMouse="true" />
    <h:outputText value="-" />
    <h:outputText id="protop" value="#{admPayObj.protocollo} " rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />
     <h:outputText id="protop1" value="#{admPayObj.admPay.protocollo} "  rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
    <p:tooltip id="toolProtop" for="protop" value="idPay" trackMouse="true"  rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}"  />
     <p:tooltip id="toolProtop1" for="protop1" value="idPay" trackMouse="true"   rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}"/>
	        
	<br />
	<h:outputText value="#{admPayObj.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />	
	<h:outputText value="#{admPayObj.admPay.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
</html>

