<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

 <p:fieldset id="ricerca">
    <p:panelGrid styleClass="ui-noborder" style="text-align:center;margin: 0 auto;" columns="7">
     <f:verbatim/>
     <p:outputLabel for="conto" value="Conto:"/>
     <f:verbatim/>
     <p:outputLabel for="mese" value="Mese:" />
     <p:outputLabel for="anno" value="Anno:"/>
     <p:outputLabel for="numero" value="Numero:"/>
     <f:verbatim/>
     
       <p:outputLabel id="pfi"   value="#{datiSpecifici.opccd.pfIiniziale}" />
       <p:inputText id="conto" value="#{datiSpecifici.opccd.conto}" />
       <p:outputLabel id="pfint"  value="#{datiSpecifici.opccd.pfIntermedia}" />
      <p:inputText id="mese" value="#{datiSpecifici.opccd.mese}" >
        <f:validateLongRange minimum="1" maximum="12" />
       </p:inputText>
       <p:inputMask id="anno" value="#{datiSpecifici.opccd.anno}" mask="9999" maxlength="4"/>
       <p:inputText id="numero" value="#{datiSpecifici.opccd.numero}" maxlength="9" >
         <f:validateLongRange minimum="1" maximum="999999999" />
       </p:inputText>
       <p:outputLabel id="pff"  value="#{datiSpecifici.opccd.pfFinale}" />
         <f:verbatim/>
        <p:message for="conto" display="icon" />
          <f:verbatim/>
         <p:message for="mese" display="icon" />
          <p:message for="anno" display="icon" />
           <p:message for="numero" display="icon" />
             <f:verbatim/>
    </p:panelGrid>
    <br />
    <div align="center">
        <p:commandButton value="Ricerca"  oncomplete=" if(typeof ricerca === 'function') ricerca();PF('blockUIWidget').hide();" update="ricerca"  process="ricerca @this" onstart="PF('blockUIWidget').show()">
      	<f:setPropertyActionListener target="#{datiSpecifici.ricercaObject}" value="#{datiSpecifici.opccd}"/>
      </p:commandButton>
       <p:commandButton value="Elimina Filtri" actionListener="#{debitiService.reset}" oncomplete="PF('blockUIWidget').hide();"  update="ricerca #{p:component('debitiTable')}" process="@this"  onstart="PF('blockUIWidget').show()">
		</p:commandButton>
  
    </div>
 </p:fieldset>
</html>

