<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

					<p:messages for="ric" id="ric"  closable="true" styleClass="alert" showDetail="true" severity="fatal, warn, info"/>
						
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'OPCCD'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'OPCCD'}">
						<ui:include src="OPCCD_.xhtml" />
						</c:if>
					</ui:fragment>
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'DOCPA'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'DOCPA'}">
						
						<ui:include src="DOCPA_.xhtml" />
						</c:if>
					</ui:fragment>
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'BMELE'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'BMELE'}">
						
						<ui:include src="BMELE_.xhtml" />
						</c:if>
					</ui:fragment>
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'ISTAL'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'ISTAL'}">
						
						<ui:include src="ISTAL_.xhtml" />
						</c:if>
					</ui:fragment>
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'SALDI'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'SALDI'}">
						
						<ui:include src="SALDI_.xhtml" />
						</c:if>
					</ui:fragment>
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'ISTTR'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'ISTTR'}">
						
						<ui:include src="ISTTR_.xhtml" />
						</c:if>
					</ui:fragment>
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'BOLLO'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'BOLLO'}">
						
						<ui:include src="BOLLO_.xhtml" />
						</c:if>
					</ui:fragment>
					
						<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'PSETT'}">
						<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and menuService.selectedCategoria.nomeCategoria == 'PSETT'}">
						
						<ui:include src="PSETT_.xhtml" />
						</c:if>
					</ui:fragment>
					
					<!-- ui:include src="#{menuService.selectedCategoria.nomeCategoria}_.xhtml" /-->
					
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria != null and
					( menuService.selectedCategoria.nomeCategoria == 'ALCOL' 
											or menuService.selectedCategoria.nomeCategoria == 'ELETT'
											or menuService.selectedCategoria.nomeCategoria == 'PROEN'
											or menuService.selectedCategoria.nomeCategoria == 'GASNA'
											or menuService.selectedCategoria.nomeCategoria == 'LUBIT')
											}">
											<c:if test="#{menuService.selectedCategoria.nomeCategoria != null and
					( menuService.selectedCategoria.nomeCategoria == 'ALCOL' 
											or menuService.selectedCategoria.nomeCategoria == 'ELETT'
											or menuService.selectedCategoria.nomeCategoria == 'PROEN'
											or menuService.selectedCategoria.nomeCategoria == 'GASNA'
											or menuService.selectedCategoria.nomeCategoria == 'LUBIT')
											}">
						
						<ui:include src="ACCISE_.xhtml" />
						</c:if>
					</ui:fragment>
					
					
					<!-- ui:fragment rendered="#{siglaServizio == 'ALCOL'}">
						<ui:include src="ALCOL_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'ELETT'}">
						<ui:include src="ELETT_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'PROEN'}">
						<ui:include src="PROEN_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'GASNA'}">
						<ui:include src="GASNA_DS.xhtml" />
					</ui:fragment>
					<ui:fragment rendered="#{siglaServizio == 'LUBIT'}">
						<ui:include src="LUBIT_DS.xhtml" />
					</ui:fragment-->
			
	

</html>

