<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<p:fieldset id="ricerca">
	<p:panelGrid styleClass="ui-noborder"  layout="grid"   columns="4">

	 		<p:outputLabel for="idRichiesta" value="Id Richiesta:" />
		<p:inputText id="idRichiesta" value="#{datiSpecifici.psett.idRichiesta}"  >
		</p:inputText>

		<p:outputLabel for="livello" value="Livello:" />
		<p:inputText id="livello" value="#{datiSpecifici.psett.livello}"  >
		</p:inputText>
		
		<p:outputLabel for="numeroIU" value="Numero IU:" />
		<p:inputText id="numeroIU" value="#{datiSpecifici.psett.numeroIU}"  >
		</p:inputText>
		
		<p:outputLabel for="intendedMarket" value="Intended Market: " />
		<p:inputText id="intendedMarket" value="#{datiSpecifici.psett.intendedMarket}"  >
		</p:inputText>
		
	 
	</p:panelGrid>
	<br />
	<div align="center">
		<p:commandButton value="Ricerca" oncomplete=" if(typeof ricerca === 'function') ricerca();PF('blockUIWidget').hide();" update="ricerca" process="ricerca @this" onstart="PF('blockUIWidget').show()">
			<f:setPropertyActionListener target="#{datiSpecifici.ricercaObject}" value="#{datiSpecifici.psett}" />
		</p:commandButton>
		   <p:commandButton value="Elimina Filtri" actionListener="#{debitiService.reset}" oncomplete="PF('blockUIWidget').hide();"  update="ricerca #{p:component('debitiTable')}" process="@this" onstart="PF('blockUIWidget').show()">
		</p:commandButton>
	</div>
</p:fieldset>
</html>

