<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

 
  	<h:outputText value="Tracciamento Tabacchi: " rendered="isStorico != true"/>
    <h:outputText id="idRichiesta" value="#{obj.idRichiesta} " />
    <p:tooltip id="toolTipIdRichiesta" for="idRichiesta" value="Id Richiesta" trackMouse="true" />
    <h:outputText id="livello" value="#{obj.livello} " />
    <p:tooltip id="toolTipLivello" for="livello" value="Livello" trackMouse="true" />
     
    
    
 
    <h:outputText id="numeroIU" value="#{obj.numeroIU} " />
    <p:tooltip id="toolTipNumeroIU" for="numeroIU" value="Numero IU" trackMouse="true" />
    
    <h:outputText id="intendedMarket" value="#{obj.intendedMarket} " />
    <p:tooltip id="toolTipIntendedMarket" for="intendedMarket" value="Intended Market" trackMouse="true" />
     <h:outputText id="protps" value="#{admPayObj.protocollo} " rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />
     <h:outputText id="protps1" value="#{admPayObj.admPay.protocollo} "  rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
    <p:tooltip id="toolProtps" for="protps" value="idPay" trackMouse="true"  rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}"  />
     <p:tooltip id="toolProtps1" for="protps1" value="idPay" trackMouse="true"   rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}"/>
	
    
    <br />
	<h:outputText value="#{admPayObj.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />		        
	<h:outputText value="#{admPayObj.admPay.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
 
</html>

