<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<p:fieldset id="ricercadata1">
 
			<p:messages for="ricCart"  id="ricCart" closable="true" styleClass="alert" showDetail="true" severity="fatal, warn, info"/>
	
			<p:panelGrid styleClass="ui-noborder" layout="grid" columns="4">

					<p:outputLabel for="dataInserimento1" value="Data Inserimento" />

					<p:calendar mask="true" readonlyInput="true" id="dataInserimento1" value="#{carrelloService.debitiService.dataInserimento}"  locale="it" navigator="true" pattern="dd/MM/yyyy">

					</p:calendar>
 
					<p:outputLabel for="dataScadenza1" value="Data Scadenza" />
					<p:calendar mask="true" id="dataScadenza1"  readonlyInput="true" value="#{carrelloService.debitiService.dataScadenza}" locale="it" navigator="true"  pattern="dd/MM/yyyy"  >

					</p:calendar>
				</p:panelGrid>

				<br />
				<div align="center">
					<p:commandButton value="Ricerca" oncomplete="   rc(); PF('blockUIWidget').hide();" process="ricercadata1" actionListener="#{carrelloService.ricerca}" update=" #{p:component('debitiTable')}    #{p:component('dataCart') } #{ p:component('statoGenerale')}  #{ p:component('cartmsg')} " onstart="PF('blockUIWidget').show()">
					</p:commandButton>
					<p:commandButton value="Elimina Filtri" onclick="reset();" oncomplete="rc();PF('blockUIWidget').hide();"  update="#{p:component('debitiTable')}  #{p:component('dataCart') } #{ p:component('statoGenerale')}  #{ p:component('cartmsg')} " process="ricercadata1" onstart="PF('blockUIWidget').show()">
					</p:commandButton> 
		
				</div>
	
	
</p:fieldset>


</html>

