<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<p:fieldset id="ricerca">
<p:panelGrid styleClass="ui-noborder"  columns="6">

    <p:outputLabel for="codCon" value="Codice Concessione:" />
	<p:inputText id="codCon" value="#{datiSpecifici.saldi.codiceConcessione}"  maxlength="10" >
	  <p:keyFilter regEx="/([0-9])/i" preventPaste="false" />
	  <f:validateLongRange minimum="0" maximum="9999999999" />
	</p:inputText>
	
	<p:outputLabel for="mes" value="Mese:" />
	
	<p:selectOneMenu id="mes" value="#{datiSpecifici.saldi.mese}" >
            <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItem itemLabel="Gennaio" itemValue="1" />
            <f:selectItem itemLabel="Febbraio" itemValue="2" />
            <f:selectItem itemLabel="Marzo" itemValue="3" />
            <f:selectItem itemLabel="Aprile" itemValue="4" />
            <f:selectItem itemLabel="Maggio" itemValue="5" />
            <f:selectItem itemLabel="Giugno" itemValue="6" />
            <f:selectItem itemLabel="Luglio" itemValue="7" />
            <f:selectItem itemLabel="Agosto" itemValue="8" />
            <f:selectItem itemLabel="Settembre" itemValue="9" />
            <f:selectItem itemLabel="Ottobre" itemValue="10" />
            <f:selectItem itemLabel="Novembre" itemValue="11" />
            <f:selectItem itemLabel="Dicembre" itemValue="12" />
        </p:selectOneMenu>
	
	<p:outputLabel for="ann" value="Anno:" />
	<p:inputMask id="ann" value="#{datiSpecifici.saldi.anno}" mask="9999" maxlength="4" />
	
	<p:outputLabel for="amb" value="Ambito:" />
	<p:selectOneMenu id="amb" value="#{datiSpecifici.saldi.ambito}" >
            <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItem itemLabel="CS" itemValue="CS" />
            <f:selectItem itemLabel="IN" itemValue="IN" />
            <f:selectItem itemLabel="IPA" itemValue="IPA" />
        </p:selectOneMenu>
	
	<p:outputLabel for="descAmb" value="Descrizione Ambito:" />
	
	<p:selectOneMenu id="descAmb" value="#{datiSpecifici.saldi.descrizioneAmbito}">
            <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItem itemLabel="Concorsi Pronostici e Serie Big" itemValue="Concorsi Pronostici e Serie Big" />
            <f:selectItem itemLabel="Ippica Nazionale" itemValue="Ippica Nazionale" />
            <f:selectItem itemLabel="Ippica d'Agenzia" itemValue="Ippica d'Agenzia" />
        </p:selectOneMenu>
	
</p:panelGrid>
 <br />
	<div align="center">		
		<p:commandButton value="Ricerca" oncomplete=" if(typeof ricerca === 'function') ricerca();PF('blockUIWidget').hide();" update="ricerca" process="ricerca @this" onstart="PF('blockUIWidget').show()">
			<f:setPropertyActionListener target="#{datiSpecifici.ricercaObject}" value="#{datiSpecifici.saldi}" />
		</p:commandButton>
		
		<p:commandButton value="Elimina Filtri" actionListener="#{debitiService.reset}" oncomplete="PF('blockUIWidget').hide();"  update="ricerca #{p:component('debitiTable')}" process="@this" onstart="PF('blockUIWidget').show()">
		</p:commandButton>
	</div>
</p:fieldset>	
</html>

