<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

		        
 	<h:outputText value="Saldi: " rendered="isStorico != true"/>
    <h:outputText id="codCon" value="#{obj.codiceConcessione} " />
    <p:tooltip id="toolTipCC" for="codCon" value="Codice Concessione" trackMouse="true" />
    <h:outputText id="mes" value="#{obj.mese} " />
    <p:tooltip id="toolTipM" for="mes" value="Mese" trackMouse="true" />
    <h:outputText id="ann" value="#{obj.anno} " />
    <p:tooltip id="toolTipA" for="ann" value="Anno" trackMouse="true" />
    <h:outputText id="ambito" value="#{obj.ambito} " />
    <p:tooltip id="toolTipAmb" for="ambito" value="Ambito" trackMouse="true" />
    <h:outputText id="descA" value="#{obj.descrizioneAmbito} " />
    <p:tooltip id="toolTipDescA" for="descA" value="Descrizione Ambito" trackMouse="true" />
	<h:outputText value="#{admPayObj.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />		        
	<h:outputText value="#{admPayObj.admPay.descrizione}" rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
	 <h:outputText id="protsa" value=" #{ admPayObj.protocollo} " rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}" />
     <h:outputText id="protsa1" value=" #{ admPayObj.admPay.protocollo} "  rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}" />
    <p:tooltip id="toolProtsa" for="protsa" value="idPay" trackMouse="true"  rendered="#{admPayObj.getClass().simpleName == 'AdmPay'}"  />
     <p:tooltip id="toolProtsa1" for="protsa1" value="idPay" trackMouse="true"   rendered="#{admPayObj.getClass().simpleName == 'AdmPayCart'}"/>
	

</html>

