<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">

					
					<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria!= null}">
					
						<ui:fragment rendered="#{menuService.selectedCategoria.nomeCategoria == 'ALCOL' 
								or menuService.selectedCategoria.nomeCategoria == 'ELETT'
								or menuService.selectedCategoria.nomeCategoria == 'PROEN'
								or menuService.selectedCategoria.nomeCategoria == 'GASNA'
								or menuService.selectedCategoria.nomeCategoria == 'LUBIT'}">
							<ui:include src="spontaneoACCISE.xhtml" />
						</ui:fragment>
					
				</ui:fragment>
	

</html>

