<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
<p:remoteCommand name="callAccise" update=" #{p:component('pagamentoSpontaneo')}" actionListener="#{datiSpecifici.callAccise}" process="@this" />
<p:remoteCommand name="completeSP" update="pagamentoSpontaneo"  process="@this"   oncomplete="refresh();"/>
 <p:remoteCommand name="refresh" update="debitiTable"  process="@this debitiTable" actionListener="#{debitiService.completeSpontaneo}" />
 
<p:fieldset id="pagamentoSpontaneo">
	<p:panelGrid styleClass="ui-noborder" style="text-align:center;"   columns="9">

       <p:outputLabel for="caposp" value="Capo:" />
       <p:selectOneMenu widgetVar="wCapo" id="caposp" value="#{datiSpecifici.spontaneo.capo}"  
                 filter="true" filterMatchMode="startsWith" required="true">
                  <p:ajax event="change" update="pagamentoSpontaneo" process="@this" onstart="PF('blockUIWidget').show()"  oncomplete="PF('blockUIWidget').hide()"/>
             <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItems value="#{datiSpecifici.spontaneoCustom.capoList}" />
       </p:selectOneMenu>
       <p:message for="caposp" display="icon" />
      <p:outputLabel for="capitsp" value="Capitolo:" />
	
	   <p:selectOneMenu widgetVar="wCapitolo" id="capitsp" value="#{datiSpecifici.spontaneo.capitolo}" filter="true" 
	      valueChangeListener="#{menuService.changeCapitolo}" filterMatchMode="startsWith"  required="true" >
            <p:ajax event="change" update="pagamentoSpontaneo" onstart="PF('blockUIWidget').show()"  oncomplete="PF('blockUIWidget').hide()"/>
            <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItems value="#{menuService.capitoliList}" />
          
        </p:selectOneMenu>
	<p:message for="codDtsp" display="icon" />
	<p:outputLabel for="artsp" value="Articolo:" />
	
	   <p:selectOneMenu widgetVar="wArticolo" id="artsp" value="#{datiSpecifici.spontaneo.articolo}" disabled="#{datiSpecifici.spontaneoCustom.articoliList.isEmpty()}" 
	          required="true">
            <p:ajax event="change" onstart="PF('blockUIWidget').show()" oncomplete="verificaAccise();" update="pagamentoSpontaneo"/>
            <f:selectItem itemLabel="Seleziona" itemValue="" />
            <f:selectItems value="#{datiSpecifici.spontaneoCustom.articoliList}" />
        </p:selectOneMenu>
        <p:message for="artsp" display="icon" />
	 
		
    <p:outputLabel for="provsp" value="Provincia:" />
	
	   <p:selectOneMenu widgetVar="wProv" id="provsp" value="#{datiSpecifici.spontaneo.provincia}"  
	                 filter="true" filterMatchMode="startsWith" required="true">
	         <p:ajax event="change" oncomplete="verificaAccise();" update="pagamentoSpontaneo" onstart="PF('blockUIWidget').show()"/>
            <f:selectItem itemLabel="Seleziona" itemValue="" />
             <f:selectItems value="#{datiSpecifici.spontaneoCustom.provList}" />
        </p:selectOneMenu>
         <p:message for="provsp" display="icon" />
 
        <p:outputLabel for="codDtsp" value="Codice Ditta:" />
		
		<p:selectOneMenu id="codDtsp" widgetVar="codDtsp"  value="#{datiSpecifici.spontaneoCustom.codDitta}"  required="true" disabled="#{datiSpecifici.spontaneoCustom.codDittaList.isEmpty()}">
		   <p:ajax event="change" listener="#{datiSpecifici.changeCodDitta}" update="pagamentoSpontaneo" onstart="PF('blockUIWidget').show()"  oncomplete="PF('blockUIWidget').hide()"/>
		   <f:selectItem itemLabel="Seleziona" itemValue=""/>
           <f:selectItems  value="#{datiSpecifici.spontaneoCustom.codDittaList}" />
		</p:selectOneMenu>
		<p:message for="codDtsp" display="icon" />
		
        <p:outputLabel for="codFiscsp" value="CF/PIVA Intestatario:" />
		<p:inputText widgetVar="wcfpiva" id="codFiscsp" readonly="true" value="#{datiSpecifici.spontaneo.codiceFiscPIvaGestore}"/>
		<!-- <p:ajax event="blur" oncomplete="verificaAccise();" update="pagamentoSpontaneo" onstart="PF('blockUIWidget').show()"/>
		<p:keyFilter regEx="/([A-Z0-9])/i" preventPaste="false" />
		 <f:validateRegex pattern="([A-Za-z]{6}[0-9]{2}[A-Za-z]{1}[0-9]{2}[A-Za-z]{1}[0-9]{3}[A-Za-z]{1})|([0-9]{11})"/>
		</p:inputText> -->
		<p:message for="codFiscsp" display="icon" />	
		
		 <p:outputLabel for="perRifsp1" value="Periodo Riferimento:" />
		<p:datePicker id="perRifsp1" widgetVar="perRifsp1" view="#{datiSpecifici.spontaneoCustom.viewPattern}"  locale="it" value="#{datiSpecifici.spontaneoCustom.rifPeriodico}" 
		          disabled="#{datiSpecifici.spontaneoCustom.codDittaList.isEmpty()}" required="true" >
		  <p:ajax event="dateSelect"  update="quindicina dataSc" listener="#{menuService.changePeriodoRif}" onstart="PF('blockUIWidget').show()"  oncomplete="PF('blockUIWidget').hide()"/>
		</p:datePicker>
		<p:message for="perRifsp1" display="icon" />
		
		<p:outputLabel for="quindicina" value="Quindicina:" />
        <p:selectOneRadio id="quindicina" widgetVar="quindicina" value="#{datiSpecifici.spontaneoCustom.quindicina}" unselectable="true" required="true"  disabled="#{!datiSpecifici.spontaneoCustom.viewQuindicina}">
            <p:ajax update="dataSc" event="valueChange" listener="#{menuService.changeQuindicina}" onstart="PF('blockUIWidget').show()"  oncomplete="PF('blockUIWidget').hide()"/>
            <f:selectItem itemLabel="1^" itemValue="1" />
            <f:selectItem itemLabel="2^" itemValue="2" />
        </p:selectOneRadio>
        <p:message for="quindicina" display="icon" />
         <p:outputLabel for="dataSc" value="Data Scadenza:" />
		<p:datePicker id="dataSc" widgetVar="dataSc"  value="#{datiSpecifici.spontaneoCustom.dataScadenza}"  disabled="true"/>
       <f:verbatim></f:verbatim>
        <p:outputLabel for="idPay" value="idPay:" rendered="#{userService.idPayEnable}"/>
		<p:inputText id="idPay"   widgetVar="idPay"  value="#{debitiService.admPaySpontaneo.protocollo}"  rendered="#{userService.idPayEnable}">
		  <f:validateRegex pattern="([a-zA-Z0-9]{8}(19|20|21]))"/>
		</p:inputText>
		<f:verbatim rendered="#{!userService.idPayEnable}"></f:verbatim>
           <f:verbatim rendered="#{!userService.idPayEnable}"></f:verbatim>
         <f:verbatim rendered="#{!userService.idPayEnable}"></f:verbatim>
           <p:message for="idPay" display="icon" rendered="#{userService.idPayEnable}"/>
         <p:outputLabel for="impSsp" value="Importo:" />
		<p:inputText id="impSsp" widgetVar="impSsp"   value="#{debitiService.admPaySpontaneo.importo}" size="10" required="true">
	       <f:validateLongRange minimum="1" maximum="999999999" />
		</p:inputText>
		<p:message for="impSsp" display="icon" />
	</p:panelGrid>
	
	<br />
	<div align="center">
		<!-- -->
		
				
		<p:commandButton value="Elimina Dati" actionListener="#{debitiService.resetSpontaneo}" oncomplete="PF('blockUIWidget').hide();" update="pagamentoSpontaneo" process="@this" onstart="PF('blockUIWidget').show()" immediate="true">
		</p:commandButton>
		<p:commandButton value="Inserisci" oncomplete=" if(typeof aggiungi === 'function') aggiungi();PF('blockUIWidget').hide();completeSP();" update="pagamentoSpontaneo" process="pagamentoSpontaneo @this" onstart="PF('blockUIWidget').show()">
			<f:setPropertyActionListener target="#{datiSpecifici.ricercaObject}" value="#{datiSpecifici.spontaneo}" />
		</p:commandButton>


	</div>
</p:fieldset>
</html>

