.invisibile {
	LEFT: -1000px;
	WIDTH: 990px;
	POSITION: absolute
}

.border0 {
	BORDER-TOP-WIDTH: 0;
	BORDER-LEFT-WIDTH: 0;
	BORDER-BOTTOM-WIDTH: 0;
	BORDER-RIGHT-WIDTH: 0
}

.bordo {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: black 1px solid
}

IMG.bordosemplice {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	BORDER-LEFT: #000 1px solid;
	WIDTH: 95%;
	BORDER-BOTTOM: #000 1px solid;
	HEIGHT: 95%
}

.spaziotop {
	padding-top: 15px
}

.centrato {
	TEXT-ALIGN: center
}

.sinistro {
	TEXT-ALIGN: left
}

.destro {
	TEXT-ALIGN: right
}

.leftmargin {
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 8px;
	MARGIN-LEFT: 120px
}

.bottommargin {
	MARGIN-BOTTOM: 120px;
	MARGIN-LEFT: 100px
}

.floatleft {
	FLOAT: left
}

.floatright {
	float: right
}

.floatleft2col {
	float: left;
	width: 45%
}

.floatright2col {
	float: right;
	width: 45%
}

.floatleft img {
	padding-bottom: 12px;
	padding-right: 12px;
	padding-top: 12px
}

.floatright img {
	padding-bottom: 12px;
	padding-left: 12px;
	padding-top: 12px
}

.clearfloat {
	CLEAR: left;
	LINE-HEIGHT: 0
}

#testatafr {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	BACKGROUND-IMAGE:
		url(/TemaPortaleUnico-theme/css/../immagini/francese/testata_alta_fr3.jpg);
	PADDING-BOTTOM: 0;
	MARGIN: 0;
	WIDTH: 750px;
	PADDING-TOP: 0;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 111px
}

#testatain {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	BACKGROUND-IMAGE:
		url(/TemaPortaleUnico-theme/css/../immagini/inglese/testata_alta_en3.jpg);
	PADDING-BOTTOM: 0;
	MARGIN: 0;
	WIDTH: 750px;
	PADDING-TOP: 0;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 111px
}

H2 {
	PADDING-RIGHT: 0;
	MARGIN-TOP: 8px;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FONT-SIZE: 1.2em;
	MARGIN-BOTTOM: 4px;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
	FONT-FAMILY: Tahoma, Arial, Helvetica
}

H3 {
	PADDING-RIGHT: 0;
	MARGIN-TOP: 8px;
	PADDING-LEFT: 0;
	FONT-WEIGHT: 600;
	FONT-SIZE: 1.1em;
	MARGIN-BOTTOM: 4px;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
	FONT-FAMILY: Tahoma, Arial, Helvetica;
	 font-size: 18px;
	color: #434343
}

H3 a, H3 a:hover {
	color: #000
}

H4 {
	PADDING-RIGHT: 0;
	MARGIN-TOP: 6px;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FONT-SIZE: 1em;
	MARGIN-BOTTOM: 4px;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
	FONT-STYLE: italic;
	FONT-FAMILY: Tahoma, Arial, Helvetica
}

H5 {
	PADDING-RIGHT: 0;
	MARGIN-TOP: 6px;
	PADDING-LEFT: 0;
	FONT-WEIGHT: normal;
	FONT-SIZE: 1em;
	MARGIN-BOTTOM: 4px;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
	FONT-FAMILY: Tahoma, Arial, Helvetica
}

H5.trans {
	PADDING-RIGHT: 0;
	MARGIN-TOP: 6px;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	COLOR: #16266c;
	FONT-SIZE: 1em;
	MARGIN-BOTTOM: 4px;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
	FONT-FAMILY: Tahoma, Arial, Helvetica
}

TABLE.software {
	MARGIN-LEFT: 35px;
	WIDTH: 90%
}

TABLE.software TD {
	FONT-FAMILY: Tahoma, Arial, Helvetica;
	TEXT-ALIGN: left
}

#indicecartella UL {
	MARGIN: 20px 10px
}

#indicecartella LI {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	PADDING-BOTTOM: 0;
	MARGIN: 0;
	PADDING-TOP: 0;
	LIST-STYLE-TYPE: none
}

#indicecartella LI IMG {
	BORDER-TOP-WIDTH: 0;
	PADDING-RIGHT: 10px;
	BORDER-LEFT-WIDTH: 0;
	BORDER-BOTTOM-WIDTH: 0;
	MARGIN: 0;
	BORDER-RIGHT-WIDTH: 0
}

#indicecartella P {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0;
	MARGIN: -17px 0 15px 15px;
	PADDING-TOP: 0
}

#indicecartella DL.indice, .indicedoppianav DL.indice {
	BORDER-RIGHT: red 0 solid;
	BORDER-TOP: red 0 solid;
	MARGIN-TOP: 15px;
	FLOAT: left;
	BORDER-LEFT: red 0 solid;
	WIDTH: 100%;
	BORDER-BOTTOM: red 0 solid
}

#indicecartella DL DT.indice, .indicedoppianav DL DT.indice {
	CLEAR: left;
	FLOAT: left;
	padding-left: 0
}

#indicecartella DL DD.indice, .indicedoppianav DL DD.indice {
	CLEAR: right;
	MARGIN-BOTTOM: 10px
}

#indicecartella DL.indice2 {
	MARGIN-TOP: 15px;
	FLOAT: left;
	MARGIN-LEFT: 20px;
	WIDTH: 100%
}

#indicecartella DL DT.indice2 {
	CLEAR: left;
	FLOAT: left;
	MARGIN-LEFT: 20px
}

#indicecartella DL DD.indice2 {
	CLEAR: right;
	MARGIN-BOTTOM: 10px;
	MARGIN-LEFT: 20px
}

.clearfloat {
	CLEAR: right
}

OL.lettera {
	MARGIN-TOP: 15px;
	MARGIN-BOTTOM: 15px;
	LIST-STYLE-TYPE: lower-alpha
}

OL.lettera LI {
	MARGIN: 15px 15px 15px -15px
}

OL.lettera UL {
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 10px;
	LIST-STYLE-TYPE: disc
}

OL.lettera UL LI {
	MARGIN-LEFT: -22px;
	MARGIN-RIGHT: 22px
}

OL.alfabeto {
	LIST-STYLE-TYPE: lower-alpha
}

#contenuti_testo .titolostampabile {
	FONT-WEIGHT: bold;
	FONT-SIZE: 120%;
	COLOR: #292894;
	PADDING-TOP: 1pt;
	FONT-FAMILY: Tahoma, Arial, Helvetica
}

.palla {
	LIST-STYLE-TYPE: disc
}

.sottolineato {
	TEXT-DECORATION: underline
}

TABLE.glossario {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 10px;
	TEXT-ALIGN: left
}

TABLE.glossario TD.testata {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 5px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	TEXT-ALIGN: left;
	BORDER-BOTTOM-STYLE: none
}

TABLE.glossario TD {
	BORDER-RIGHT: thin ridge;
	PADDING-RIGHT: 5px;
	BORDER-TOP: thin ridge;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: thin ridge;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: thin ridge
}

TABLE.glossario TD.strong {
	BORDER-RIGHT: thin ridge;
	PADDING-RIGHT: 5px;
	BORDER-TOP: thin ridge;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: thin ridge;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: thin ridge
}

TABLE.glossario TH {
	BORDER-RIGHT: thin ridge;
	PADDING-RIGHT: 5px;
	BORDER-TOP: thin ridge;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: thin ridge;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: thin ridge;
	TEXT-ALIGN: center
}

TABLE.codici {
	WIDTH: 90%;
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	TEXT-ALIGN: left;
	BORDER-BOTTOM-STYLE: none
}

TABLE.codici TD.titolocodici {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	VERTICAL-ALIGN: top;
	WIDTH: 30%;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 5px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	TEXT-ALIGN: left;
	BORDER-BOTTOM-STYLE: none
}

TABLE.codici TD.testocodici {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	VERTICAL-ALIGN: top;
	WIDTH: 60%;
	BORDER-TOP-STYLE: none;
	PADDING-TOP: 5px;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	TEXT-ALIGN: left;
	BORDER-BOTTOM-STYLE: none
}

P.mlintra {
	COLOR: #1859b5;
	TEXT-ALIGN: center
}

.cmlintra {
	PADDING-BOTTOM: 10px;
	MARGIN: 10px auto;
	WIDTH: 80%;
	PADDING-TOP: 10px;
	HEIGHT: 60%;
	BACKGROUND-COLOR: #1a487a;
	TEXT-ALIGN: center
}

.cmlintra_y {
	COLOR: #1a487a
}

.fcmlintra {
	TEXT-ALIGN: left
}

.fcmlintra FIELDSET LABEL {
	BORDER-RIGHT: red 0 solid;
	BORDER-TOP: red 0 solid;
	MARGIN-LEFT: 10px;
	BORDER-LEFT: red 0 solid;
	WIDTH: 160px;
	LINE-HEIGHT: 23px;
	BORDER-BOTTOM: red 0 solid;
	TEXT-ALIGN: left
}

.fcmlintra INPUT {
	TEXT-ALIGN: left
}

.fcmlintra SELECT {
	TEXT-ALIGN: left
}

.fcmlintra FORM BR {
	CLEAR: left
}

#contenuti_due_colonne #colonna1 UL.storialaboratori {
	LIST-STYLE-TYPE: none;
	line-height: 28px;
	margin: 15px 0 0 0
}

#contenuti_due_colonne #colonna1 UL.storialaboratori LI {
	DISPLAY: inline;
	WHITE-SPACE: nowrap;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none;
	border: 1px solid #ccc;
	background-image: none;
	padding: 3px;
	margin: 1px
}

UL.regcla {
	PADDING-RIGHT: .3em;
	PADDING-LEFT: .3em;
	PADDING-BOTTOM: .3em;
	MARGIN: 0;
	PADDING-TOP: .3em;
	LIST-STYLE-TYPE: none;
	TEXT-ALIGN: left
}

UL.regcla A {
	WHITE-SPACE: nowrap
}

UL.regcla LI {
	DISPLAY: inline;
	PADDING-LEFT: .3em;
	MARGIN: 0 .3em;
	HEIGHT: 0
}

IMG.immaginefloat {
	BORDER-RIGHT: #749eb1 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #749eb1 1px solid;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 10px;
	MARGIN: 1.4em;
	BORDER-LEFT: #749eb1 1px solid;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #749eb1 1px solid;
	BACKGROUND-COLOR: white
}

IMG.cartinafloat {
	border: 0;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 10px;
	MARGIN: 1.4em;
	PADDING-TOP: 10px;
	BACKGROUND-COLOR: #fff
}

IMG.imgfloatright {
	BORDER-RIGHT: #749eb1 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #749eb1 1px solid;
	PADDING-LEFT: 10px;
	FLOAT: right;
	PADDING-BOTTOM: 10px;
	MARGIN: 1.4em;
	BORDER-LEFT: #749eb1 1px solid;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #749eb1 1px solid;
	BACKGROUND-COLOR: white
}

IMG.galleriafoto {
	BORDER-TOP-WIDTH: 0;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT-WIDTH: 0;
	BORDER-BOTTOM-WIDTH: 0;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 0;
	BORDER-RIGHT-WIDTH: 0
}

IMG.galleriafotoorizzontale {
	BORDER-TOP-WIDTH: 0;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT-WIDTH: 0;
	BORDER-BOTTOM-WIDTH: 0;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 0;
	BORDER-RIGHT-WIDTH: 0;
	WIDTH: 172px;
	HEIGHT: 115px
}

IMG.galleriafotoverticale {
	BORDER-TOP-WIDTH: 0;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT-WIDTH: 0;
	BORDER-BOTTOM-WIDTH: 0;
	PADDING-BOTTOM: 10px;
	PADDING-TOP: 0;
	BORDER-RIGHT-WIDTH: 0;
	WIDTH: 127px;
	HEIGHT: 141px
}

IMG.galleriafoto2 {
	BORDER-TOP-WIDTH: 0;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BORDER-LEFT-WIDTH: 0;
	BORDER-BOTTOM-WIDTH: 0;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 10px;
	BORDER-RIGHT-WIDTH: 0
}

.elenco {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 0;
	PADDING-BOTTOM: 20px;
	PADDING-TOP: 0
}

.spazioalto {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 0;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 20px
}

.spazioaltominimo {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 0;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 5px
}

.nrverde {
	FONT-WEIGHT: bold;
	FONT-SIZE: larger;
	COLOR: #090;
	TEXT-ALIGN: center
}

#contenuti_testo_dx_statico {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 20px;
	FLOAT: left;
	PADDING-BOTTOM: 0;
	MARGIN: 0;
	WIDTH: 550px;
	PADDING-TOP: 0
}

#contenuti_testo_dx_statico TABLE {
	WIDTH: 500px
}

CAPTION.aliquote {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 0;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FONT-SIZE: x-small;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #000 1px solid;
	TEXT-ALIGN: center
}

TABLE.restituzioni {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	FONT-SIZE: x-small;
	BORDER-LEFT: #000 1px solid;
	WIDTH: 90%;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse
}

TABLE.restituzioni TH {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: 2px;
	FONT-SIZE: x-small;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.restituzioni TD {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: x-small;
	PADDING-BOTTOM: 2px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: 2px;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.restituzioni TD.sopra {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: 2px;
	FONT-SIZE: x-small;
	PADDING-BOTTOM: 2px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: 2px;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.restituzioni TD.sotto {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: x-small;
	PADDING-BOTTOM: 2px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.restituzioni TD.tdsx {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: 10px;
	FONT-SIZE: x-small;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: left
}

#titroviin_globale {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	PADDING-BOTTOM: 0;
	MARGIN: 0 auto;
	PADDING-TOP: 0
}

#titroviin_path {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	PADDING-BOTTOM: 0;
	MARGIN: 0;
	COLOR: #ff5900;
	PADDING-TOP: 0
}

#titroviin_titolo H1 {
	PADDING-RIGHT: 0;
	MARGIN-TOP: 0;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FONT-SIZE: 130%;
	MARGIN-BOTTOM: 0;
	PADDING-BOTTOM: 20px;
	MARGIN-LEFT: 50px;
	COLOR: #00468f;
	PADDING-TOP: 2px;
	TEXT-ALIGN: left
}

TABLE.regolamenti {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	BORDER-LEFT: #000 1px solid;
	WIDTH: 80%;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse
}

TABLE.regolamenti CAPTION {
	PADDING-RIGHT: .3em;
	PADDING-LEFT: .3em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: .6em;
	PADDING-TOP: .3em;
	TEXT-ALIGN: left
}

TABLE.regolamenti TH.primo {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: .3em;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: .3em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: .3em;
	BORDER-LEFT: #000 1px solid;
	WIDTH: 10%;
	PADDING-TOP: .3em;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.regolamenti TH.secondo {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: .3em;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: .3em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: .3em;
	BORDER-LEFT: #000 1px solid;
	WIDTH: 15%;
	PADDING-TOP: .3em;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.regolamenti TH.terzo {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: .3em;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: .3em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: .3em;
	BORDER-LEFT: #000 1px solid;
	WIDTH: 30%;
	PADDING-TOP: .3em;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.regolamenti TH.quarto {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: .3em;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: .3em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: .3em;
	BORDER-LEFT: #000 1px solid;
	WIDTH: 25%;
	PADDING-TOP: .3em;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: center
}

TABLE.regolamenti TH {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: .3em;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: .3em;
	FONT-WEIGHT: normal;
	PADDING-BOTTOM: .3em;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: .3em;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: left
}

TABLE.regolamenti TD {
	BORDER-RIGHT: #000 1px solid;
	PADDING-RIGHT: .3em;
	BORDER-TOP: #000 1px solid;
	PADDING-LEFT: .3em;
	PADDING-BOTTOM: .3em;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #000 1px solid;
	PADDING-TOP: .3em;
	BORDER-BOTTOM: #000 1px solid;
	BORDER-COLLAPSE: collapse;
	TEXT-ALIGN: left
}

.indentazione {
	PADDING-LEFT: 1.3em
}

FORM.insdati {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2em;
	MARGIN: 0 auto;
	WIDTH: 70%;
	COLOR: #fff;
	LINE-HEIGHT: 2.7em;
	PADDING-TOP: .5em;
	BACKGROUND-COLOR: #1a487a;
	TEXT-ALIGN: center
}

FORM.ritorna {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 2em;
	MARGIN: 0 auto;
	WIDTH: 70%;
	PADDING-TOP: .5em;
	TEXT-ALIGN: center
}

DIV.servizi {
	TEXT-ALIGN: left
}

FIELDSET.servizi {
	BORDER-RIGHT: #0084eb 1px groove;
	BORDER-TOP: #0084eb 1px groove;
	MARGIN-LEFT: 1.3em;
	BORDER-LEFT: #0084eb 1px groove;
	WIDTH: 90%;
	LINE-HEIGHT: 2.5em;
	BORDER-BOTTOM: #0084eb 1px groove;
	BACKGROUND-COLOR: #f4f4f4
}

LABEL.servizi1 {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FLOAT: left;
	PADDING-BOTTOM: 0;
	MARGIN: 0 0 0 1em;
	WIDTH: 70%;
	COLOR: #16416c;
	PADDING-TOP: 0
}

INPUT.servizi2 {
	MARGIN-TOP: .3em;
	WIDTH: auto;
	MARGIN-RIGHT: 4.5em
}

INPUT.bottone1 {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0;
	MARGIN: 10px 0 10px 34%;
	WIDTH: auto;
	PADDING-TOP: 0
}

UNKNOWN {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	MARGIN-LEFT: 16em;
	PADDING-TOP: 10px
}

P.servizi {
	PADDING-RIGHT: 4em;
	PADDING-LEFT: 4em;
	PADDING-BOTTOM: 1.5em;
	COLOR: #16416c;
	PADDING-TOP: 1.5em;
	TEXT-ALIGN: left
}

P.out {
	FONT-WEIGHT: bold;
	COLOR: #16416c;
	TEXT-ALIGN: center
}

DIV.datiins {
	TEXT-ALIGN: center
}

DIV.int {
	FONT-WEIGHT: bold;
	FLOAT: left;
	MARGIN-LEFT: 17%;
	COLOR: #16416c;
	LINE-HEIGHT: 1.5em
}

DIV.int1 {
	FONT-WEIGHT: bold;
	COLOR: #991c00;
	LINE-HEIGHT: 1.5em;
	TEXT-ALIGN: left
}

P.out1 {
	PADDING-RIGHT: 4em;
	PADDING-LEFT: 4em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 1.5em;
	COLOR: #b42100;
	PADDING-TOP: 1.5em;
	TEXT-ALIGN: left
}

INPUT.back {
	MARGIN-TOP: 1.5em;
	VERTICAL-ALIGN: middle;
	WIDTH: 15em;
	TEXT-ALIGN: center
}

FORM.ind {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	PADDING-BOTTOM: 2em;
	MARGIN: 0 auto;
	PADDING-TOP: .5em;
	TEXT-ALIGN: center
}

INPUT.indietro {
	MARGIN-TOP: 1.5em;
	VERTICAL-ALIGN: middle;
	WIDTH: 10em;
	TEXT-ALIGN: center
}

DIV.err {
	BORDER-RIGHT: #16416c 1px groove;
	PADDING-RIGHT: 0;
	BORDER-TOP: #16416c 1px groove;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FONT-SIZE: 1.2em;
	PADDING-BOTTOM: 0;
	MARGIN: auto;
	BORDER-LEFT: #16416c 1px groove;
	WIDTH: 55%;
	COLOR: #991c00;
	LINE-HEIGHT: 2em;
	PADDING-TOP: 0;
	BORDER-BOTTOM: #16416c 1px groove;
	BACKGROUND-COLOR: #f0f6fc;
	TEXT-ALIGN: center
}

TABLE.dati {
	BORDER-RIGHT: #16416c 1px solid;
	BORDER-TOP: #16416c 1px solid;
	FONT-WEIGHT: bold;
	MARGIN: 0 auto;
	BORDER-LEFT: #16416c 1px solid;
	WIDTH: 55%;
	BORDER-BOTTOM: #16416c 1px solid;
	BACKGROUND-COLOR: #ccc;
	TEXT-ALIGN: center
}

TH.dati1 {
	PADDING-RIGHT: .7em;
	PADDING-LEFT: .7em;
	PADDING-BOTTOM: .7em;
	COLOR: #991c00;
	PADDING-TOP: .7em;
	BACKGROUND-COLOR: white
}

TD.dati2 {
	PADDING-RIGHT: .7em;
	PADDING-LEFT: .7em;
	PADDING-BOTTOM: .7em;
	COLOR: #16416c;
	PADDING-TOP: .7em;
	BACKGROUND-COLOR: #f0f1f0
}

H2.servizi {
	PADDING-RIGHT: 3.5em;
	PADDING-LEFT: 3.5em;
	PADDING-BOTTOM: 0;
	COLOR: #16416c;
	PADDING-TOP: 0;
	TEXT-ALIGN: left
}

FORM.insmrn {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2em;
	MARGIN: 0 auto;
	WIDTH: 70%;
	COLOR: #fff;
	LINE-HEIGHT: 2.7em;
	PADDING-TOP: .5em;
	BACKGROUND-COLOR: #1a487a;
	TEXT-ALIGN: center
}

FORM.insmrn2 {
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 1em;
	MARGIN: 0 auto;
	WIDTH: 70%;
	COLOR: #fff;
	LINE-HEIGHT: 2.7em;
	PADDING-TOP: .5em;
	BACKGROUND-COLOR: #1a487a;
	TEXT-ALIGN: center
}

DIV.servmrn {
	PADDING-RIGHT: 2em;
	PADDING-LEFT: 2em;
	PADDING-BOTTOM: 0;
	PADDING-TOP: 2em;
	TEXT-ALIGN: left
}

FIELDSET.servizimrn {
	BORDER-RIGHT: #0084eb 1px groove;
	BORDER-TOP: #0084eb 1px groove;
	BORDER-LEFT: #0084eb 1px groove;
	LINE-HEIGHT: 2.5em;
	BORDER-BOTTOM: #0084eb 1px groove;
	BACKGROUND-COLOR: #f4f4f4
}

LABEL.servmrn1 {
	PADDING: 0;
	FONT-WEIGHT: bold;
	FLOAT: left;
	MARGIN: 1.5em 0 0 7.5em;
	WIDTH: 30%;
	COLOR: #16416c
}

INPUT.servmrn2 {
	MARGIN-TOP: 1.8em;
	MARGIN-left: 1em
}

INPUT.bottonemrn {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0;
	MARGIN: 10px 0 10px 38%;
	WIDTH: auto;
	PADDING-TOP: 0
}

TABLE.datimrn {
	BORDER-RIGHT: #16416c 1px solid;
	BORDER-TOP: #16416c 1px solid;
	FONT-WEIGHT: bold;
	MARGIN: 0 auto;
	BORDER-LEFT: #16416c 1px solid;
	WIDTH: 87%;
	BORDER-BOTTOM: #16416c 1px solid;
	BACKGROUND-COLOR: #ccc;
	TEXT-ALIGN: center
}

DIV.outsemp {
	BORDER-RIGHT: #0084eb 1px groove;
	BORDER-TOP: #0084eb 1px groove;
	BORDER-LEFT: #0084eb 1px groove;
	LINE-HEIGHT: 2.5em;
	BORDER-BOTTOM: #0084eb 1px groove;
	BACKGROUND-COLOR: #f4f4f4;
	WIDTH: 83%;
	PADDING: 1.0em
}

html>body DIV.outsemp {
	margin-left: 8%
}

P.outexport1 {
	TEXT-ALIGN: left;
	FLOAT: left;
	FONT-SIZE: 1em;
	FONT-WEIGHT: bold;
	COLOR: #16266c;
	PADDING: .1em;
	MARGIN-TOP: .0em;
	MARGIN-BOTTOM: .0em
}

P.outexport2 {
	TEXT-ALIGN: left;
	FONT-SIZE: 1em;
	FONT-WEIGHT: bold;
	COLOR: #8c2011;
	PADDING: .1em;
	MARGIN-TOP: .0em;
	MARGIN-BOTTOM: .0em
}

H2.serviziq {
	PADDING-RIGHT: 3.5em;
	PADDING-LEFT: 3.5em;
	PADDING-BOTTOM: 0;
	COLOR: #16416c;
	PADDING-TOP: 0;
	TEXT-ALIGN: center
}

DIV.servquest {
	PADDING-TOP: 2em;
	TEXT-ALIGN: center
}

DIV.security {
	WIDTH: 80%;
	COLOR: #16416c;
	LINE-HEIGHT: 1em;
	PADDING-TOP: 2em;
	TEXT-ALIGN: center
}

FIELDSET.servquest {
	BORDER-RIGHT: #16416c 1px groove;
	BORDER-TOP: #16416c 1px groove;
	BORDER-LEFT: #16416c 1px groove;
	WIDTH: 80%;
	LINE-HEIGHT: 2.5em;
	PADDING-TOP: 1em;
	BORDER-BOTTOM: #16416c 1px groove;
	BACKGROUND-COLOR: #f4f4f4
}

LABEL.quest1 {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FLOAT: left;
	PADDING-BOTTOM: 0;
	MARGIN: .8em 0 0 1em;
	WIDTH: 60%;
	COLOR: #16416c;
	PADDING-TOP: 0;
	TEXT-ALIGN: left
}

SELECT.quest {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	FLOAT: left;
	PADDING-BOTTOM: 0;
	MARGIN: 1em 0 0 1em;
	WIDTH: 30%;
	PADDING-TOP: 0
}

P.quest {
	FONT-WEIGHT: bold;
	COLOR: #16416c;
	LINE-HEIGHT: 1em;
	TEXT-ALIGN: center
}

TEXTAREA.question {
	CLEAR: left;
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	PADDING-BOTTOM: 0;
	MARGIN-LEFT: 0;
	WIDTH: 70%;
	PADDING-TOP: 0
}

FIELDSET.servurp {
	BORDER-RIGHT: #16416c 1px groove;
	BORDER-TOP: #16416c 1px groove;
	BORDER-LEFT: #16416c 1px groove;
	PADDING-TOP: 1em;
	BORDER-BOTTOM: #16416c 1px groove;
	BACKGROUND-COLOR: #f4f4f4
}

FORM#IlForm {
	WIDTH: auto
}

FORM#IlForm BR {
	CLEAR: left
}

FORM#IlForm BR.pulito {
	CLEAR: none
}

FORM.IlFormNew {
	WIDTH: auto
}

FORM.IlFormNew BR {
	CLEAR: left
}

FORM.IlFormNew BR.pulito {
	CLEAR: none
}

LABEL.urp1 {
	PADDING-RIGHT: 0;
	PADDING-LEFT: 0;
	FONT-WEIGHT: bold;
	FLOAT: left;
	PADDING-BOTTOM: 0;
	MARGIN: .8em 0 0 1em;
	WIDTH: 38%;
	COLOR: #16416c;
	PADDING-TOP: 0;
	TEXT-ALIGN: left
}

INPUT.urp2 {
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;
	MARGIN-TOP: .3em;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid
}

SELECT.urp3 {
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;
	MARGIN: .5em 0 0;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid
}

.spec1 {
	FONT-WEIGHT: normal;
	COLOR: #16416c;
	PADDING-TOP: 0;
	TEXT-ALIGN: left
}

TEXTAREA.desc {
	BORDER-RIGHT: #7f9db9 1px solid;
	PADDING-RIGHT: 0;
	BORDER-TOP: #7f9db9 1px solid;
	MARGIN-TOP: .8em;
	PADDING-LEFT: 0;
	FLOAT: left;
	PADDING-BOTTOM: 0;
	BORDER-LEFT: #7f9db9 1px solid;
	WIDTH: 57%;
	PADDING-TOP: 0;
	BORDER-BOTTOM: #7f9db9 1px solid
}

P.acc {
	FONT-WEIGHT: bold;
	COLOR: #16416c;
	LINE-HEIGHT: 1.5em;
	TEXT-ALIGN: center
}

P.normale {
	COLOR: #16416c;
	LINE-HEIGHT: 1.5em;
	TEXT-ALIGN: center
}

HR.urp {
	CLEAR: left;
	MARGIN-TOP: 1.5em;
	COLOR: #16416c
}

P.err {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1em;
	COLOR: #16416c;
	TEXT-ALIGN: center
}

.SubmitForm {
	clear: both;
	float: left;
	margin-top: 15px;
	margin-left: 20px
}

.mlistdelete {
	PADDING-BOTTOM: 10px;
	MARGIN: 10px auto;
	WIDTH: 80%;
	PADDING-TOP: 10px;
	HEIGHT: 60%;
	TEXT-ALIGN: center
}

table.tabella {
	padding: 10px;
	text-align: left
}

table.tabella td.testata {
	padding: 5px;
	text-align: left;
	border: 0
}

table.tabella td {
	padding: 5px;
	text-align: left;
	border: 1px solid #a1a1a1
}

table.tabella th {
	padding: 5px;
	border: 0;
	font-weight: bold;
	text-align: center
}

.boxHPinglese {
	border: 0 none;
	float: left;
	height: auto !important;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 150px;
	text-align: left;
	width: 31%
}

#container100_inglese {
	clear: both;
	overflow: hidden;
	width: 100%;
	margin-top: 20px
}

.colonna85x100 {
	width: 83%
}

html {
	margin: 0 auto;
	padding: 0;
	background-color: #eee
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100.01%;
	position: relative;
	color: #000;
	margin: 0 auto 20px auto;
	padding: 0;
	width: 98%;
	background-color: #FFF;
	 
	min-width: 980px;
	border: 3px solid #e5e1e0;
	border-top: 0 none;
	min-height: 600px;
	height: auto !important;
	height: 600px
}

.skiplink, .skipheader {
	position: absolute;
	left: -10000px;
	width: 0;
	height: 0
}

.noscreen {
	display: none
}

a {
	color: #00e;
	color: #295c83;
	text-decoration: none
}

/* a:visited {
	color: #800080
} */

a:hover {
	color: #f00;
	color: #ae1b13
}

p, ul, ol {
	font-size: 80%
}

ul ul, ol ol, p a, ul li a {
	font-size: 100%
}

dl {
	font-size: 80%
}

dt {
	font-weight: bold;
	padding-left: 10px
}

dd {
	margin-bottom: 10px;
	padding-left: 10px
}

.clearer {
	height: 1px;
	overflow: hidden;
	margin-top: -1px;
	clear: both
}

img {
	border: 0
}

#contenitore {
	margin: 0 10px;
	padding: 0
}

#ti_trovi {
	clear: both;
	color: #000;
	padding: 0;
	margin: 15px 15px 25px 10px;
 	text-align: left
}

#ti_trovi a, #ti_trovi a:visited {
	text-decoration: underline
}

#ti_trovi a:hover {
	text-decoration: none
}

#canale_agenzia, #canale_operatore, #canale_viaggiatore, #canale_home {
	position: relative;
	clear: both;
	width: 99%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background-color: #FFF;
	border-bottom: 1px solid #e5e1e2
}

#canale_home {
	border-bottom: 0
}

#colonna1_hp {
	margin: 10px 60% 30px 0;
	padding: 0 10px 0 5px;
	background-color: #FFF;
	min-height: 55em;
	height: auto !important;
	height: 55em;
	border: 0 solid #000;
	border-right: 1px solid #e5e1e2
}

#colonna2_hp {
	position: absolute;
	top: 0;
	right: 0;
	width: 58%;
	margin: 10px 0 30px 0;
	padding: 0 0 10px 0;
	border: 0 solid red
}

#colonna1 {
	margin: 20px 300px 30px 0;
	padding: 0 15px;
	background-color: #FFF;
	min-height: 55em;
	height: auto !important;
	height: 55em;
	border: 0 solid #000;
	border-right: 1px solid #e5e1e2
}

#colonna1 a, #colonna1 a:visited {
	text-decoration: underline
}

#colonna1 a:hover {
	text-decoration: none
}

#colonna2 {
	position: absolute;
	top: 75px;
	right: 0;
	width: 250px;
	margin: 0 30px 0 10px;
	padding: 0 0 10px 0
}

#contenuti_una_colonna {
	min-height: 22em;
	height: auto !important;
	height: 22em
}

#contenuti_due_colonne {
	position: relative;
	clear: both;
	width: 99%;
	margin: 5px 0 0 0;
	padding: 0;
	text-align: left;
	border-bottom: 1px solid #e5e1e2;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/sfondo_menu_sx.gif);
	background-repeat: repeat-y;
	background-position: top left
}

#contenuti_due_colonne #colonna1 {
	margin: 0 0 0 265px;
	background-color: #FFF;
	padding: 0 10px;
	min-height: 55em;
	height: auto !important;
	height: 55em;
	border: 0 solid #000
}

#contenuti_una_colonna #colonna1 {
	background-color: #FFF;
	padding: 0 10px;
	min-height: 55em;
	height: auto !important;
	height: 55em;
	border: 0 solid #000;
	margin: 0
}

#contenuti_due_colonne #colonna2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	padding: 0;
	margin: 0;
	border: 0 solid red;
	background-color: #f3f3f3
}

#cont_due_blocchi {
	clear: both;
	position: relative;
	width: 100%;
	margin: 0 0 30px 0;
	padding: 0;
	text-align: left;
	background-color: #FFF
}

#double_box {
	margin: 0 26% 0 0;
	background-color: #FFF;
	padding: 0 10px;
	min-height: 55em;
	height: auto !important;
	height: 55em;
	border-right: 1px solid #e5e1e2
}

#box_right {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	padding: 0 0 30px 0;
	margin: 0 0 30px 0
}

#contenuti_due_colonne #ti_trovi, #contenuti_una_colonna #colonna1 #ti_trovi
	{
	clear: both;
	color: #000;
	padding: 0;
	margin: 5px 10px 30px 5px;
	font-size: 80%;
	text-align: left
}

#contenuti_due_colonne #colonna1 ul, #contenuti_una_colonna #colonna1 ul
	{
	padding: 0;
	margin: 1em 0 1em 15px
}

#contenuti_una_colonna #colonna1 ul li {
	background-image:
		url("https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_operatore.gif")
}

#contenuti_una_colonna ul li {
	height: auto;
	padding: 0 0 0 15px;
	list-style: none;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_agenzia.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	color: #333
}

#contenuti_due_colonne #colonna2 ul {
	clear: both;
	padding: 0;
	margin: 10px 0 10px 0;
	list-style: none;
	width: 100%
}

#contenuti_due_colonne #colonna2 ul li {
	margin: 0;
	padding: 0
}

#contenuti_due_colonne #colonna2 ul li a, #contenuti_due_colonne #colonna2 ul li a:visited
	{
	color: #333;
	color: #295c83;
	display: block;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_sx.gif);
	background-repeat: no-repeat;
	background-position: 10px 14px;
	padding: 10px 0 10px 25px;
	border-bottom: 2px solid #FFF
}

#contenuti_due_colonne #colonna2 ul li a:hover {
	text-decoration: underline;
	background-color: #FFF
}

#contenuti_due_colonne #colonna2 ul li a.selected,
	#contenuti_due_colonne #colonna2 ul li a:visited.selected {
	background-color: #FFF;
	font-weight: bold;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_in.gif)
}

#contenuti_due_colonne #colonna2 ul ul, #contenuti_due_colonne #colonna2 ul li.indent
	{
	margin: 0;
	padding: 0 10px 0 15px;
	list-style: none;
	background-color: #FFF;
	width: 90%
}

#contenuti_due_colonne #colonna2 ul li ul li {
	margin: 0;
	padding: 0
}

#contenuti_due_colonne #colonna2 ul li ul li a, #contenuti_due_colonne #colonna2 ul li ul li a:visited,
	#contenuti_due_colonne #colonna2 ul li.indent a, #contenuti_due_colonne #colonna2 ul li.indent a:visited
	{
	color: #333;
	color: #295c83;
	display: block;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_sx2.gif);
	background-repeat: no-repeat;
	background-position: 10px 14px;
	padding: 10px 0 10px 25px;
	margin: 0;
	border-bottom: 2px solid #FFF
}

#contenuti_due_colonne #colonna2 ul li ul li a:hover,
	#contenuti_due_colonne #colonna2 ul li.indent a:hover {
	text-decoration: underline;
	background-color: #FFF
}

#contenuti_due_colonne #colonna2 ul li ul li a.selected,
	#contenuti_due_colonne #colonna2 ul li ul li a:visited.selected,
	#contenuti_due_colonne #colonna2 ul li.indent a.selected,
	#contenuti_due_colonne #colonna2 ul li.indent a:visited.selected {
	background-color: #FFF;
	font-weight: bold;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/triangolino_blu.gif)
}

#contenuti_due_colonne #colonna2 ul li.indent a.current,
	#contenuti_due_colonne #colonna2 ul li.indent a.current:visited {
	background-color: #FFF;
	font-weight: bold;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/triangolino_blu.gif)
}

#contenuti_due_colonne #colonna2 ul li a.current, #contenuti_due_colonne #colonna2 ul li a.current:visited
	{
	background-color: #fff;
	background-image:
		url("https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_in.gif");
	font-weight: bold
}

#canale_agenzia #colonna1 p, #canale_operatore #colonna1 p,
	#canale_viaggiatore #colonna1 p, #cont_due_blocchi p {
	line-height: 1.3em;
	margin: 1.5em 0 1.5em 0
}

#colonna1 ul p {
	font-size: 100%
}

#canale_agenzia #colonna1 ul, #canale_operatore #colonna1 ul,
	#canale_viaggiatore #colonna1 ul {
	margin: 1em 0 1em 10px;
	padding: 0
}

.key_richiedere {
	clear: both;
	float: left;
	margin-bottom: 25px;
	width: 100%
}

.key_richiedere img {
	float: left;
	margin-right: 10px
}

.key_richiedere p {
	border-bottom: 1px solid #a5a5a5;
	width: 90%;
	margin: 5px 10px 15px 15px;
	padding: 15px;
	float: left;
	display: block
}

.key_richiedere p span {
	margin-top: 0;
	padding: 0
}

.indcart_gn {
	border: 0 solid;
	margin: 0 1em;
	padding: 0 0 1em 3em;
	background: #FFF;
	color: #000;
	clear: left;
	font-size: 100%
}

.indcart_gn img {
	float: left;
	border: 0 solid #900;
	margin: 0 10px 0 0
}

.indcart_gn p {
	margin: 0 0 0 30px;
	padding: 0;
	height: 1%
}

.indcart_gn p.blu {
	margin: 0;
	padding: 0;
	color: #073357
}

#contenitore .indcart_gn {
	padding: 12px 0 6px 0;
	background-color: transparent
}

#contenitore .indcart_gn p {
	margin: 0;
	padding: 0;
	line-height: normal
}

#contenitore .indcart_gn p a {
	padding: 0;
	margin: 0;
	background: 0
}

#contenitore .indcart_gn img {
	border: 0 solid #900;
	float: left;
	margin: 0 10px 0 0
}

#contenitore .indcart_gn p span {
	float: left;
	font-weight: bold;
	clear: right;
	width: 100%;
	padding-bottom: 6px;
	margin-top: 2px
}

#menu {
	background-color: #fff;
	border: 0 solid #000;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	top: 45px;
	width: 13em
}

#menu h1, #menu h3 {
	background-color: #2d96ff;
	color: #fff;
	font-size: 110%;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center
}

#menu h2, #risultato h2 {
	height: 0;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	width: 0
}

#menu ul {
	margin: 0;
	padding: 0
}

#menu a {
	display: block;
	font-size: 100%;
	margin: 0 0 2px 5px;
	padding: 0
}

#menu ul li {
	margin: 0 0 0 10px
}

#menu ul li a:hover {
	color: #000;
	text-decoration: underline
}

#risultato {
	border: 0 solid #000;
	color: #000;
	margin: 27px .5em 0 14em;
	padding: .5em 1em
}

#risultato img {
	padding: 0 10px 0 0
}

#numris {
	background-color: #fff;
	color: #000;
	font-size: 90%;
	text-align: right
}

#hits {
	background-color: #fff;
	color: #000;
	font-size: 90%;
	padding: 5px;
	text-align: left
}

#hits a {
	font-size: 130%
}

#hits a:link {
	color: #000;
	text-decoration: underline
}

#hits a:hover {
	text-decoration: underline
}

#hits a:visited {
	color: #000;
	text-decoration: none
}

#header_home {
	margin: 0;
	padding: 0;
	border-top: 4px solid #e5e1e0;
	border-bottom: 1px solid #e5e1e0;
	border-right: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	min-height: 110px;
	height: auto !important;
	height: 110px
}

#header_home #logo {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	left: 30px;
	border: 0 none
}

#istituzionale_home {
	float: right;
	padding: 0;
	margin: 0;
	color: #1b4f78;
	width: 70%
}

#istituzionale_home ul {
	padding: 0;
	float: right;
	margin: 10px 10px 10px 30px;
	list-style: none
}

#istituzionale_home li {
	padding: 0 5px;
	float: left;
	margin: 0
}

#istituzionale_home li span {
	COLOR: #1b4f78;
	vertical-align: top
}

#istituzionale_home li a:link, #istituzionale_home li a:visited {
	color: #555;
	text-decoration: none
}

#istituzionale_home li a:hover {
	text-decoration: underline
}

#istituzionale_home li.selected a, #istituzionale_home li.selected a:visited
	{
	text-decoration: underline
}

#istituzionale_home li a img {
	vertical-align: bottom
}

#istituzionale_home form {
	clear: both;
	text-align: right;
	margin: 0 10px;
	padding: 5px 0;
 	float: right;
	width: 50%;
	font-weight:normal;
}

#form_cerca label {
    color: #333;
    font-weight: normal!important;
}

#istituzionale_home form fieldset {
	margin: 0;
	padding: 0;
	border: 0
}

#istituzionale_home form input.input {
	margin: 0;
	padding: 0;
	width: 150px
}

#istituzionale_home form input.input {
	margin: 0;
	padding: 0;
	width: 150px
}

#istituzionale_home form input.bottom {
	margin: 0 .25em;
	padding: 0
}

#menu_princ {
	margin: 0;
	padding: 0;
	position: relative;
	border-right: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3
}

#menu_princ #menu_princ_bordo_sx {
	position: absolute;
	bottom: -1px;
	width: 8px;
	height: 9px;
	left: -2px;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu_princ_bordo_sx.gif);
	background-repeat: no-repeat;
	background-position: bottom left
}

#menu_princ #menu_princ_bordo_dx {
	position: absolute;
	bottom: -1px;
	width: 8px;
	height: 9px;
	right: -2px;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu_princ_bordo_dx.gif);
	background-repeat: no-repeat;
	background-position: bottom right
}

#menu_princ ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
	float: left;
	width: 100%;
	min-height: 50px;
	height: auto !important;
	height: 50px
}

#menu_princ ul li {
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
	text-align: left
}

#menu_princ ul li a {
	margin: 0 2%;
	padding: 0 0 0 5%;
	display: block;
	width: 92%;
	font-size: 180%;
	font-weight: normal;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 0 solid red;
	min-height: 70px;
	height: auto !important;
	height: 70px
}

#menu_princ ul li.menu_agenzia a {
	margin: 0 1% 0 2%;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_agenzia.gif)
}

#menu_princ ul li.menu_agenzia a:hover, #menu_princ ul li.menu_agenzia a.selected,
	#menu_princ ul li.menu_agenzia a.selected:hover {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_agenzia_selected.gif)
}

#menu_princ ul li.menu_operatore {
	border-right: 1px solid #e5e1e2;
	border-left: 1px solid #e5e1e2
}

#menu_princ ul li.menu_operatore a {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_operatore.gif)
}

#menu_princ ul li.menu_operatore a:hover, #menu_princ ul li.menu_operatore a.selected,
	#menu_princ ul li.menu_operatore a.selected:hover {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_operatore_selected.gif)
}

#menu_princ ul li.menu_viaggiatore a {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_viaggiatore.gif)
}

#menu_princ ul li.menu_viaggiatore a:hover, #menu_princ ul li.menu_viaggiatore a.selected,
	#menu_princ ul li.menu_viaggiatore a.selected:hover {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_viaggiatore_selected.gif)
}

#form_cerca label {
	color: #333
}

#form_cerca input#search {
	border-top: 2px solid #797979;
	border-left: 2px solid #888;
	border-bottom: 1px solid #f3f3f3;
	border-right: 1px solid #dbdbdb;
	width: 50%
}

#form_cerca input.btn {
	border: 1px solid #e0e0d8;
	border-right: 0 none;
	background-color: #FFF;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/vai.gif);
	background-repeat: no-repeat;
	background-position: right center;
	width: 60px;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
	margin: 0;
	padding: 0 0 0 2px;
	height: 21px
}

h1 {
	margin: 0;
	padding: 0 0 0 5px;
	font-size: 150%!important;
	font-weight: normal;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif!important;;
	text-align: left;
	border-bottom: 3px solid #9ea7ae;
	clear: both
}

#canale_agenzia h1, .agenzia h1 {
	border-bottom: 3px solid #9ea7ae
}

#canale_operatore h1, .operatore h1 {
	border-bottom: 3px solid #2d5396
}

#colonna2 h1#titolocanale {
	border: 0;
	border-bottom: 1px solid #2d5396;
	font-size: 110%;
	padding-top: 10px
}

#canale_viaggiatore h1, .viaggiatore h1 {
	border-bottom: 3px solid #689bca
}

#colonna2 h1 {
	margin-top: 52px;
	padding-left: 10px
}

.operatore #colonna2 h1 {
	border-bottom: 3px solid #2d5396
}

h2 {
	margin: 10px 0 10px 0;
	padding: 0;
	border-bottom: 1px solid #9ea7ae;
	font-size: 120%;
	font-weight: bold;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	clear: both
}

#canale_agenzia h2, .agenzia h2 {
	border-bottom: 1px solid #9ea7ae;
	font-weight: normal
}

#canale_operatore h2, .operatore h2 {
	border-bottom: 1px solid #2d5396;
	font-weight: normal
}

#canale_viaggiatore h2, .viaggiatore h2 {
	border-bottom: 1px solid #689bca;
	font-weight: normal
}

#canale_agenzia p, #canale_operatore p, #canale_viaggiatore p {
	text-align: left;
	margin: .5em 0 1em 0;
	padding: 0
}

#container_box {
	clear: both;
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 0 0 20px 0;
	padding: 0
}

div.container {
	border: 0 none;
	float: left;
	height: auto !important;
	margin: 10px 20px 20px 0;
	text-align: left;
	width: 45%
}

#canale_agenzia #colonna1 div.container h2, #canale_operatore #colonna1 div.container h2,
	#canale_viaggiatore #colonna1 div.container h2 {
	margin: 0;
	padding: 0 0 2px 5px;
	color: #333
}

#canale_agenzia #colonna1 div.container h2 a, #canale_operatore #colonna1 div.container h2 a,
	#canale_viaggiatore #colonna1 div.container h2 a, #canale_agenzia #colonna1 div.container h2 a:visited,
	#canale_operatore #colonna1 div.container h2 a:visited,
	#canale_viaggiatore #colonna1 div.container h2 a:visited,
	#canale_agenzia #colonna1 h2 a, #canale_operatore #colonna1 h2 a,
	#canale_viaggiatore #colonna1 h2 a {
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	font-size: 100%
}

#canale_agenzia #colonna1 div.container h2 a:hover, #canale_operatore #colonna1 div.container h2 a:hover,
	#canale_viaggiatore #colonna1 div.container h2 a:hover {
	text-decoration: underline
}

#canale_agenzia #colonna1 div.container p, #canale_operatore #colonna1 div.container p,
	#canale_viaggiatore #colonna1 div.container p {
	margin: .5em 0 0 0;
	padding: 0 10px;
	color: #000
}

div.container ul {
	margin: 0 0 0 10px;
	padding: 0 4px;
	list-style: none
}

#colonna1 ul li {
	margin: 1em .5em;
	padding: 0 0 0 15px;
	list-style: none;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_agenzia.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	color: #333
}

#colonna1 ul li.eventi {
	margin-left: 300px
}

#colonna1 div.eventi {
	margin-left: 320px;
	margin-top: 25px
}

#canale_agenzia #colonna1 ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_agenzia.gif)
}

#canale_operatore #colonna1 ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_operatore.gif)
}

#canale_viaggiatore #colonna1 ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_viaggiatore.gif)
}

#colonna1 ol li ul, #colonna1 ul li ul {
	font-size: 100%
}

div.container ul li.pdf {
	margin: 1em .5em 1em 0;
	padding: 0 0 0 25px;
	list-style: none;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/icona_pdf.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #333
}

ul li a.pdf {
	padding: 0 0 0 25px;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/icona_pdf.gif);
	background-repeat: no-repeat;
	background-position: 0 0
}

div.container ul li a {
	color: #00e;
	color: #295c83;
	padding: 0;
	margin: 0;
	text-decoration: none
}

div.container ul li a:hover {
	color: #ae1b13;
	text-decoration: underline
}

#canale_agenzia #colonna1 div.container ul li p, #canale_operatore #colonna1 div.container ul li p,
	#canale_viaggiatore #colonna1 div.container ul li p {
	font-size: 100%;
	margin: .5em 0 0 0;
	padding: 0 10px 0 0;
	color: #000
}

#canale_agenzia #colonna1 div.container p.tutto, #canale_operatore #colonna1 div.container p.tutto,
	#canale_viaggiatore #colonna1 div.container p.tutto {
	border: 1px solid #e1e1df;
	text-align: left;
	float: right;
	margin: 5px 10px 10px 10px;
	padding: 0 0 0 10px
}

#canale_agenzia #colonna1 div.container p.tutto a, #canale_agenzia #colonna1 div.container p.tutto a:visited,
	#canale_operatore #colonna1 div.container p.tutto a, #canale_operatore #colonna1 div.container p.tutto a:visited,
	#canale_viaggiatore #colonna1 div.container p.tutto a,
	#canale_viaggiatore #colonna1 div.container p.tutto a:visited {
	display: block;
	text-align: right;
	margin: 0;
	padding: 0 30px 0 0;
	color: #333;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_tutto_agenzia.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold
}

#canale_operatore #colonna1 div.container p.tutto a, #canale_operatore #colonna1 div.container p.tutto a:visited
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_tutto_operatore.gif);
	background-repeat: no-repeat;
	background-position: right center
}

#canale_viaggiatore #colonna1 div.container p.tutto a,
	#canale_viaggiatore #colonna1 div.container p.tutto a:visited {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_tutto_viaggiatore.gif);
	background-repeat: no-repeat;
	background-position: right center
}

div.container p.tutto a:hover {
	text-decoration: underline
}

#canale_agenzia #colonna1 div.container p.telefono {
	background: #FFF;
	color: #333;
	margin: 10px 0 0 0;
	border: 1px solid #dedede;
	text-align: left;
	padding: 5px 20px 5px 30px;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/cornettap.gif);
	background-position: 10px 5px;
	background-repeat: no-repeat
}

div.container p.evidenza {
	background: #003e7f;
	color: #FFF;
	margin: 10px 0 0 0;
	border: 1px solid #dedede;
	text-align: left;
	padding: 5px 20px 5px 10px
}

#canale_agenzia #colonna1 div.container p.evidenza, #canale_operatore #colonna1 div.container p.evidenza,
	#canale_viaggiatore #colonna1 div.container p.evidenza {
	background: #FFF;
	color: #333;
	margin: 10px 0 0 0;
	border: 1px solid #dedede;
	text-align: left;
	padding: 5px 20px 5px 10px
}

#canale_agenzia #colonna1 div.container p.evidenza a, #canale_operatore #colonna1 div.container p.evidenza a,
	#canale_viaggiatore #colonna1 div.container p.evidenza a,
	#canale_agenzia #colonna1 div.container p.evidenza a:visited,
	#canale_operatore #colonna1 div.container p.evidenza a:visited,
	#canale_viaggiatore #colonna1 div.container p.evidenza a:visited {
	display: inline;
	text-decoration: underline
}

div.container p.evidenza a:hover {
	text-decoration: none
}

#banner {
	margin: 0 auto 20px auto;
	padding: 0
}

#banner img {
	width: 100%
}

#box_link_correlati h2 {
	border-bottom: 3px solid #8dd66b;
	margin: 0;
	padding: 0 0 0 5px;
	font-size: 130%;
	font-weight: normal
}

#box_link_correlati ul {
	margin: 0 0 0 10px;
	padding: 0;
	list-style: none
}

#box_link_correlati ul li {
	margin: 1em .5em;
	padding: 0 0 0 12px;
	list-style: none;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_link_correlati.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
	color: #333
}

#canale_operatore p.stato_app {
	margin: 0
}

#interruzioni_pianificate {
	margin: 0 5px;
	padding: 0 5px;
	list-style: none;
	border: 2px solid #ccc;
	border-top: 0 none
}

#interruzioni_pianificate h3 {
	font-size: 90%
}

#colonna1 ul#carta_doganale {
	margin: 1em .5em;
	padding: 0 0 0 160px;
	list-style: none;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/carta_doganale.jpg);
	background-repeat: no-repeat;
	background-position: top left
}

#semaforo {
	margin: 5px;
	padding: 5px;
	border: 2px solid #ccc;
	background-color: #efedee
}

#semaforo img {
	width: 43px;
	height: 35px;
	float: right;
	border: 1px solid #bbb
}

#semaforo p {
	width: 70%;
	float: left;
	margin: 2px;
	width: 169px
}

div.stato1, div.stato2 {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 3px;
	height: 37px
}

div.stato1 {
	margin-bottom: 5px
}

#canale_operatore div.container {
	width: 45%
}

.tab_calendario {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	border: 0;
	background-color: #f5f5f5;
	width: 100%
}

.tab_calendario caption {
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: transparent;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	font-size: 170%;
	border-bottom: 5px solid #c3c3c3
}

.tab_calendario .nascondi {
	position: absolute;
	top: -10000px;
	left: -10000px
}

.tab_calendario th {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #c3c3c3;
	padding: 5px 2px;
	font-size: 80%;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif
}

.tab_calendario td {
	border: 1px solid #FFF;
	color: #333
}

.tab_calendario tbody td span {
	position: absolute;
	top: -10000px;
	left: -10000px
}

.tab_calendario tbody td a, .tab_calendario tbody td a:hover,
	.tab_calendario tbody td a:active, .tab_calendario tbody td a:visited {
	display: block;
	color: #333;
	font-weight: bold;
	border-bottom: 3px solid #c3c3c3
}

.tab_calendario .curdate {
	border: 1px #c3c3c3 solid;
	background-color: #FFF;
	color: #333
}

.tab_calendario .curdate a, .tab_calendario .curdate a:hover,
	.tab_calendario .curdate a:active, .tab_calendario .curdate a:visited {
	border-bottom: 3px solid #c3c3c3;
	color: #333
}

#box_calendario p {
	margin: 10px 0 40px 0;
	padding: 0
}

#box_calendario p a {
	margin: 0;
	padding: 5px 2px;
	border: 1px solid #ccc;
	display: block;
	color: #333;
	text-decoration: underline
}

#colonna1 a.g_scadenza, #colonna1 a.g_scadenza:visited, #colonna1 a.g_scadenza:hover
	{
	text-decoration: none;
	color: #295c83
}

#footer {
	width: 99%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	background-color: #FFF;
	border-top: 1px solid #e5e1e2
}

#footer ul {
	width: 100%;
	margin: 0;
	padding: 20px 0 0 0
}

#footer LI {
	display: inline;
	margin: 0 .1em;
	list-style: none
}

#footer li a:link, #footer li a:visited {
	display: inline;
	text-decoration: underline;
	color: #333
}

#footer li a:hover {
	text-decoration: none
}

table.sai_table {
	border: 2px solid #ccc;
	background-color: #f5f5f5;
	font-family: Tahoma, Arial, Helvetica;
	padding: 4px 4px 4px 4px;
	font-size: 90%;
	margin-left: 2%;
	margin-bottom: 20px
}

tr.sai_table {
	border: 1px solid #ccc
}

td.sai_table {
	border: 1px solid #ccc
}

h2.saisa {
	padding-top: 0;
	padding-left: 5px
}

h1#titolocanale {
	padding-top: 0;
	padding-left: 5px;
	font-size: 100%;
	margin-top: 0
}

#contenuti_due_colonne #colonna1 ul.due_colonne {
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 0
}

#contenuti_due_colonne #colonna1 ul.due_colonne li {
	float: left;
	width: 40%;
	position: relative;
	z-index: 100;
	margin: 0 20px 0 0;
	background-image: none
}

#menu_princ #menu_princ_hp {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
	float: left;
	width: 100%;
	min-height: 50px;
	height: auto !important;
	height: 50px
}

#menu_princ #menu_princ_hp div {
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
	text-align: left
}

#menu_princ #menu_princ_hp h2 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: 0 none
}

#menu_princ #menu_princ_hp h2 a {
	margin: 0 2%;
	padding: 0 0 0 5%;
	display: block;
	width: 92%;
	font-size: 140%;
	font-weight: normal;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 0 solid red;
	min-height: 70px;
	height: auto !important;
	height: 70px
}

#menu_princ #menu_princ_hp .menu_agenzia_hp h2 a {
	margin: 0 1% 0 2%;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_agenzia.gif)
}

#menu_princ #menu_princ_hp .menu_agenzia_hp h2 a:hover, #menu_princ #menu_princ_hp .menu_agenzia_hp h2 a.selected
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_agenzia_selected.gif)
}

#menu_princ #menu_princ_hp .menu_agenzia_hp h2 a.selected:hover {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_agenzia.gif)
}

#menu_princ #menu_princ_hp .menu_operatore_hp {
	border-right: 1px solid #e5e1e2;
	border-left: 1px solid #e5e1e2
}

#menu_princ #menu_princ_hp .menu_operatore_hp h2 a {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_operatore.gif)
}

#menu_princ #menu_princ_hp .menu_operatore_hp h2 a:hover, #menu_princ #menu_princ_hp .menu_operatore_hp h2 a.selected
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_operatore_selected.gif)
}

#menu_princ #menu_princ_hp .menu_operatore_hp h2 a.selected:hover {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_operatore.gif)
}

#menu_princ #menu_princ_hp .menu_viaggiatore_hp h2 a {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_viaggiatore.gif)
}

#menu_princ #menu_princ_hp .menu_viaggiatore_hp h2 a:hover, #menu_princ #menu_princ_hp .menu_viaggiatore_hp h2 a.selected
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_viaggiatore_selected.gif)
}

#menu_princ #menu_princ_hp .menu_viaggiatore_hp h2 a.selected:hover {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/menu/menu_principale_bordo_viaggiatore.gif)
}

#menu_princ #menu_princ_hp ul {
	margin: 0 0 5px 10px;
	padding: 0 0 0 20px;
	list-style: none;
	display: block;
	float: none;
	width: 90%;
	border-bottom: 1px solid #000;
	min-height: 90px;
	height: auto !important;
	height: 90px
}

#menu_princ #menu_princ_hp .menu_agenzia_hp ul {
	border-bottom: 1px solid #a0a9b0
}

#menu_princ #menu_princ_hp .menu_operatore_hp ul {
	border-bottom: 1px solid #345ea1
}

#menu_princ #menu_princ_hp .menu_viaggiatore_hp ul {
	border-bottom: 1px solid #75a6ce
}

#menu_princ #menu_princ_hp ul li {
	margin: 0;
	padding: 0 0 0 12px;
	border: 0 none;
	list-style: none;
	display: block;
	float: none;
	width: 95%;
	background-image:
		url("https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_agenzia.gif");
	background-repeat: no-repeat;
	background-position: 0 4px
}

#menu_princ #menu_princ_hp .menu_agenzia_hp ul li {
	background-image:
		url("https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_agenzia.gif")
}

#menu_princ #menu_princ_hp .menu_operatore_hp ul li {
	background-image:
		url("https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_operatore.gif")
}

#menu_princ #menu_princ_hp .menu_viaggiatore_hp ul li {
	background-image:
		url("https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_viaggiatore.gif")
}

#menu_princ #menu_princ_hp ul li a, #menu_princ #menu_princ_hp ul li a:visited
	{
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	display: block;
	float: none;
	font-size: 100%;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	color: #295c83
}

#menu_princ #menu_princ_hp ul li a:hover {
	text-decoration: underline
}

#menu_princ #menu_princ_hp p {
	border: 1px solid #e1e1df;
	text-align: left;
	float: right;
	margin: 5px 10px 10px 10px;
	padding: 0 0 0 10px
}

#menu_princ #menu_princ_hp p a, #menu_princ #menu_princ_hp p a:visited {
	display: block;
	text-align: right;
	margin: 0;
	padding: 0 30px 0 0;
	color: #333;
	color: #295c83;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_tutto_agenzia.gif);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold
}

#menu_princ #menu_princ_hp p a:hover {
	text-decoration: underline
}

#menu_princ #menu_princ_hp .menu_operatore_hp p a, #menu_princ #menu_princ_hp .menu_operatore_hp p a:visited
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_tutto_operatore.gif);
	background-repeat: no-repeat;
	background-position: right center
}

#menu_princ #menu_princ_hp .menu_viaggiatore_hp p a, #menu_princ #menu_princ_hp .menu_viaggiatore_hp p a:visited
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_tutto_viaggiatore.gif);
	background-repeat: no-repeat;
	background-position: right center
}

#banner_hp {
	width: 100%;
	margin: 30px auto 0 auto;
	padding: 0;
	text-align: center
}

#banner_hp img {
	width: 100%
}

#canale_home #colonna1_hp h1 {
	margin: 15px 0 0 0;
	padding: 0 0 0 10px;
	font-size: 150%;
	font-weight: normal;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: left;
	border-bottom: 13px solid #a0a9b0;
	clear: both
}

#canale_home #colonna1_hp h1 {
	border-bottom: 13px solid #507498
}

#canale_home #container100_inglese h1 {
	border-bottom: 4px solid #295c83
}

#canale_home #colonna1_hp ul, #canale_home #colonna2_hp ul, #canale_home #container100_inglese ul
	{
	margin: 0 0 0 10px;
	padding: 0 4px;
	list-style: none
}

#canale_home #colonna1_hp ul li, #canale_home #colonna2_hp ul li,
	#canale_home #container100_inglese ul li {
	margin: 1em .5em;
	padding: 0 0 0 12px;
	list-style: none;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_link_in_evidenza.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	color: #333
}

#canale_home #colonna1_hp ul li a, #canale_home #colonna2_hp ul li a {
	color: #333;
	color: #295c83;
	padding: 0;
	margin: 0;
	text-decoration: none
}

#canale_home #colonna1_hp ul li a:hover, #canale_home #colonna2_hp ul li a:hover
	{
	color: #333;
	color: #295c83;
	text-decoration: underline
}

#canale_home #colonna1_hp p.tutte_news {
	border: 1px solid #e1e1df;
	text-align: left;
	float: right;
	margin: 15px 10px 30px 10px;
	padding: 0 0 0 10px
}

#canale_home #colonna1_hp p.tutte_news a, #canale_home #colonna1_hp p.tutte_news a:visited
	{
	display: block;
	text-align: right;
	margin: 0;
	padding: 0 30px 0 0;
	color: #333;
	color: #295c83;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/tutte_le_news.gif);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold
}

#canale_home #colonna1_hp p.tutte_news a:hover {
	text-decoration: underline
}

#container_box_hp {
	clear: both;
	width: 100%;
	float: left;
	overflow: hidden
}

#container_box_hp .container_sx {
	width: 47%;
	float: left;
	margin: 0 2% 10px 0;
	border: 0 none;
	text-align: left;
	min-height: 150px;
	height: auto !important;
	height: 150px
}

#container_box_hp .container_dx {
	width: 50%;
	float: left;
	margin: 0;
	border: 0 none;
	text-align: left;
	min-height: 150px;
	height: auto !important;
	height: 150px
}

#container_box_hp ul li p {
	font-size: 100%;
	margin: .5em 0 0 0;
	padding: 0 10px 0 0;
	color: #000
}

#canale_home #colonna2_hp #servizi_online_hp h1 {
	border-bottom: 13px solid #e6c93f
}

#canale_home #colonna2_hp #in_un_click_hp h1 {
	border-bottom: 13px solid #cc6c6e
}

#canale_home #colonna2_hp #aree_tematiche_hp h1 {
	border-bottom: 13px solid #bc8cb6
}

#canale_home #colonna2_hp #agenzia_informa_hp h1 {
	border-bottom: 13px solid #d4832a
}

#canale_home #colonna2_hp #servizi_online_hp ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_link_Servizi_online.gif)
}

#canale_home #colonna2_hp #in_un_click_hp ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_link_In_un_click.gif)
}

#canale_home #colonna2_hp #aree_tematiche_hp ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_link_Areee_tematiche.gif)
}

#canale_home #colonna2_hp #agenzia_informa_hp ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_link_Agenzia_informa.gif)
}

#canale_home #colonna2_hp #servizi_online_hp ul#servizi {
	border: 1px solid #ccc;
	border-top: 0 none;
	margin: 0;
	padding: 0 0 0 15px
}

.print {
	display: none
}

#header_home {
	border-width: 0;
	padding-bottom: 15px
}

#header_home.bordo_eef {
	border-bottom: 1px solid #b3b3b3
}

#header_home #logo {
	position: static;
	float: left;
	margin-top: 15px
}

#istituzionale_home {
	float: right;
	width: 62%
}

#istituzionale_home ul {
	float: right;
	margin-top: 15px
}

#istituzionale_home li {
	background-color: #eee;
	padding: 7px 1px
}

#istituzionale_home li:before {
	padding-right: 2px;
	content: '|';
	color: #888
}

#istituzionale_home li:first-child:before {
	content: ' '
}

#istituzionale_home li.blank:before {
	display: none
}

#istituzionale_home li.blank {
	margin-left: 6px
}

#istituzionale_home li a {
	padding: 0 6px
}

#istituzionale_home li.current a, #istituzionale_home li.current a:visited
	{
	text-decoration: underline
}

#istituzionale_home .dropdown {
	position: relative;
	background: #eee
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-dropdown-off.gif)
		no-repeat right center
}

#istituzionale_home .dropdown-act {
	padding-right: 20px
}

#istituzionale_home .dropdown-menu1 {
	position: absolute;
	top: -10000px;
	z-index: 10;
	float: none;
	margin: 0;
	height: auto;
	background-color: #eee;
	padding: 10px;
	list-style-type: none
}

#istituzionale_home .dropdown-menu-sx {
	right: 0
}

#istituzionale_home .dropdown-menu-dx {
	right: 0
}

#istituzionale_home .dropdown-menu1 li {
	float: none;
	margin: 0;
	padding: 5px 0;
	list-style: none
}

#istituzionale_home .dropdown-menu1 li:before {
	content: ''
}

#istituzionale_home .dropdown-menu1 a:after {
	background-image: none
}

#istituzionale_home .dropdown.selected .dropdown-menu1,
	#istituzionale_home .dropdown-css:hover .dropdown-menu1 {
	top: auto
}

#istituzionale_home .dropdown.selected .dropdown-menu1.ag,
	#istituzionale_home .dropdown-css:hover .dropdown-menu1.ag {
	top: auto;
	left: 5px
}

#istituzionale_home form {
	float: right;
	clear: none;
	width: auto
}

#istituzionale_home form.eef {
	float: right;
	clear: none;
	width: 75%
}

#form_cerca {
	float: right;
	margin-left: 30px
}

#form_cerca input#search {
	width: 40%;
	border: 1px #ddd solid;
	padding: 3px
}

#form_cerca input.btn {
	margin-left: -1px;
	border: 1px #ddd solid;
	width: auto;
	height: auto;
	background-image: none;
	background-color: #eee;
	padding: 3px 8px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase
}

#menu_princ {
	border-width: 0;
	padding-bottom: 30px
}

#menu_princ h2 {
	border-bottom: 12px transparent solid;
	background: transparent
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg.gif)
		no-repeat left 0;
	padding: 0 0 3px 30px;
	font-weight: normal;
	line-height: 26px;
	text-transform: uppercase
}

#menu_princ h2 a, #menu_princ h2 a:visited {
	color: #000
}

#menu_princ_ag h2 {
	border-color: #9ea7ae
}

#menu_princ_dog h2 {
	border-color: #295c83
}

#menu_princ_ag, #menu_princ_dog, #menu_princ_mon {
	margin: 0 10px;
	border-bottom: 1px #ddd solid
}

#menu_princ .current #menu_princ_ag, #menu_princ .selected #menu_princ_ag
	{
	border-color: #9ea7ae
}

#menu_princ .current #menu_princ_dog, #menu_princ .selected #menu_princ_dog
	{
	border-color: #295c83
}

#menu_princ .current #menu_princ_mon, #menu_princ .selected #menu_princ_mon
	{
	border-color: #f3cb50
}

#menu_princ_mon h2 {
	border-color: #f3cb50
}

#menu_princ .current #menu_princ_ag h2, #menu_princ .selected #menu_princ_ag h2
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_ag.gif)
}

#menu_princ .current #menu_princ_dog h2, #menu_princ .selected #menu_princ_dog h2
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_dog.gif)
}

#menu_princ .current #menu_princ_mon h2, #menu_princ .selected #menu_princ_mon h2
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_mon.gif)
}

#menu_princ_mon .logo {
	position: absolute;
	top: 10px;
	right: 10px
}

#menu_princ .menu_princ_sez {
	position: relative;
	float: left;
	width: 33%
}

#menu_princ .hack-lastchild .menu_princ_sez:last-child {
	width: 34%
}

#menu_princ .sinottico {
	float: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -10000px;
	left: -10000px
}

#menu_princ .current .sinottico, #menu_princ .selected .sinottico {
	position: static
}

#menu_princ .sinottico li {
	float: none;
	margin: 1px 0;
	width: auto;
	padding: 1px 0
}

#menu_princ .sinottico li a, #menu_princ .sinottico li a:visited {
	display: block;
	margin: 0;
	width: auto;
	min-height: 0;
	height: auto;
	background: transparent
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-menu-off.gif)
		no-repeat 10px center;
	padding: 0 0 0 30px;
	font-family: inherit;
	font-size: 110%;
	color: #000;
	text-transform: uppercase
}

#menu_princ_ag .sinottico li.current a, #menu_princ_ag .sinottico li a:hover
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-menu-on-ag.gif)
}

#menu_princ_dog .sinottico li.current a, #menu_princ_dog .sinottico li a:hover
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-menu-on-dog.gif)
}

#menu_princ_mon .sinottico li.current a, #menu_princ_mon .sinottico li a:hover
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-menu-on-mon.gif)
}

#footer li a:link, #footer li a:visited {
	color: #333;
	text-decoration: none
}

#footer li a:hover {
	text-decoration: underline
}

#footer li:before {
	padding-right: 10px;
	content: '|';
	color: #888
}

#footer li:first-child:before {
	content: ''
}

input[type=text], input[type=password], select {
	border: 1px #ddd solid;
	background-color: #fff;
	padding: 3px
}

input[type=submit], input[type=button] {
	margin-left: -1px;
	border: 1px #ddd solid;
	width: auto;
	height: auto;
	background-image: none;
	background-color: #eee;
	padding: 3px 8px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase
}

li p {
	font-size: 100%
}

.deco-ag h1, .deco-dog h1, .deco-mon h1, h1.deco-ag, h1.deco-dog, h1.deco-mon
	{
	border-bottom-width: 2px
}

.deco-ag h1, h1.deco-ag {
	border-color: #ddd
}

.deco-dog h1, h1.deco-dog {
	border-color: #295c83
}

.deco-mon h1, h1.deco-mon {
	border-color: #f3cb50;
	border-bottom-width: 4px
}

h2.deco-mon {
	border-color: #f3cb50
}

.deco-ag h2, .deco-dog h2, .deco-mon h2, h2.deco-ag, h2.deco-dog, h2.deco-mon
	{
	border-bottom-width: 0;
	background: transparent none no-repeat 0 center;
	padding-left: 32px;
	font-weight: normal
}

.deco-ag h2, h2.deco-ag {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_ag.gif)
}

.deco-dog h2, h2.deco-dog {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_dog.gif)
}

.deco-mon h2, h2.deco-mon {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_mon.gif)
}

.deco-ag ul, .deco-dog ul, .deco-mon ul, ul.deco-ag, ul.deco-dog, ul.deco-mon
	{
	margin: 10px 0;
	padding: 0;
	list-style: none outside none
}

.deco-ag ul li, .deco-dog ul li, .deco-mon ul li, ul.deco-ag li, ul.deco-dog li,
	ul.deco-mon li {
	margin: 1em .5em;
	background: transparent none no-repeat 0 5px;
	padding: 0 0 0 20px;
	list-style: none outside none;
	color: #333
}

.deco-ag ul li, ul.deco-ag li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-small-ag.gif)
}

.deco-dog ul li, ul.deco-dog li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-small-dog.gif)
}

.deco-mon ul li, ul.deco-mon li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-small-mon.gif)
}

.evidenza {
	margin: 20px 0;
	padding: 6px 20px;
	background-color: #eee
}

.nota {
	border-bottom: 3px transparent solid;
	background: transparent none no-repeat 0 top
}

.nota-nb {
	border-bottom-width: 0
}

.deco-ag .nota, nota.deco-ag {
	border-bottom-color: #9ea7ae;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_ag.gif);
	padding-left: 35px
}

.deco-dog .nota, nota.deco-dog {
	border-bottom-color: #295c83;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_dog.gif);
	padding-left: 35px
}

.deco-mon .nota, nota.deco-mon {
	border-bottom-color: #f3cb50;
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_menu_bg_mon.gif);
	padding-left: 35px
}

.tpad20 {
	margin-top: 20px
}

.tpad30 {
	margin-top: 30px
}

#hp-uni {
	position: relative;
	margin: 0 10px
}

#hp-uni .colonna-1 {
	float: right;
	width: 66%
}

#hp-uni .colonna-2 {
	float: left;
	width: 32%
}

#hp-uni .colonna-1-1 {
	float: left;
	border-bottom: 3px #295c83 solid;
	width: 48%;
	padding-bottom: 20px
}

#hp-uni .colonna-1-2 {
	float: left;
	margin-left: 4%;
	border-bottom: 3px #f3cb50 solid;
	width: 48%;
	padding-bottom: 20px
}

#hp-uni .banner-3 {
	margin: 20px 0
}

#hp-uni .banner-3 a, #hp-uni .banner-3 span {
	float: right;
	width: 33%;
	text-align: center
}

#hp-uni .banner-3 img {
	width: 98%;
	max-width: 350px;
	height: auto
}

#hp-mon {
	position: relative;
	margin: 0 10px
}

#hp-mon .colonna-1 {
	float: left;
	width: 39%
}

#hp-mon .colonna-2 {
	float: left;
	margin-left: 1%;
	width: 60%
}

#hp-mon .colonna-1 h2 {
	margin: 1em 0;
	border-width: 0;
	background-image: none;
	padding: 0;
	font-size: 100%;
	color: #333;
	font-weight: normal
}

#hp-mon .lancio {
	border-top: 1px #ddd solid;
	padding-top: 3px;
	text-align: right;
	text-transform: uppercase
}

.dualtab .tab {
	float: left;
	margin-left: 5%;
	width: 45%
}

.dualtab.active .tab {
	float: none;
	width: auto
}

.dualtab .tab .titolo {
	border-bottom: 1px #ddd solid
}

.dualtab .tab .titolo h1 {
	margin-bottom: -1px;
	border-top: 3px #f3cb50 solid;
	border-right: 1px #ddd solid;
	border-bottom-width: 0;
	border-left: 1px #ddd solid;
	width: 50%;
	background-color: #fff;
	padding: 5px 0;
	font-size: 90%;
	text-align: center;
	text-transform: uppercase;
	z-index: 10
}

.dualtab .tab .titolo h1 a, .dualtab .tab .titolo h1 a:visited {
	color: #333
}

.dualtab .tab .contenuto {
	position: relative;
	border: 1px #ddd solid;
	border-top-width: 0
}

.dualtab .tab .contenuto div {
	border-bottom: 1px #ddd solid;
	padding: 10px 10px 5px 10px
}

.dualtab .tab .contenuto div:last-child {
	border-width: 0
}

.dualtab .tab .contenuto div div {
	border-bottom-width: 0;
	padding: 6px 0
}

.dualtab .tab .contenuto h2 {
	background-image: none;
	padding-left: 0;
	font-size: 80%;
	font-weight: bold
}

.dualtab .tab .contenuto p {
	margin: 5px 0;
	font-size: 80%
}

.dualtab .tab .contenuto label {
	display: block;
	margin-bottom: 6px;
	font-size: 80%
}

.dualtab .tab .contenuto li {
	margin: 5px 0
}

.dualtab .tab .contenuto p.fluttua {
	float: right;
	margin-top: -30px;
	margin-left: 10px
}

.dualtab .tab .contenuto p.sn_banner {
	width: 60%
}

.dualtab .tab .contenuto p.fluttua-40 {
	float: right;
	margin-top: -40px;
	margin-left: 10px
}

#colonna1 a, #colonna1 a:visited {
	text-decoration: none
}

#canale-giochi {
	position: relative;
	margin: 0 20px 20px
}

#canale-giochi #colonna1 {
	float: left;
	margin: 30px 0 0 0;
	border-width: 0;
	width: 65%;
	padding: 0 1% 0 0
}

#canale-giochi #colonna1 h2 {
	margin: 0;
	border-bottom: 1px #f3cb50 solid;
	background-image: none;
	padding-left: 5px;
	font-size: 120%;
	font-weight: normal
}

#canale-giochi #colonna2 {
	position: static;
	float: left;
	margin: 0;
	margin-left: 1%;
	border-width: 0;
	width: 33%;
	padding: 0
}

#canale-giochi .nota {
	margin: 30px 0
}

#canale-giochi div.container {
	margin: 10px 1% 20px 1%;
	width: 48%
}

#canale-giochi ul {
	margin: 10px 0;
	padding: 0;
	list-style: none outside none
}

#canale-giochi ul li {
	margin: 1em .5em;
	background: transparent
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-small-mon.gif)
		no-repeat 0 5px;
	list-style: none outside none;
	color: #333
}

#canale-giochi .logos {
	text-align: center
}

#canale-giochi .logos img {
	margin: 1.6%;
	border: 1px #ddd solid
}

#colonna2 .dualtab .tab .titolo h1 {
	margin-top: 30px;
	padding-left: 0
}

#colonna2 .dualtab .tab .contenuto ul {
	margin: 0;
	padding: 10px 0 0 0
}

#colonna2 .dualtab .tab .contenuto ul li {
	margin: 5px 0
}

#contenuti_due_colonne {
	margin: 0 10px 20px;
	border-bottom-width: 0;
	width: auto
}

#contenuti_due_colonne #colonna1 {
	margin-left: 275px;
	padding: 0
}

#contenuti_due_colonne #colonna1 ul {
	margin: auto;
	padding: 3px 0 0 0
}

#contenuti_due_colonne.deco-mon #colonna1 ul li {
	background: transparent
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-small-mon.gif)
		no-repeat 0 5px
}

.operatore #colonna1 ul li {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_link_in_evidenza.gif);
	background-repeat: no-repeat
}

#contenuti_due_colonne .colonna1-dx ul li {
	padding: 0 10px 20px 20px
}

#contenuti_due_colonne .colonna1-sx {
	float: left;
	width: 58%;
	margin-top: 0
}

#contenuti_due_colonne .colonna1-dx {
	float: left;
	margin-left: 2%;
	width: 40%;
	padding-top: 25px
}

#contenuti_due_colonne .colonna1-sx .form_d {
	float: left;
	display: block;
	width: 95%
}

#contenuti_due_colonne .colonna1-sx .form_d label {
	font-size: 80%;
	display: block;
	margin-bottom: 6px
}

#contenuti_due_colonne .colonna1-sx .form_d p {
	float: left;
	margin-right: 4%
}

#contenuti_due_colonne .colonna1-sx .form_d p label {
	font-size: 100%;
	display: block
}

#contenuti_due_colonne .colonna1-sx h2 {
	margin: 24px 0 6px 0;
	border-bottom: 1px solid #f3cb50;
	background-image: none;
	padding-left: 0
}

#contenuti_due_colonne .colonna1-sx ul {
	margin: 24px 0;
	padding: 0;
	list-style: none outside none
}

#contenuti_due_colonne .colonna1-sx form {
	margin: 24px 0;
	border: 1px #ddd solid;
	padding: 10px 20px
}

#contenuti_due_colonne .colonna1-sx form div {
	margin: 10px 0
}

#contenuti_due_colonne .colonna1-sx input[type=text],
	#contenuti_due_colonne .colonna1-sx input[type=password],
	#contenuti_due_colonne .colonna1-sx select {
	min-width: 120px
}

#contenuti_due_colonne #colonna2 h1 {
	font-size: 120%;
	margin-top: 10px;
	padding-bottom: 10px
}

#contenuti_due_colonne #colonna2 li {
	background-image: none
}

#contenuti_due_colonne #colonna2 label {
	margin: 10px 0
}

#contenuti_due_colonne #colonna2 ul li a, #contenuti_due_colonne #colonna2 ul li a:visited
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-1-off.gif)
}

#contenuti_due_colonne #colonna2 ul li a.selected,
	#contenuti_due_colonne #colonna2 ul li a.selected:visited {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-1-on.gif);
	font-weight: bold
}

#contenuti_due_colonne #colonna2 ul li.indent {
	padding-left: 15px
}

#contenuti_due_colonne #colonna2 ul li.indent a, #contenuti_due_colonne #colonna2 ul li.indent a:visited
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-2-off.gif);
	padding: 5px 0 8px 25px;
	background-position: 10px 9px
}

#contenuti_due_colonne #colonna2 ul li.indent a.selected,
	#contenuti_due_colonne #colonna2 ul li.indent a.selected:visited {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-2-on.gif);
	font-weight: bold
}

#contenuti_due_colonne #colonna2 ul li.indent2 {
	background-color: #fff;
	padding-left: 25px
}

#contenuti_due_colonne #colonna2 ul li.indent2 a, #contenuti_due_colonne #colonna2 ul li.indent2 a:visited
	{
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-3-off.gif);
	background-position: 10px 6px;
	padding-top: 2px;
	padding-bottom: 2px
}

#contenuti_due_colonne #colonna2 ul li.indent2 a.selected,
	#contenuti_due_colonne #colonna2 ul li.indent2 a.selected:visited {
	background-image:
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet-3-on.gif);
	font-weight: bold
}

#contenuti_due_colonne #colonna2 ul li.indent2:first {
	margin-top: 60px
}

#contenuti_due_colonne #colonna2 ul li.indent2:last {
	margin-top: 60px
}

#contenuti_due_colonne #colonna1 .dualtab .tab .contenuto ul {
	margin: 0;
	padding: 10px 0 0 0
}

#contenuti_due_colonne #colonna1 .dualtab .tab .contenuto ul li {
	margin: 5px 0;
	padding: 0 0 0 20px
}

#contenuti_due_colonne .pag_intera, .pag_intera {
	width: 100%
}

#contenuti_due_colonne #colonna1 #switchtabInterna {
	margin: 0;
	margin-top: 15px;
	float: left;
	display: block
}

#contenuti_due_colonne #colonna1 #switchtabInterna li {
	background-image: none;
	margin: 0
}

#switchtabInterna .tabDestra, #switchtabInterna .tabSinistra {
	float: left;
	padding: 10px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	background-color: #ddd;
	position: relative;
	top: 1px;
	border-right: 1px solid #fff
}

#switchtabInterna .current {
	border-right: 1px solid #ddd
}

#switchtabInterna a, #switchtabInterna a:visited {
	text-decoration: none;
	display: block;
	color: #295c83
}

#switchtabInterna a:hover {
	color: #ae1b13
}

#switchtabInterna .current {
	background-color: #fff
}

.portaboxInterna {
	float: left;
	clear: both;
	border: 1px solid #ddd;
	padding: 10px;
	width: 97%;
	margin-bottom: 15px
}

.portaboxInterna h2 {
	border-bottom: 1px solid #f3cb50;
	margin-top: 20px
}

.boxIntEvidenza {
	background-color: #f3f3f3;
	padding: 5px;
	margin-bottom: 20px;
	border: 1px solid #ddd
}

.boxIntEvidenza h2, #contenuti_due_colonne .colonna1-sx .boxIntEvidenza h2
	{
	color: #434343;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 85%;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 10px;
	padding: 0;
	border: 0
}

.boxIntEvidenza .IntBordo {
	padding: 5px
}

.boxIntEvidenza .IntBordo span {
	border: 1px solid #f3cb50;
	padding: 6px;
	background: #fff;
	margin: 0 3px;
	font-weight: bold
}

#contenuti_due_colonne #colonna1 .tabella_d {
	width: 100%;
	font-size: 80%
}

.reduce70, #contenuti_due_colonne #colonna1 .reduce70,
	#contenuti_due_colonne #colonna1-sx .reduce70 {
	font-size: 70%
}

#contenuti_due_colonne #colonna1 .tabella_d th {
	font-weight: bold
}

#contenuti_due_colonne #colonna1 .tabella_d th.titolo {
	font-weight: bold;
	text-align: center
}

#contenuti_due_colonne #colonna1 .tabella_d caption {
	font-size: 140%;
	border-bottom: 1px solid #9ea7ae;
	padding: 0;
	margin: 14px 2px 4px 2px;
	text-align: left;
	font-family: Georgia, "Times New Roman", Times, serif
}

#contenuti_due_colonne.deco-mon #colonna1 .tabella_d caption {
	border-bottom: 1px solid #f3cb50
}

#contenuti_due_colonne #colonna1 .tabella_d td, #colonna1 .tabella_d th
	{
	padding: 4px
}

#contenuti_due_colonne #colonna1 .tabella_d .js_link {
	cursor: pointer;
	color: #295c83
}

#contenuti_due_colonne #colonna1 .tabella_d .js_link:hover {
	color: #ae1b13
}

#contenuti_due_colonne #colonna1 .tabella_d tr:nth-child(2n+0) {
	background: #ececec
}

#contenuti_due_colonne #colonna1 .tabella_d tr:nth-child(2n+1) {
	background: #f6f6f6
}

#contenuti_due_colonne #colonna1 .tabella_d tr.even {
	background-color: #ececec
}

#contenuti_due_colonne #colonna1 .tabella_d tr {
	background: #f6f6f6
}

.portaboxInterna .riquadro_interno p {
	margin-bottom: 5px;
	margin-top: 0
}

.portaboxInterna .riquadro_interno p span {
	float: right;
	margin-right: 5px
}

#contenuti_due_colonne .colonna1-sx #boxEvidenza h2, #boxEvidenza h2 {
	margin-top: 5px
}

.estrazioni {
	width: 80%;
	text-align: center;
	padding: 0;
	margin: 10px;
	float: left
}

.estrazioni p {
	padding: 6px 2px;
	margin: 2px;
	background: #fefefe;
	float: left;
	width: 8%;
	border: 1px solid #aaa;
	font-weight: bold
}

.griglia_d h2 {
	font-size: 120%;
	border-bottom: 1px solid #9ea7ae;
	padding: 0;
	margin: 14px 2px 0 2px
}

.griglia_d p {
	padding: 4px 1%;
	margin: 2px;
	font-weight: bold
}

.griglia_d p span {
	font-weight: normal;
	float: right;
	padding-right: 1%;
	text-align: right
}

.griglia_d p:nth-child(2n+0) {
	background: #ececec
}

.griglia_d p:nth-child(2n+1) {
	background: #f6f6f6
}

#contenuti_due_colonne #colonna1 #logog_titolo {
	clear: right;
	float: right;
	right: 0;
	margin-top: -35px
}

.top29 {
	top: 29px
}

.top40 {
	top: 40px
}

.sotto_inevidenza {
	text-transform: uppercase;
	width: 98%;
	padding: 4px 6px;
	text-align: right;
	border-top: 1px solid #ddd;
	clear: both;
	display: block
}

.errore, .attenzione {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 10px;
	width: 94%
}

.nodisp {
	display: none
}

#canale_home #colonna2_hp #servizi_online_hp h1, #canale_home #colonna2_hp #in_un_click_hp h1,
	#canale_home #colonna2_hp #aree_tematiche_hp h1, #canale_home #colonna2_hp #agenzia_informa_hp h1,
	#canale_home #colonna2_hp #innovazioni_hp h1 {
	border-bottom: 4px solid #73a4cf;
	border-bottom: 4px solid #295c83
}

#ti_trovi_hp {
	clear: both;
	color: #000;
	font-size: 80%;
	padding: 0;
	text-align: left;
	margin: 0 15px 20px 5px
}

#ti_trovi_canale {
	clear: both;
	color: #000;
	font-size: 80%;
	padding: 0;
	text-align: left;
	margin: 0 15px 20px 5px
}

#canale_home #colonna1_hp h1 {
	border-bottom: 4px solid #295c83
}

#canale_home #colonna2_hp #agenzia_informa_hp ul li, #canale_home #colonna2_hp #aree_tematiche_hp ul li,
	#canale_home #colonna2_hp #in_un_click_hp ul li, #canale_home #colonna2_hp #servizi_online_hp ul li
	{
	background-image:
		url("https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/bullet_viaggiatore.gif")
}

#contenuti_due_colonne #colonna1 ul.due_colonne li {
	background-image: none
}

#contenuti_una_colonna.agenzia ul li {
	height: auto;
	padding-bottom: 13px
}

#p_p_id_15_ .row-fluid [class*="span"] {
	box-sizing: border-box
}

.portlet-asset-publisher .asset-full-content .asset-content {
	margin-right: 0
}

.portlet-asset-publisher .asset-content {
	margin: 0
}

.portlet-search .search-layout .search-facet {
	border: 0;
	padding: 0
}

.lfr-token-list {
	margin: 0
}

#p_p_id_3_ .pager li {
	background: 0;
	padding: 0
}

#p_p_id_3_ .search-layout {
	min-height: 700px
}

.input-xxlarge {
	width: 80%
}

.portlet-asset-publisher .lfr-meta-actions {
	margin-right: 400px
}

.portlet-asset-publisher .add-asset-selector {
	margin-right: 0 !important
}

.aui .btn, .aui input[type="text"] {
	font-size: 13px
}

.aui .btn {
	display: inline
}

.aui ul, .aui ol {
	margin: 0
}

#istituzionale_home li.usernamedogane {
	background-color: #888;
	color: #fff;
	padding-left: 4px;
	padding-right: 14px;
	font-weight: bold
}

#istituzionale_home .white {
	color: #fff
}

#istituzionale_home li.signoutdogane {
	background-color: #900
}

#istituzionale_home li.signoutdogane:before {
	content: ""
}

#p_p_id_58_ .passwordDogane {
	margin-left: 37px;
	margin-top: 10px
}

.dualtab .tab .contenuto div div div div div {
	border-bottom: 1px solid #ddd;
	padding: 8px
}

.dualtab .tab .contenuto div.lista {
	padding: 0
}

.dualtab .tab .contenuto div div div div div div {
	border-bottom: 1px solid #ddd;
	padding: 8px
}

.dualtab .tab .contenuto div {
	padding: 0
}

.dualtab .tab .contenuto div div {
	padding: 0
}

#contenuti_due_colonne .colonna1-sx h2 {
	background-image: none;
	border-bottom: 1px solid #f3cb50;
	margin: 24px 0 6px;
	padding-left: 0
}

#contenuti_due_colonne .colonna1-sx .indcart_gn {
	margin: 0
}

.input-radio-wrapper {
	float: left;
	margin-right: 5px
}

.lfr-layout-template span {
	font-size: 85%
}

.lfr-layout-template {
	padding-bottom: 10px
}

.container_100 {
	clear: both;
	float: left;
	margin-bottom: 15px;
	margin-top: 15px;
	overflow: auto;
	width: 100%
}

.floatleft65 {
	display: inline;
	float: left;
	width: 65%
}

.floatleft35 {
	display: inline;
	float: left;
	margin-left: 10px;
	width: 33%
}

.bordinogrigio {
	border: 1px solid #c0c0c0;
	margin: 2px;
	padding: 5px
}

.floatleft140 {
	display: inline;
	float: left;
	margin-right: 10px;
	width: 140px
}

.floatleft77 {
	display: inline;
	float: left;
	width: 77%
}

.floatleftattenzione19 {
	background-color: #efefef;
	border: 1px solid #c0c0c0;
	display: inline;
	float: left;
	margin-right: 10px;
	padding: 20px 5px;
	text-align: center;
	width: 19%
}

.contenitoreimg19 {
	display: inline;
	float: left;
	margin: 0 10px -10px;
	text-align: center;
	width: 19%
}

.arearis {
	background-color: #888;
	color: #fff;
	padding-left: 4px;
	padding-right: 2px;
	background: #eee
		url(https://www.adm.gov.it/TemaPortaleUnico-theme/images/pu/chiave_area_riservata.png)
		no-repeat 0 0
}

#istituzionale_home li.arearis a {
	padding-left: 35px
}

#istituzionale_home li.esci {
	margin-left: 2px
}

#istituzionale_home li.esci::before {
	content: none
}

#istituzionale_home img.chiave {
	margin-right: -6px
}

#istituzionale_home li.azzera {
	padding: 0
}