/* Menu principale Home Page */

#menu_princ #menu_princ_hp {
	margin: 0;
	padding: 15px 0 0px 0;
	list-style: none;
	float: left;
	width: 100%;
	min-height: 50px;
	height: auto !important;
	height: 50px;
}
#menu_princ  #menu_princ_hp div {
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
	text-align: left;
}
#menu_princ #menu_princ_hp h2 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: 0 none;
}
#menu_princ  #menu_princ_hp h2 a {
	margin: 0 2%;
	padding: 0 0 0 5%;
	display: block;
	width: 92%;
	font-size: 140%;
	font-weight: normal;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	background-repeat: no-repeat;
	background-position:  bottom center;
	border: 0px solid red;
	min-height: 70px;
	height: auto !important;
	height: 70px;	 
}
#menu_princ #menu_princ_hp .menu_agenzia_hp h2 a {
	margin: 0 1% 0 2%;
/*	border-bottom: 13px solid #A0A9B0;*/	
	background-image: url(../img/menu/menu_principale_bordo_agenzia.gif);
}
#menu_princ #menu_princ_hp .menu_agenzia_hp h2 a:hover, #menu_princ #menu_princ_hp .menu_agenzia_hp h2 a.selected	 {
	background-image: url(../img/menu/menu_principale_bordo_agenzia_selected.gif);
}
#menu_princ #menu_princ_hp .menu_agenzia_hp h2 a.selected:hover {
	background-image: url(../img/menu/menu_principale_bordo_agenzia.gif);
}

#menu_princ #menu_princ_hp .menu_operatore_hp {
	border-right: 1px solid #E5E1E2;
	border-left: 1px solid #E5E1E2;
}

#menu_princ #menu_princ_hp .menu_operatore_hp h2 a {
	/*border-bottom: 13px solid #75A6CE;*/
	background-image: url(../img/menu/menu_principale_bordo_operatore.gif);
}
#menu_princ #menu_princ_hp .menu_operatore_hp h2 a:hover, #menu_princ #menu_princ_hp .menu_operatore_hp h2 a.selected {
	background-image: url(../img/menu/menu_principale_bordo_operatore_selected.gif);
}
#menu_princ #menu_princ_hp .menu_operatore_hp h2 a.selected:hover {
	background-image: url(../img/menu/menu_principale_bordo_operatore.gif);
}

#menu_princ #menu_princ_hp .menu_viaggiatore_hp h2 a {
	/*border-bottom: 13px solid #345EA1;*/
	background-image: url(../img/menu/menu_principale_bordo_viaggiatore.gif);
}
#menu_princ #menu_princ_hp .menu_viaggiatore_hp h2 a:hover, #menu_princ #menu_princ_hp .menu_viaggiatore_hp  h2 a.selected {
	background-image: url(../img/menu/menu_principale_bordo_viaggiatore_selected.gif);
}
#menu_princ #menu_princ_hp .menu_viaggiatore_hp h2 a.selected:hover {
	background-image: url(../img/menu/menu_principale_bordo_viaggiatore.gif);
}


#menu_princ #menu_princ_hp ul {
	margin: 0 0 5px 10px;
	padding: 0 0 0 20px;
	list-style: none;
	display: block;
	float: none;
	width: 90%;
	border-bottom: 1px solid #000;
	min-height: 90px;
	height: auto !important;
	height: 90px;
}
#menu_princ #menu_princ_hp .menu_agenzia_hp ul {
	border-bottom: 1px solid #A0A9B0;
}
#menu_princ #menu_princ_hp .menu_operatore_hp ul {
	border-bottom: 1px solid #345EA1;
}
#menu_princ #menu_princ_hp .menu_viaggiatore_hp ul {
	border-bottom: 1px solid #75A6CE;
}
#menu_princ #menu_princ_hp ul li {
	margin: 0;
	padding: 0 0 0 12px;
	border: 0 none;
	list-style: none;
	display: block;
	float: none;
	width: 95%;
	background-image: url("../img/bullet_agenzia.gif");
	background-repeat: no-repeat;
	background-position: 0 4px;
}
#menu_princ #menu_princ_hp .menu_agenzia_hp ul li{
	background-image: url("../img/bullet_agenzia.gif");
}
#menu_princ #menu_princ_hp .menu_operatore_hp ul li {
	background-image: url("../img/bullet_operatore.gif");
}
#menu_princ #menu_princ_hp .menu_viaggiatore_hp ul li {
	background-image: url("../img/bullet_viaggiatore.gif");
}

#menu_princ #menu_princ_hp ul li a, #menu_princ #menu_princ_hp ul li a:visited {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	display: block;
	float: none;
	font-size: 100%;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	color: #295C83;
}
#menu_princ #menu_princ_hp ul li a:hover {
	text-decoration: underline;
}

#menu_princ #menu_princ_hp p {
	border: 1px solid #E1E1DF;
	text-align: left;
	float: right;
	margin: 5px 10px 10px 10px;
	padding: 0 0 0 10px;
}

#menu_princ #menu_princ_hp p a, #menu_princ #menu_princ_hp p a:visited {
	display: block;
	text-align: right;
	margin: 0;
	padding: 0 30px 0 0;
	color: #333;
	color: #295C83;
	background-image: url(../img/bullet_tutto_agenzia.gif);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold;
}
#menu_princ #menu_princ_hp p a:hover {
	text-decoration: underline;
}

#menu_princ #menu_princ_hp .menu_operatore_hp p a, #menu_princ #menu_princ_hp .menu_operatore_hp p a:visited {
	background-image: url(../img/bullet_tutto_operatore.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
#menu_princ #menu_princ_hp .menu_viaggiatore_hp p a, #menu_princ #menu_princ_hp .menu_viaggiatore_hp p a:visited {
	background-image: url(../img/bullet_tutto_viaggiatore.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

/* Fine Menu principale Home Page */
/* Banner */ 
#banner_hp {
	width: 100%;
	margin: 30px auto 0 auto;
	padding: 0;
	text-align: center;
}
#banner_hp img {
	width: 100%;
}
/* Titoli */ 
#canale_home #colonna1_hp h1 {
	margin: 15px 0 0 0;
	padding: 0 0 0 10px;
	font-size: 150%;
	font-weight: normal;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
	border-bottom: 13px solid #A0A9B0;
	clear: both;
}
#canale_home #colonna1_hp h1 {
	border-bottom: 13px solid #507498;
}

/* Liste */
#canale_home #colonna1_hp ul, #canale_home #colonna2_hp ul {
	margin: 0 0 0 10px;
	padding: 0 4px;
	list-style: none;
}
#canale_home #colonna1_hp ul li, #canale_home #colonna2_hp ul li {
	margin: 1em .5em;
	padding: 0 0 0 12px;
	list-style: none;
	background-image: url(../img/bullet_link_in_evidenza.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	color: #333;
}
#canale_home #colonna1_hp ul li a, #canale_home #colonna2_hp ul li a {
	color:#333;
	color: #295C83;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
#canale_home #colonna1_hp ul li a:hover, #canale_home #colonna2_hp ul li a:hover {	
	color: #333;
	color: #295C83;
	text-decoration: underline;
}

/* Bottoni In evidenza e Comunicati stampa */
#canale_home #colonna1_hp p.tutte_news {
	border: 1px solid #E1E1DF;
	text-align: left;
	float: right;
	margin: 15px 10px 30px 10px;
	padding: 0 0 0 10px;
}

#canale_home #colonna1_hp p.tutte_news a, #canale_home #colonna1_hp p.tutte_news a:visited {
	display: block;
	text-align: right;
	margin: 0;
	padding: 0 30px 0 0;
	color: #333;
	color: #295C83;
	background-image: url(../img/tutte_le_news.gif);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold;
}
#canale_home #colonna1_hp p.tutte_news a:hover {
	text-decoration: underline;
}

/* Contenuti principali */

/* Box con struttura a 2 colonne */
#container_box_hp {
	clear: both;
	width: 100%;
	float: left;
	overflow: hidden;
}

#container_box_hp .container_sx {
	width: 47%;
	float: left;
	margin: 10px 2% 10px 0;
	border: 0 none;
	text-align: left;
	min-height: 150px;
	height: auto !important; 
 	height: 150px; 
}
#container_box_hp .container_dx {
	width: 50%;
	float: left;
	margin: 10px 0;
	border: 0 none;
	text-align: left;
	min-height: 150px;
	height: auto !important; 
 	height: 150px; 
}
#container_box_hp ul li p {
	font-size: 100%;
	margin: .5em 0 0 0;
	padding: 0 10px 0 0;
	color: #000;
}

#canale_home #colonna2_hp #servizi_online_hp h1 {
/*	border-bottom: 13px solid #C2C4AE;
*/	border-bottom: 13px solid #E6C93F;
}

#canale_home #colonna2_hp #in_un_click_hp h1 {
/*	border-bottom: 13px solid #D0D88F;
*/	border-bottom: 13px solid #CC6C6E;
}
#canale_home #colonna2_hp #aree_tematiche_hp h1 {
/*	border-bottom: 13px solid #7196A8;
*/	border-bottom: 13px solid #BC8CB6;
}
#canale_home #colonna2_hp #agenzia_informa_hp h1 {
/*	border-bottom: 13px solid #93D2E3;
*/	border-bottom: 13px solid #D4832A;

}


#canale_home #colonna2_hp #servizi_online_hp ul li {
	background-image: url(../img/bullet_link_Servizi_online.gif);
}
#canale_home #colonna2_hp #in_un_click_hp ul li {
	background-image: url(../img/bullet_link_In_un_click.gif);
}
#canale_home #colonna2_hp #aree_tematiche_hp ul li {
	background-image: url(../img/bullet_link_Areee_tematiche.gif);
}
#canale_home #colonna2_hp #agenzia_informa_hp ul li {
	background-image: url(../img/bullet_link_Agenzia_informa.gif);
}
/* Lista Servizi online */
#canale_home #colonna2_hp #servizi_online_hp ul#servizi {
/*	border-bottom: 1px solid #C1C5AE;
	border-left: 1px solid #C1C5AE;
	border-right: 1px solid #C1C5AE;
*/	border: 1px solid #ccc;
	border-top: 0 none;
	margin: 0;
	padding: 0 0 0 15px;
}

 
