/*

TODO - Merge delle classi css con le classi dei fogli di stile di Dogane
TODO - Integrazione delle nuovi classi css con i fogli di stile di Dogane

NOTA - CompatibiltÃƒÂ  con IE7
Se non si utilizza il tag <meta http-equiv="X-UA-Compatible" content="IE=edge" /> dentro l'header,
va incluso anche il CSS ie7.css

*/

/* CSS comune per tutte le applicazioni */
@import url("#{resource['css/titillium.css']}");
/* CSS comune per tutte le applicazioni */
@import url("#{resource['css/font-awesome.min.css']}");

/* testata */
.print {
	display: none;
}

table {
	font-size: 13px;
}

.ui-tabmenuitem {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0 !important;
	padding: 0;
	white-space: nowrap;
	display: block;
	border-bottom: 0;
	top: 1px;
}

.ui-tabmenu .ui-tabmenu-nav {
	border: none;
	background-color: #FFFFFF !important;
}

.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
	border: none;
}

.ui-widget-header {
	border: 1px solid #AAA;
	color: #222;
	font-weight: bold;
	background: none;
	background-color: #FFFFFF;
}

.ui-widget-header ul {
	border: 1px solid #AAA;
	color: #222;
	font-weight: bold;
	background: none;
	background-color: #FFFFFF;
}

/* .ui-widget-header a {
	color: #036;
}
 */
.ui-tabmenu .ui-tabmenu-nav {
	background-color: #FFFFFF;
}

li.ui-tabmenuitem {
	background-color: #F4F4F4;
	color: #036;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
	background: #ffffff;
	color: #127ae2;
	font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active.ui-menuitem-text {
	background: #ffffff;
	color: #127ae2;
}

li.ui-tabmenuitem.ui-state-default.ui-menuitem-text {
	background: #fff;
	color: #036;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: #FFFFFF;
}

.ui-panelgrid-cell null {
	display: none !important;
}

body {
	position: unset !important;
}

a.ui-commandlink.ui-widget.homeLink {
	color: #036;
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px !important;
	padding: 15px 6px;
}

a.ui-commandlink.ui-widget.homeLink:hover {
	color: #127ae2;
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px !important;
	padding: 15px 6px;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	/* border: 1px solid #c8c8c8; */
	background-color: #fff;
	/* color: #333; */
	/* padding: .571em 1em .571em 1em; */
	/* font-weight: 700; */
	/* border-bottom: 0 none; */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	padding: 1rem 1rem;
	/* border-bottom: 1px solid #dee2e6; */
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
	border-radius: 0px;
}

span.ui-dialog-title {
	font-size: 1.6rem;
	margin-bottom: 0;
	line-height: 1.5;
	text-align: left;
	font-weight: 600;
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.th-dialog {
	font-weight: bold;
	text-align: left;
	padding-left: 20px;
}

.td-dialog {
	text-align: left;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
	color: #fff !important;
	border: 0 none;
	-moz-transition: color .3s;
	-o-transition: color .3s;
	-webkit-transition: color .3s;
	transition: color .3s;
	background-color: #007ad9;
	border-radius: 0px;
	padding: 5px !important;
	float: right !important;
	margin-left: auto !important;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
	color: #fff;
	border: 0 none;
	-moz-transition: color .3s;
	-o-transition: color .3s;
	-webkit-transition: color .3s;
	transition: color .3s;
	background-color: #039;
	border-radius: 0px;
	padding: 5px;
}

.button-center {
	text-align: center;
	display: inline;
}

.btn-entrypoint {
	border-width: 2px;
	display: block;
	margin: 0 0 0px;
	padding: 15px;
	text-align: left;
	width: 100%;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.btn-default.btn-entrypoint-selected, btn .btn-default.btn-entrypoint-selected:hover,
	.btn-default.btn-entrypoint:hover {
	border-color: #127ae2;
	color: #fff;
	background: #127ae2;
	text-align: center;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
	border-width: 2px;
	display: block;
	margin: 0 0 0px;
	text-align: center;
	padding: 15px;
	font-size: 15px;
	width: 100%;
	min-height: 96px;
}

a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint-selected {
	font-size: 15px;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	min-height: 96px;
}

a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint-selected:hover
	{
	font-size: 15px;
	border-color: #127ae2;
	border-width: 2px;
	color: #fff;
	background: #127ae2;
	text-align: center;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
	display: block;
	margin: 0 0 0px;
	text-align: center;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}

.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
	border: none;
}

.ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: #fff;
	color: #333;
	font-weight: bold;
	text-shadow: none;
}

.ui-tabmenu .ui-tabmenu-nav {
	background-color: #FFFFFF;
}

.ui-tabmenu .ui-tabmenu-nav {
	border: none;
	background-color: #FFFFFF !important;
}

.ui-tabmenu .ui-tabmenu-nav {
	background-color: #FFFFFF;
}

li.ui-tabmenuitem {
	background-color: #F4F4F4;
	color: #036;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
	background: #ffffff;
	color: #127ae2;
	font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active.ui-menuitem-text {
	background: #ffffff;
	color: #127ae2;
}

li.ui-tabmenuitem.ui-state-default.ui-menuitem-text {
	background: #fff;
	color: #036;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: #FFFFFF;
}

a.ui-menuitem-link.ui-corner-all.mega-menu-selected, a.ui-menuitem-link.ui-corner-all.mega-menu:hover
	{
	text-align: center;
	width: 100%;
	color: #fff !important;
	background: #127ae2;
	border-color: #127ae2;
	margin: 15px 0px;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
	font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active {
	background: #ffffff;
	color: #127ae2;
	font-weight: bold;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

span.ui-menuitem-text {
	text-transform: uppercase;
	text-shadow: none;
	font-weight: 600;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

span.ui-menuitem-text {
	text-transform: uppercase;
	text-shadow: none;
	font-weight: 600;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
}

.ui-state-default a, .ui-state-default a:link {
	color: #ffffff;
	text-decoration: none;
}

li.ui-tabmenuitem.ui-state-default.span.ui-menuitem-icon.ui-icon {
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: none;
}

li.ui-tabmenuitem.ui-state-default {
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	text-shadow: none;
	opacity: 1;
	color: #fff;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0;
	padding: 0;
	white-space: nowrap;
	display: block;
	border-bottom: 0;
	top: 1px;
	font-size: 14px;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon {
	float: left;
	cursor: pointer;
	margin-right: 0px;
	font-size: 15px;
}

li.ui-tabmenuitem {
	background-color: #F4F4F4;
	color: #036;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active, li.ui-tabmenuitem.ui-state-default.ui-state-hover
	{
	background: #ffffff;
	color: #127ae2;
	font-weight: bold;
}

li.ui-tabmenuitem.ui-state-default.ui-state-active.ui-menuitem-text {
	background: #ffffff;
	color: #127ae2;
}

li.ui-tabmenuitem.ui-state-default.ui-menuitem-text {
	background: #fff;
	color: #036;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: #FFFFFF;
}

.ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: #fff;
	color: #333;
	font-weight: bold;
	text-shadow: none;
}

.ui-tabmenu .ui-tabmenu-nav {
	border: none;
	background-color: #FFFFFF !important;
}

.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
	border: none;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
	list-style: none;
	float: left;
	position: relative;
	margin: 0 .2em 1px 0;
	padding: 0;
	white-space: nowrap;
	display: block;
	border-bottom: 0;
	top: 1px;
	font-size: 14px;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon {
	float: left;
	cursor: pointer;
	margin-right: 0px;
	font-size: 15px;
}

.ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: .2em .2em 0;
	background: #fff;
	color: #333;
	font-weight: bold;
	text-shadow: none;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
	float: left;
	padding: .2em 3.6em !important;
	text-decoration: none!imnportant;
	font-size: 28px;
	border-radius: 0px;
}

.ui-tabmenu .ui-tabmenu-nav {
	border: none;
	background-color: #FFFFFF !important;
}

.ui-tabmenu.ui-widget.ui-widget-content.ui-corner-all {
	border: none;
}

/* li.ui-tabmenuitem.ui-state-default.ui-corner-top{

width: 33%!important;
border:none!important;
background: #fff!important;

}
 */
a.ui-menuitem-link.ui-corner-all.mega-menu {
	text-align: center;
	width: 100%;
	color: #127ae2;
	background: #fff;
	border-color: #127ae2 !important;
	border-width: 2px;
	margin: 15px 0px;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
	color: #127ae2;
	padding: .571em 1em .571em 1em;
	display: block;
}

input.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker
	{
	max-width: 118px;
}

.panel-primary {
	border: 0;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a {
	color: #127ae2 !important;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a :hover
	{
	color: #fff !important;
}

a.ui-menuitem-link.ui-corner-all.mega-menu-selected.btn.btn-default.btn-entrypoint
	{
	color: #fff !important;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active.ui-state-hover a
	{
	color: #127ae2 !important;
}

a.ui-menuitem-link.ui-corner-all.mega-menu.btn.btn-default.btn-entrypoint:hover
	{
	color: #fff !important;
}

.panel-collapsible>.panel-heading>a {
	display: block;
	padding: 10px 15px;
	text-decoration: none !important;
}

.btn-default


.btn-entrypoint


:not

 

(
:hover

 

)
{
border-color


:

 

#127ae2


;
color


:

 

#127ae2

 

!
important


;
text-align


:

 

center


;
font-family


:

 

'
Titillium

 

Web


'
,
'
Helvetica

 

Neue


'
,
'
Helvetica


'
,
'
Arial


'
,
sans-serif


;
}
body .ui-panel .ui-panel-content {
	border: none !important;
	background-color: #fff;
	color: #333;
	padding: .571em 1em;
	border-top: 0 none;
	line-height: 1.5;
}

.logo_pagopa_small {
	max-width: 66px;
	margin-left: 1%;
	position: absolute;
	margin-top: 3px;
}

.logo_ebollo {
	max-width: 370px;
	margin-left: 17%;
	position: inherit;
	margin-top: 3px;
	padding-bottom: 14px;
}

.logo_ebollo_center {
	max-width: 390px;
	margin-left: 36%;
	position: inherit;
	margin-top: 3px;
	padding-bottom: 14px;
}

.col-sm-6.col-lg-8.bollo-background {
	background-image: url("#{resource['images/banner_bollo.png']}");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: unset;
	background-position: center;
	height: 250px
}

a.ui-commandlink.ui-widget.img_button_bollo {
	padding-left: 33%;
}

.logo_pagopa {
	max-width: 120px;
	margin-left: 33%;
}

a.ui-commandlink.ui-widget.homeLink {
	color: #036;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px !important;
	padding: 15px 6px;
}

a.ui-commandlink.ui-widget.homeLink:hover {
	color: #127ae2;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px !important;
	padding: 15px 6px;
}

a.ui-commandlink.ui-widget.tableLink {
	color: #036;
	text-decoration: underline;
	font-size: 11px !important;
}

a.ui-commandlink.ui-widget.tableLink:hover {
	color: #127ae2;
	text-decoration: underline;
	font-size: 11px !important;
}

/*  li.ui-tabmenuitem {
	width: 33%;
} */
.ui-steps .ui-steps-item {
	width: 50%;
	border-radius: 0px;
	background: none;
}

/* body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    
    width: 33%!important;
}
 */
.ui-panel .ui-panel-titlebar {
	padding: 3px 5px 10px 10px;
}

body .ui-datagrid .ui-datagrid-header {
	border-bottom: 0 none;
	background: none;
	border-radius: 0px;
}

body .ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: 0;
	border: 0 none;
	border-bottom: 0px !important;
	background-color: #fff;
}

body .ui-datatable .ui-datatable-data>tr.ui-rowgroup-header, body .ui-datatable .ui-datatable-data>tr.ui-datatable-summaryrow
	{
	font-weight: 700;
	text-align: center;
}

.ui-datagrid-content.ui-widget-content.ui-grid.ui-grid-responsive {
	border: 0;
}

.fa-shopping-cart:before, .fa-trash::before {
	font-size: 22px;
}

label.ui-outputlabel.ui-widget.homeLabelMenu {
	color: #036;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	padding-right: 13px;
	margin-top: 0px;
}

.img_button {
	margin-left: 15%;
}

fieldset.ui-fieldset.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container
	{
	border: 0px;
}

.ui-panel .ui-panel-content {
	border: 0;
	background: 0;
	padding: 0px !important;
}

body .ui-panel .ui-panel-content {
	border: 1px solid #c8c8c8;
	background-color: #fff;
	color: #333;
	padding: 0px !important;
	border-top: 0 none;
	line-height: 1.5;
}

.ui-button-text-only .ui-button-text {
	padding: .1em 1em .3em 1em;
}

body .ui-button.ui-button-text-only .ui-button-text {
	padding: .429em 1em;
	font-size: 13px;
	font-weight: 500;
}

a:visited {
	color: #127ae2;
}

a img {
	vertical-align: middle;
	/*  padding-top: 3px; */
	/*  zoom: 1.1; */
}

.small-text {
	font-size: 15px;
	font-weight: 400;
}

.panel-body {
	padding: 3px;
}

h3, .h3 {
	font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 600;
	margin: 0.7em 0;
}

.panel-body.ebollo-background {
	background-image: url("#{resource['images/banner_bollo.png']}");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px -50px;
}

body .ui-inputfield {
	color: #333;
	font-size: 12px;
	background: #fff;
	padding: .429em;
	border: 1px solid #a6a6a6;
	outline: 0 none;
	-moz-transition: border-color .3s;
	-o-transition: border-color .3s;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

body

 

.ui-widget


:not

 

(
.pi

 

),
body

 

.ui-widget

 

.ui-widget


:not

 

(
.pi

 

)
{
font-family


:

 

"
Open

 

Sans


"
,
"
Helvetica

 

Neue


"
,
sans-serif


;
font-size


:

 

13
px


;
}
body .ui-datatable .ui-datatable-data>tr>td {
	padding: .571em .857em;
	border: inherit;
	font-size: 12px;
}

/* #parte dogane */
#menu_princ h2 a, #menu_princ h2 a:visited {
	color: #000;
	font-size: 18px !important;
	text-decoration: none !important;
}

p, ul, ol {
	font-size: 100% !important;
}

body .ui-datatable thead th {
	background-color: #fff;
	border: 1px solid #c8c8c8;
	color: #333;
	padding: .571em .857em;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	min-height: 25px;
}

.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.smallSelectColumn
	{
	min-width: 100px !important;
}

span.fa.fa-search.dettaglio {
	font-size: 16px;
	color: #127ae2;
}

body .ui-tabs .ui-tabs-panels {
	border: 0px !important;
	background-color: #fff;
	color: #333;
	padding: 0;
	margin: 0;
	position: static;
}

label.ui-outputlabel.ui-widget.homeLabelMenu {
	vertical-align: top;
}

.genera_dati {
	vertical-align: top;
	padding-left: 10px;
}

body .ui-widget-overlay {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 9999;
	display: none;
}

@
-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);
}

to {
	-webkit-transform: rotate(360deg);
}

}
@
keyframes spin {
	from {transform: rotate(0deg);
}

to {
	transform: rotate(360deg);
}

}
.ui-widget-overlay::after {
	content: '';
	display: block;
	position: absolute;
	left: 48%;
	top: 40%;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: #046de0;
	border-top-color: transparent;
	border-width: 6px;
	border-radius: 50%;
	-webkit-animation: spin .8s linear infinite;
	animation: spin .8s linear infinite;
}

.ui-blockui-content.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow
	{
	display: none !important;
}

.ui-toggleswitch {
	vertical-align: bottom;
}

[id$=debitiTable_head] {
	height: 0px;
}

.onoffswitch {
	position: relative;
	width: 49px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 20px;
	padding: 0;
	line-height: 20px;
	border: 0px solid #FFFFFF;
	border-radius: 25px;
	background-color: #9E9E9E;
}

.onoffswitch-label:before {
	content: "";
	display: block;
	width: 25px;
	margin: -2.5px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 25px;
	border-radius: 25px;
	box-shadow: 0 6px 12px 0px #757575;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
	background-color: #42A5F5;
}

.onoffswitch-checkbox:checked+.onoffswitch-label, .onoffswitch-checkbox:checked+.onoffswitch-label:before
	{
	border-color: #42A5F5;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
	right: 0px;
	background-color: #2196F3;
	box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.scadenza {
	background-image: none !important;
	background-color: #fcf8e3 !important;
	color: #000000 !important;
}

.normale {
	background-color: #F9F9FF !important;
	background-image: none !important;
	color: #000000 !important;
}

.ui-datatable.borderlessWhite thead th, .ui-datatable.borderlessWhite tbody,
	.ui-datatable-summaryrow.borderlessWhite, .ui-datatable.borderlessWhite tbody tr,
	.ui-datatable.borderlessWhite tbody td {
	border-style: border: 1px solid #A8A8A8;
	background-color: #fff;
}

.ui-datatable.borderlessGrey thead th, .ui-datatable.borderlessGrey tbody,
	.ui-datatable-summaryrow.borderlessGrey, .ui-datatable.borderlessGrey tbody tr,
	.ui-datatable.borderlessGrey tbody td {
	border-style: border: 1px solid #A8A8A8;
	background-color: #f2f5f9;
}

i.fa.fa-info:before {
	color: #573a08;
}

a.link-1 {
	text-decoration: none;
}

[id$='subtable_head'] {
	display: none;
}

td.cellNoPadding {
	padding: 0 !important;
	border: 0px !important;
}

.cellNoBorder {
	border: 0px !important;
}

td.td_small {
	width: 20% !important;
}

td.td_big {
	width: 80% !important;
}

th.ui-state-default.th_big {
	width: 80% !important;
}

th.ui-state-default.th_small {
	width: 20% !important;
}

[id$='subtable_data'] tr {
	border: 0px !important;
}

.ui-selectbooleanbutton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active,
	.ui-selectbooleanbutton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
	{
	background: none;
	border: none;
	text-decoration: underline !important;
	color: #fff;
	font-style: initial;
	font-weight: bold !important;
}

.panel-title>.fa {
	font-size: inherit;
	margin-top: 5px;
	margin-bottom: -3px !important;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer
	{
	background-color: #f4f4f4;
	border: 0px !important;
	color: #333;
	padding: .271em 0.1em .271em 0.1em !important;
	font-weight: 700;
}

.ui-state-disabled.showTooltip {
	pointer-events: all;
}

a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint-selected img,
	a.ui-commandlink.ui-widget.btn.btn-default.btn-entrypoint:hover img {
	display: none;
	min-height: 97px;
}

a.ui-menuitem-link.ui-corner-all.mega-menu.btn.btn-default.btn-entrypoint,
	a.ui-menuitem-link.ui-corner-all.mega-menu-selected.btn.btn-default.btn-entrypoint:hover
	{
	min-height: 40px;
}

/*   td.td_big:last-child ,td.td_small:last-child , td.td_big:first-child ,td.td_small:first-child  {
    border-bottom: 1px solid #000;
}  */

/* modifiche 25-02-2020 */

/* colori dei bottoni */
.btn-entrypoint.btn-default:not(:hover) {
	border-color: #127ae2 !important;
	color: #127ae2 !important;
}

/*spaziatura testo bottoni */
.btn {
	white-space: nowrap !important;
}

/* */
h4, .h4, .card-header>.card-title, .btn-entrypoint {
	/*font-weight: 600 !important;*/
	text-align:center;
	/*border-width: 3px;*/
}

/* colore */
.btn-entrypoint.btn-default:active,
.btn-entrypoint.btn-default:hover,
.btn-entrypoint.btn-default:active:hover,
.btn-entrypoint.btn-info:active,
.btn-entrypoint.btn-info:hover,
.btn-entrypoint.btn-info:active:hover {
	background-color: #127ae2 !important ; 
	border-color: #127ae2 !important;
	color: #fff;
}