


h4, .h4, .card-header > .card-title, .btn-entrypoint {
     font-size: initial !important; 
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
    font-size: 28px !important;
}


.btn-default.btn-entrypoint-selected, btn .btn-default.btn-entrypoint-selected:hover,
	.btn-default.btn-entrypoint:hover {
	min-height: 91px;
}