/* Logo Agenzia */
#header_home {
	margin: 0;
	padding: 0;
	border-top: 4px solid #E5E1E0;
	border-bottom: 1px solid #E5E1E0;
	border-right: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	min-height: 110px;
	height: auto !important;
	height: 110px;
/*	background-color: #eee;*/
}
#header_home #logo {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	left: 30px;
	border: 0 none;
}
/* Fine Logo Agenzia */

/* Menu di servizio */

#istituzionale_home {
	float: right; 
	padding: 0; 
	margin: 0; 
	color: #1B4F78;
	width: 70%;
}
#istituzionale_home ul {
	padding: 0; 
	float: right; 
	margin: 10px 10px 10px 30px;
	list-style: none; 
}
#istituzionale_home li {
	padding: 0 5px;
	float: left; 
	margin: 0;
}
#istituzionale_home li span {
	COLOR: #1B4F78;
	vertical-align: top; 
}
#istituzionale_home li a:link, #istituzionale_home li a:visited {
	color: #555;
	text-decoration: none;
}
#istituzionale_home li a:hover {
	text-decoration: underline;
}
#istituzionale_home li.selected a, #istituzionale_home li.selected a:visited {
	text-decoration: underline;
}
#istituzionale_home li a img {
	vertical-align: bottom;
}

/* Form CERCA */
#istituzionale_home form {
	clear: both;
	text-align: right;
	margin:  0 10px;
	padding: 5px 0;
	font-size: 80%;
	float: right;
	width: 50%;
/*	background-color: #E8E8E8;
*/}
#istituzionale_home form  fieldset{
	margin: 0;
	padding: 0;
	border: none;
}
#istituzionale_home form  input.input {
	margin: 0;
	padding: 0;
	width: 150px;
}

#istituzionale_home form  input.input {
	margin: 0;
	padding: 0;
	width: 150px;
}
#istituzionale_home form  input.bottom {
	margin: 0 0.25em;
	padding: 0;
}

/* Fine Menu di servizio */

/* Menu principale */
#menu_princ {
	margin: 0;
	padding: 0;
	position: relative;
	border-right: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

#menu_princ #menu_princ_bordo_sx {
	position: absolute;
	bottom: -1px;
	width: 8px;
  	height: 9px;
	left: -2px;
	background-image: url(../img/menu_princ_bordo_sx.gif);
	background-repeat: no-repeat;
	background-position:  bottom left;
}
#menu_princ #menu_princ_bordo_dx {
	position: absolute;
	bottom: -1px;
	width: 8px;
  	height: 9px;
	right: -2px;
	background-image: url(../img/menu_princ_bordo_dx.gif);
	background-repeat: no-repeat;
	background-position:  bottom right;
}

#menu_princ ul {
	margin: 0;
	padding: 15px 0 0px 0;
	list-style: none;
	float: left;
	width: 100%;
	min-height: 50px;
	height: auto !important;
	height: 50px;
}
#menu_princ ul li {
	margin: 0;
	padding: 0;
	float: left;
	width: 33%;
	text-align: left;
}
#menu_princ ul li a {
	margin: 0 2%;
	padding: 0 0 0 5%;
	display: block;
	width: 92%;
	font-size: 180%;
	font-weight: normal;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	background-repeat: no-repeat;
	background-position:  bottom center;
	border: 0px solid red;
	min-height: 70px;
	height: auto !important;
	height: 70px;	 
}
#menu_princ ul li.menu_agenzia a {
	margin: 0 1% 0 2%;
/*	border-bottom: 13px solid #E6C93F;*/	
	background-image: url(../img/menu/menu_principale_bordo_agenzia.gif);
}

#menu_princ ul li.menu_agenzia a:hover, #menu_princ ul li.menu_agenzia a.selected, #menu_princ ul li.menu_agenzia a.selected:hover {
	background-image: url(../img/menu/menu_principale_bordo_agenzia_selected.gif);
}



#menu_princ ul li.menu_operatore {
	border-right: 1px solid #E5E1E2;
	border-left: 1px solid #E5E1E2;
}

#menu_princ ul li.menu_operatore a {
	/*border-bottom: 13px solid #CC6C6E;*/
	background-image: url(../img/menu/menu_principale_bordo_operatore.gif);
}
#menu_princ ul li.menu_operatore a:hover, #menu_princ ul li.menu_operatore a.selected, #menu_princ ul li.menu_operatore a.selected:hover {
	background-image: url(../img/menu/menu_principale_bordo_operatore_selected.gif);
}

#menu_princ ul li.menu_viaggiatore a {
	/*border-bottom: 13px solid #BC8CB6;*/
	background-image: url(../img/menu/menu_principale_bordo_viaggiatore.gif);
}
#menu_princ ul li.menu_viaggiatore a:hover, #menu_princ ul li.menu_viaggiatore a.selected, #menu_princ ul li.menu_viaggiatore a.selected:hover {
	background-image: url(../img/menu/menu_principale_bordo_viaggiatore_selected.gif);
}

/* Form Cerca */
#form_cerca label {
	color: #333;
}
#form_cerca input#search {
	border-top: 2px solid #797979;
	border-left: 2px solid #888;
	border-bottom: 1px solid #F3F3F3;
	border-right: 1px solid #DBDBDB;
	width: 50%;
}
#form_cerca input.btn {
	border: 1px solid #E0E0D8;
	border-right: 0 none;
	background-color: #FFF;
	background-image: url(../img/vai.gif);
	background-repeat: no-repeat;
	background-position: right center;
	width: 60px;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
	margin: 0;
	padding: 0 0 0 2px;
	height: 21px;
}
/* Fine Form Cerca */