<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="breadcrumbForm">
		<p:breadCrumb  styleClass="pull-left" model="#{breadcrumbService.model}" >
			
		</p:breadCrumb>
	</h:form>
</ui:composition>