/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

/* COLOR */
.icon-primary,
.text-primary {
	color: #002549 !important;
}
.bg-primary {
	background-color: #002549 !important;
}

/* HEADER */
#agenzia-header {
	background-color: #002549;
}
#page-header {
	background-color: #f0f1f3;
	border-bottom-color: #002549;
	color: #002549;
}
#page-header .navbar-toggler {
	color: #002549;
}
#page-header .btn-primary.btn-alt:not(:hover) {
	background-color: #002549;
	border-color: #002549;
	color: #fff;
}
#page-header .btn-primary.btn-alt:active,
#page-header .btn-primary.btn-alt:hover,
#page-header .btn-primary.btn-alt:active:hover {
	background-color: #946f21;
	border-color: #946f21;
}
.language .btn:focus,
.language .btn:hover,
.language .active > .btn {
	background-color: #946f21;
	border-color: #946f21;
}

/* MENU TOP */
.navbar {
	background-color: #002549;
}
.dropdown-menu {
	border-radius: 0;
}
#menu-top .dropdown-item,
#menu-top .dropdown-item:focus,
#menu-top .dropdown-item:hover,
#menu-top .dropdown-item.active,
#menu-top .dropdown-item:active {
	color: #002549;
}
#menu-top .dropdown-item.disabled,
#menu-top .dropdown-item:disabled {
	color: rgba(0,37,73,.5);
}
#btn-accedi,
.btn-accedi {
	background-color: #946f21;
	color: #fff;
}

/* MENU LEFT */
#menu-left.navbar-light {
	border-color: #002549;
}
#menu-left.navbar-dark,
#menu-left-title,
#menu-left .nav-divider {
	background-color: #002549;
}
#menu-left.navbar-light.items-bordered .nav-item {
	border-top: 1px solid rgba(0,37,73,.2);
}
#menu-left.navbar-light .nav-item .nav-item {
	background-color: rgba(0,37,73,.1);
}
#menu-left.navbar-light .nav-link {
	color: #002549;
}
#menu-left.navbar-light .nav-link.disabled {
	color: rgba(0,37,73,.5);
}
#menu-left.navbar-light .nav-link:focus,
#menu-left.navbar-light .nav-link:hover {
	background-color: rgba(0,37,73,.1);
}

/* ICONS */
.fa-title {
	background-color: #946f21;
}

/* TITLE */
h1.underline, h2.underline, h3.underline, h4.underline {
	border-bottom-color: #002549;
}

/* SPINNER */
#spinner {
	color: #946f21;
}

/* BADGE, MESSAGE, NOTIFICATION */
.alert {
	border-radius: 0;
}
.badge-primary {
	background-color: #002549;
}

/* CARD */
.card,
.card-header,
.card-footer {
	border-radius: 0 !important;
}
.card-primary {
	border-color: #002549;
}
.card-primary > .card-header {
	background-color: #002549;
}
.card-info {
	border-color: #946f21;
}
.card-info > .card-header {
	background-color: #946f21;
	color: #fff;
}
.card-simple {
	border-color: #946f21;
}

/* COLLAPSIBLE */
.card-info .card-toggler {
    color: #fff !important;
}

/* TABS */
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
	border-top-color: #002549;
	color: #002549;
}
.nav-tabs-reverse .nav-link.active,
.nav-tabs-reverse .nav-link.active:focus,
.nav-tabs-reverse .nav-link.active:hover {
	border-bottom-color: #002549;
	color: #002549;
}

/* TABLE */
.table > thead > tr > th {
	color: #002549;
}
.table-header > thead > tr > th {
	background-color: #002549;
	color: #fff;
}
.table:not(.table-bordered),
.table:not(.table-bordered) > thead > tr > th {
	border-color: #002549;
}
caption {
	color: #002549;
}

/* PAGINATION */
.pagination,
.page-link {
	border-radius: 0 !important;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
	background-color: #002549;
	border-color: #002549;
}

/* MODAL */
.modal-content {
	border-radius: 0;
}

/* LIST GROUP */
.list-group-item {
	border-radius: 0 !important;
}

/* ENTRYPOINT */
.btn-entrypoint.btn-default:not(:hover) {
	border-color: #002549;
	color: #002549;
}
.btn-entrypoint.btn-primary:not(:hover) {
	background-color: #002549;
	border-color: #002549;
}
.btn-entrypoint.btn-info:not(:hover) {
	background-color: #946f21;
	border-color: #946f21;
	color: #fff;
}
.btn-entrypoint.btn-default:active,
.btn-entrypoint.btn-default:hover,
.btn-entrypoint.btn-default:active:hover {
	background-color: #002549;
	border-color: #002549;
	color: #fff;
}
.btn-entrypoint.btn-primary:active,
.btn-entrypoint.btn-primary:hover,
.btn-entrypoint.btn-primary:active:hover {
	background-color: #fff;
	border-color: #002549;
	color: #002549;
}
.btn-entrypoint.btn-info:active,
.btn-entrypoint.btn-info:hover,
.btn-entrypoint.btn-info:active:hover {
	background-color: #fff;
	border-color: #946f21;
	color: #946f21;
}

/* PROGRESS BAR */
.progress-bar-done {
	background-color: #99bee2;
}
.progress-bar-doing {
	background-color: #002549;
}
.progress-bar-link:focus,
.progress-bar-link:hover {
	background-color: #946f21;
}

/* WIZARD */
.wizard-dot,
.wizard .progress-bar,
.wizard-step-doing > .wizard-dot::after {
	background-color: #946f21;
}

/* UTILITY */
.section-primary {
	background-color: #002549;
	background-image: linear-gradient(to right, #002549, #1a3f63);
}

/* FORM */
label,
legend,
.input-group-text {
	color: #002549;
}
fieldset,
.form-control,
.custom-select,
.custom-file-label,
.custom-file-label::after,
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.form-control-sm:not(textarea),
.custom-select-sm,
.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-append > .btn,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-prepend > .input-group-text,
.form-control-lg:not(textarea),
.custom-select-lg,
.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-append > .btn,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-prepend > .input-group-text {
	border-radius: 0;
}

/* POPOVER */
.popover {
	border-radius: 0;
}

/* DATEPICKER */
.datepicker.dropdown-menu {
	border-radius: 0;
}

/* CARD CON IMMAGINI */
.card-img-top {
	border-radius: 0;
}

/* CAROUSEL */
.carousel-indicators .active {
	background-color: #946f21;
}

/* LOGIN */
#full-page {
	background-color: #f0f1f3;
	background-image: radial-gradient(#f0f1f3, #dcdddf 90%);
}
#full-page #page-footer,
#error-msg {
	color: #002549;
}
#full-page hr {
	border-color: rgba(0,0,0,.1);
}
#login-form #btn-accedi,
.login-form #btn-accedi,
#login-form .btn-accedi,
.login-form .btn-accedi {
	background-color: #002549;
	color: #fff;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	
	/* CARD CON IMMAGINI */
	.card-horizontal .card-img-top {
		border-bottom-left-radius: 0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* MENU TOP */
	.navbar-expand-md .navbar-nav .nav-link:focus,
	.navbar-expand-md .navbar-nav .nav-link:hover,
	.navbar-expand-md .navbar-nav .nav-link.active,
	.navbar-expand-md .navbar-nav .nav-link.active:focus,
	.navbar-expand-md .navbar-nav .nav-link.active:hover {
		border-bottom-color: #99bee2;
	}
	.navbar-expand-md .active-reverse .nav-link.active,
	.navbar-expand-md .active-reverse .nav-link.active:focus,
	.navbar-expand-md .active-reverse .nav-link.active:hover {
		color: #002549;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* MENU TOP */
	.navbar-expand-lg .navbar-nav .nav-link:focus,
	.navbar-expand-lg .navbar-nav .nav-link:hover,
	.navbar-expand-lg .navbar-nav .nav-link.active,
	.navbar-expand-lg .navbar-nav .nav-link.active:focus,
	.navbar-expand-lg .navbar-nav .nav-link.active:hover {
		border-bottom-color: #99bee2;
	}
	.navbar-expand-lg .active-reverse .nav-link.active,
	.navbar-expand-lg .active-reverse .nav-link.active:focus,
	.navbar-expand-lg .active-reverse .nav-link.active:hover {
		color: #002549;
	}
}