/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

html {
	background-color: #30373d;
}
header a:not(:hover) {
	text-decoration: none !important;
}
#page-header h1,
#page-footer h1 {
	font-weight: 700;
	margin-bottom: 0;
}
#page-header .logo,
#page-footer .logo {
	max-height: 3rem;
	max-width: 100%;
}

/* HEADER */
#agenzia-header {
	background-color: #30373d;
}
#agenzia-header p {
	font-family: 'Titillium Web';
	font-weight: 600;
}
#agenzia-header p > a,
#agenzia-header p > a:hover,
#agenzia-header p > a:visited {
    color: #fff !important;
}
#page-header {
	background-color: #06c;
	border-bottom: 1px solid #fff;
	color: #fff;
}
#page-header h1 > small {
	color: inherit;
	display: block;
	font-weight: 600;
	font-size: .75em;
}
#page-header .btn-primary.btn-alt:not(:hover) {
	background-color: #fff;
	border-color: #fff;
	color: #06c;
}
.btn-rounded .btn {
	border: 0;
	border-radius: 50%;
	font-size: 1.125rem;
	height: 1.75rem;
	width: 1.75rem;
}

/* SITI */
.language > .list-inline-item:not(:last-child) {
	margin-right: .25rem;
}
.language {
	margin-bottom: 0;
}
.language .btn {
	color: #fff;
	font-family: "Titillium Web";
	font-weight: 600;
}
.language .btn:focus,
.language .btn:hover,
.language .active > .btn {
	background-color: #06c;
	border-color: #06c;
}
.social > .list-inline-item:not(:last-child) {
	margin-right: .5rem;
}

/* APP */
#user-info {
	background-color: #fff;
	color: #1c2024;
	padding: .5rem 1rem;
}
#open-user-info {
	background-color: transparent;
	border: 0;
	padding: 0;
}
#open-user-info::before {
	content: '\f077';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
#open-user-info.collapsed::before {
	content: '\f078';
}
.header-links > .btn:not(:last-child) {
	margin-right: .5em;
}

/* FOOTER */
#page-footer {
	background-color: #30373d;
	color: #c6cace;
}
#page-footer h1,
#page-footer h2,
#page-footer h3,
#page-footer h4,
#page-footer a:hover {
	color: #fff;
}
#page-footer hr {
	border-color: #444e57;
}
#page-footer hr.sm {
	margin: .5rem 0;
}
#page-footer a {
	color: #65dde0;
	font-weight: 600;
	text-decoration: underline;
}
#page-footer .btn-primary.btn-alt {
	background-color: #65dde0;
	border-color: #65dde0;
	color: #30373d;
}
#page-footer .btn-primary.btn-alt:hover {
	background-color: #fff;
	border-color: #fff;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	#page-header .logo,
	#page-footer .logo {
		max-height: 4.75rem;
	}
	#page-header .logo-sm,
	#page-footer .logo-sm {
		max-height: 3rem !important;
	}

	/* HEADER */
	.btn-rounded .btn {
		font-size: 1rem;
		height: 2rem;
		width: 2rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	/* SITI */
	.header-links.flex-lg-column > .btn:not(:last-child) {
		margin-right: 0;
		margin-bottom: .5rem;
	}
	
}