/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

nav a:not(:hover) {
	text-decoration: none !important;
}

/* MENU TOP */
.navbar {
	background-color: #1276dc;
}
.navbar-brand {
	font-family: 'Titillium Web';
	font-size: 1.125rem;
	font-weight: 600;
	color: #fff;
}
.navbar-nav .nav-link {
	color: rgba(255,255,255,.9);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
	color: #fff;
	text-decoration: underline;
}
.navbar-nav > .active > .nav-link,
.navbar-nav > .active > .nav-link:focus,
.navbar-nav > .active > .nav-link:hover {
	color: #fff;
	font-weight: 700;
}
.navbar-toggler {
	border-radius: 0;
	color: #fff;
}
.dropdown-menu {
	border-radius: 0;
	font-size: inherit;
	margin-top: .25rem;
}
.dropdown-item {
	border-radius: 0 !important;
	color: #06c;
	padding: .375rem 1rem;
	transition: color 0.05s ease-in-out, background-color 0.05s ease-in-out, border-color 0.05s ease-in-out;
}
.dropdown-item:focus,
.dropdown-item:hover {
	background-color: transparent;
	color: #1276dc;
	text-decoration: underline;
}
#btn-accedi {
	background-color: #ffb366;
	color: #1c2024;
	font-weight: 900;
	text-align: center;
}

/* MENU LEFT */
main nav {
	margin-bottom: 1rem;
}
#menu-left {
	border-bottom: 2px solid #036;
}
#menu-left.navbar-dark {
	background-color: #036;
}
#menu-left.navbar-light {
	background-color: #fff;
}
#menu-left-title,
#menu-left .nav-divider {
	background-color: #036;
	color: #fff;
	padding: .5rem 1rem;
}
#menu-left-title {
	font-size: 1.125rem;
	margin-bottom: 0;
	line-height: 1.5;
}
#menu-left .nav-divider {
	font-family: 'Titillium Web';
	font-weight: 600;
}
#menu-left-title .menu-toggler {
	background-color: transparent;
	border: 0;
	color: #fff;
	margin-left: 1rem;
	padding: 0;
}
#menu-left-title .fas::before {
	content: '\f077';
}
#menu-left-title .collapsed > .fas::before {
	content: '\f078';
}
#menu-left.navbar-dark .nav-item {
	background-color: rgba(255,255,255,.075);
}
#menu-left.navbar-light .nav-item {
	background-color: rgba(0,51,102,.075);
}
#menu-left .nav-link {
	padding: .5rem 1rem;
}
#menu-left.navbar-dark .nav-link {
	color: rgba(255,255,255,.9) !important;
}
#menu-left.navbar-light .nav-link {
	color: rgba(0,51,102,.9) !important;
}
#menu-left.navbar-dark .nav-link:focus,
#menu-left.navbar-dark .nav-link:hover,
#menu-left.navbar-dark .active > .nav-link,
#menu-left.navbar-dark .active > .nav-link:focus,
#menu-left.navbar-dark .active > .nav-link:hover {
	color: #fff !important;
}
#menu-left.navbar-light .nav-link:focus,
#menu-left.navbar-light .nav-link:hover,
#menu-left.navbar-light .active > .nav-link,
#menu-left.navbar-light .active > .nav-link:focus,
#menu-left.navbar-light .active > .nav-link:hover {
	color: #036 !important;
}
#menu-left .has-subitems > .nav-link:focus,
#menu-left .has-subitems > .nav-link:hover {
	text-decoration: none;
}
#menu-left .has-subitems > .nav-link::before {
	content: '\f078';
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-size: .75rem;
	font-weight: 900;
	margin-right: .5rem;
	text-align: center;
	width: .75rem;
}
#menu-left .has-subitems > .nav-link:focus::before,
#menu-left .has-subitems > .nav-link:hover::before {
	content: '\f077';
	text-decoration: none;
}
#menu-left .has-subitems > .nav-link.collapsed::before {
	content: '\f054';
}
#menu-left .has-subitems > .nav-link.collapsed:focus::before,
#menu-left .has-subitems > .nav-link.collapsed:hover::before {
	content: '\f078';
}
#menu-left.items-indent .has-subitems .nav-item > .nav-link {
    padding-left: 2.25rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* MENU TOP */
	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.sticky-md-top {
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			z-index: 1020;
		}
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* MENU LEFT */
	#menu-left.collapse {
		display: block;
	}
}