/* titillium-web-regular - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: url("#{resource['fonts/titillium-web-v4-latin-regular.eot']}"); /* IE9 Compat Modes */
	src: local('Titillium Web'), local('TitilliumWeb-Regular'),
		url("#{resource['fonts/titillium-web-v4-latin-regular.eot?#iefix']}") format('embedded-opentype'), /* IE6-IE8 */
		url("#{resource['fonts/titillium-web-v4-latin-regular.woff2']}") format('woff2'), /* Super Modern Browsers */
		url("#{resource['fonts/titillium-web-v4-latin-regular.woff']}") format('woff'), /* Modern Browsers */
		url("#{resource['fonts/titillium-web-v4-latin-regular.ttf']}") format('truetype'), /* Safari, Android, iOS */
		url("#{resource['fonts/titillium-web-v4-latin-regular.svg#TitilliumWeb']}") format('svg'); /* Legacy iOS */
}

/* titillium-web-600 - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	src: url("#{resource['fonts/titillium-web-v4-latin-600.eot']}"); /* IE9 Compat Modes */
	src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'),
		url("#{resource['fonts/titillium-web-v4-latin-600.eot?#iefix']}") format('embedded-opentype'), /* IE6-IE8 */
		url("#{resource['fonts/titillium-web-v4-latin-600.woff2']}") format('woff2'), /* Super Modern Browsers */
		url("#{resource['fonts/titillium-web-v4-latin-600.woff']}") format('woff'), /* Modern Browsers */
		url("#{resource['fonts/titillium-web-v4-latin-600.ttf']}") format('truetype'), /* Safari, Android, iOS */
		url("#{resource['fonts/titillium-web-v4-latin-600.svg#TitilliumWeb']}") format('svg'); /* Legacy iOS */
}

/* titillium-web-700 - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	src: url("#{resource['fonts/titillium-web-v4-latin-700.eot']}"); /* IE9 Compat Modes */
	src: local('Titillium WebBold'), local('TitilliumWeb-Bold'),
		url("#{resource['fonts/titillium-web-v4-latin-700.eot?#iefix']}") format('embedded-opentype'), /* IE6-IE8 */
		url("#{resource['fonts/titillium-web-v4-latin-700.woff2']}") format('woff2'), /* Super Modern Browsers */
		url("#{resource['fonts/titillium-web-v4-latin-700.woff']}") format('woff'), /* Modern Browsers */
		url("#{resource['fonts/titillium-web-v4-latin-700.ttf']}") format('truetype'), /* Safari, Android, iOS */
		url("#{resource['fonts/titillium-web-v4-latin-700.svg#TitilliumWeb']}") format('svg'); /* Legacy iOS */
}