/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

html {
	font-size: .875rem;
}
body {
	color: #1c2024;
}

/* ICONS */
.fa-title {
	background-color: #036;
	border-radius: .25rem;
	color: #fff;
	font-size: .8em;
	padding: .25rem;
}

/* TITLE */
h1, .h1, h2, .h2, h3, .h3, h4, .h4,
.card-header > .card-title,
.btn-entrypoint {
	font-family: 'Titillium Web';
	font-weight: 600;
	margin-bottom: 1rem;
}
h1, .h1 {
	font-size: 1.7rem;
}
h2, .h2 {
	font-size: 1.6rem;
}
h3, .h3 {
	font-size: 1.5rem;
}
h4, .h4,
.card-header > .card-title,
.btn-entrypoint {
	font-size: 1.4rem !important;
}
h1.underline, h2.underline, h3.underline, h4.underline {
	border-bottom: 2px solid #036;
	padding-bottom: .25rem;
}

/* LINK */
a {
	color: #06c;
	display: inline-block;
}
a:focus,
a:hover {
	color: #036;
}
main a:not(.btn) {
	text-decoration: underline;
}
a.external-link::after {
	content: '\f35d';
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-left: .5rem;
}

/* LIST */
.list-inline {
	display: inline-block;
}
.list-inline-item:not(:last-child) {
	margin-right: 1rem;
}
.list-link {
	list-style: none;
}

/* UTILITY */
.text-muted {
	color: #5a6772 !important;
	font-weight: 600;
}
hr {
	border-color: #ddd;
}
code {
	background-color: #fff;
	border-radius: .25rem;
	color: #d0a;
	font-size: 1em;
	padding: 0 .25rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	html {
		font-size: .9375rem;
	}

	/* TITLE */
	h1, .h1 {
		font-size: 1.85rem;
	}
	h2, .h2 {
		font-size: 1.7rem;
	}
	h3, .h3 {
		font-size: 1.55rem;
	}
	
	/* LINK E BUTTON */
	a:focus,
	.btn:focus {
		outline: 2px solid #ff8c00 !important;
		outline-offset: 1px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	html {
		font-size: 1rem;
	}

	/* TITLE */
	h1, .h1 {
		font-size: 2rem;
	}
	h2, .h2 {
		font-size: 1.8rem;
	}
	h3, .h3 {
		font-size: 1.6rem;
	}
}