
<!DOCTYPE html> 

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:s="http://www.sogei.it/dogane/jsf"
      >      
    <body>
	    <ui:composition>
			
		<div class="header-style">
		    <div class="col-sm-3 vertical-align">    	
		        <img class="img-responsive" src="#{request.contextPath}/images/logo2018.png" alt="Logo agenzia"/>
		    </div><!--
		    --><div class="col-sm-6 vertical-align">
		        
		        <ui:fragment rendered="#{userService.currentUser != null}">
		        	<div >
					    <div class="col-sm-4 nopadding text-left">
					        <span class="small text-navy">
					        	#{msg['header.utente']} <b>#{userService.currentUser.username}</b>
					        </span><br/>
					        <span class="small text-navy">#{msg['header.profilo']} <b>#{userService.currentUser.roleDescription}</b></span>
					    </div>
					    <div class="col-sm-3"></div>
					    <div class="col-sm-5 text-right"><span class="small text-navy">#{msg['header.ufficio']} <b>#{userService.currentUser.department}</b></span></div>
					
					</div>
		        </ui:fragment>
		    </div><!--
		    --><div class="col-sm-1 vertical-align">
		        <h:outputLink target="_blank"	value="#{msg['homepage.url']}">
		        <img title="#{msg['header.homepageTitle']}" id="homeImage" src="#{request.contextPath}/images/home_new.gif"  alt="#{msg['header.homepageAlt']}"/>		        
		    </h:outputLink>
		    </div><!--
		    --><div class="col-sm-2 vertical-align" >
		    <h:outputLink 
		    	target="_blank"		    	
		    	value="#{menuController.kbPath}">
		        <img  title="#{msg['header.aiutoTitle']}" src="#{request.contextPath}/images/help_new.gif" border="0" alt="#{msg['header.aiutoAlt']}"/>		        
		    </h:outputLink>
		    </div>
		</div>
				
	    </ui:composition>
    </body>
</html>