
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
	<ui:composition>
		<div id="footer">
			<h1 class="skipheader">#{msg['footer.pièLabel']}</h1>
			<ul>
				<li><a href="#{msg['footer.elencoSitiUrl']}">#{msg['footer.elencoSitiLabel']}</a></li>
				<li><a href="#{msg['footer.privacyUrl']}">#{msg['footer.privacyLabel']}</a></li>
				<li><a href="#{msg['footer.noteLegaliUrl']}">#{msg['footer.noteLegaliLabel']}</a></li>
				<li><a href="#{msg['footer.accesibilitaUrl']}">#{msg['footer.accesibilitaLabel']}</a></li>
				<li><a href="#{msg['footer.mappaSitoUrl']}">#{msg['footer.mappaSitoLabel']}</a></li>
			</ul>
			<p class="indirizzo">#{msg['footer.indirizzo']}</p>
		</div>		
	</ui:composition>
</body>
</html>