<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	

<f:facet name="first">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>#{pageService.titoloPagina}</title>
	<link
		href="https://www.adm.gov.it/TemaPortaleUnico-theme/images/favicon.ico"
		rel="Shortcut Icon" />
	<!--
        <h:outputStylesheet name="bootstrap/css/bootstrap.css" />
        <h:outputStylesheet name="bootstrap/css/bootstrap-theme.css" />

        <h:outputStylesheet name="css/app.css" />

        <h:outputStylesheet name="css/style.css" />
    <h:outputScript library="primefaces" name="jquery/jquery.js" />
        -->

<h:outputScript name="js/addestramento/funzioni.js"/>
<h:outputScript name="js/addestramento/absfooter.js"/>
 <h:outputStylesheet name="css/addestramento/style.css"/>
<h:outputStylesheet name="css/addestramento/home_page.css"/>

<h:outputStylesheet name="css/addestramento/dogane.css"/>

<h:outputScript library="primefaces" name="jquery/jquery.js" />

<!-- <h:outputScript name="bootstrap/js/bootstrap-datepicker.min.js"/>
<h:outputScript name="bootstrap/js/bootstrap-datepicker.it.min.js"/> -->
<h:outputScript name="bootstrap/js/bootstrap.min.js"/>

<!--<script  type="text/javascript" src="js/all.js"></script>-->
<h:outputStylesheet name="css/font-awesome.min.css"/>
<h:outputStylesheet name="css/titillium.css"/>


<!-- 	<h:outputScript name="bootstrap/js/bootstrap.js" />
 -->	<!--

        <script type="text/javascript" src="https://www.adm.gov.it/TemaPortaleUnico-theme/js/webtrends.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/TemaPortaleUnico-theme/js/NEW.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/TemaPortaleUnico-theme/js/absfooter.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/TemaPortaleUnico-theme/js/codeclear.js"></script>

    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/liferay/language.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/transition/transition-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/base-core/base-core-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/liferay/ajax_session.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/aui-io-request/aui-io-request-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/liferay/session.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/cookie/cookie-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/base-build/base-build-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/aui-widget-toggle/aui-widget-toggle-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/aui-widget-cssclass/aui-widget-cssclass-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/widget-base-ie/widget-base-ie-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/querystring-stringify/querystring-stringify-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/base-observable/base-observable-min.js"></script>

    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/liferay/available_languages.jsp"></script>

    <script type="text/javascript" src="https://www.adm.gov.it/TemaPortaleUnico-theme/js/funzioni.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/TemaPortaleUnico-theme/js/jquery.js"></script>

    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/event-touch/event-touch-min.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/event-move/event-move-min.js"></script>

    <script type="text/javascript" src="https://www.adm.gov.it/TemaPortaleUnico-theme/js/main.js"></script>

    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/aui/color-base/color-base-min.js"></script>

    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/portlet/dynamic_data_mapping/js/main.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/portlet/dynamic_data_lists/js/main.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/portlet/journal/js/navigation.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/portlet/journal/js/main.js"></script>
    <script type="text/javascript" src="https://www.adm.gov.it/portale/html/js/barebone.jsp"></script>
    -->





	<!-- 

        <link
                href="https://www.adm.gov.it/portale/html/js/aui/widget-base/assets/skins/sam/widget-base.css"
                type="text/css" />
        <link
                href="https://www.adm.gov.it/TemaPortaleUnico-theme/css/print.css"
                type="text/css" />

        <h:outputStylesheet name="css/dogane.css" />

        <link
                href="https://www.adm.gov.it/portale/html/portlet/login/css/main.css"
                type="text/css" />
        <link
                href="https://www.adm.gov.it/portale/html/portlet/dynamic_data_mapping/css/main.css"
                rel="stylesheet" type="text/css" />
        <link
                href="https://www.adm.gov.it/portale/html/portlet/journal/css/main.css"
                rel="stylesheet" type="text/css" />
        <link
                href="https://www.adm.gov.it/NewsDoganeMonopoli-portlet/css/main.css"
                rel="stylesheet" type="text/css" />
        <link
                href="https://www.adm.gov.it/portale/html/portlet/journal_content/css/main.css"
                rel="stylesheet" type="text/css" />
        <link
                href="https://www.adm.gov.it/TemaPortaleUnico-theme/css/aui.css"
                rel="stylesheet" type="text/css" />
-->

<!-- 	<link media="screen"
		href="https://www.adm.gov.it/TemaPortaleUnico-theme/css/style.css"
		type="text/css" rel="stylesheet" />
	<link media="screen"
		href="https://www.adm.gov.it/TemaPortaleUnico-theme/css/home_page.css"
		type="text/css" rel="stylesheet" /> -->
 
	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css"><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css"><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css"><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" type="text/css" href="css/ie9.css"><![endif]-->
	<link rel="alternate" type="application/rss+xml" title="RSS"
		href="http://assistenza.agenziadogane.it/assistenza/rss/rss.asp" />

	<style>
/*MODIFICHE DA APPORTARE ALLO STILE PER PORTALE UNICO DOGANE*/
#istituzionale_home {
	float: right;
}

#istituzionale_home #Area_Riservata {
	right: 0;
}
</style>
</f:facet>
<style>
/* necessario per i bottoni solo icona che però devono avere un testo per lo screen reader*/
.iconOnlyButton .ui-button-text {
	padding: .3em !important;
	/*padding-left: -.3em !important;*/
	text-indent: -9999999px;
	width: 30px;
}

.inputTextStyle {
	background: white !important;
	height: 24px;
 
	/*color: #5284b5;*/
	/*color: #295C83 !important;*/
	margin-bottom: 5px !important;
	padding: 0 !important;
}
/*put a red asterisk inside the form control*/
/* input[required], select[required], input[aria-required], select[aria-required]
	{
	background: url('/images/asterisk.gif') no-repeat right;
	padding-right: 15px;
} */

.no-round-borders {
	border-radius: 0 !important;
}

.no-borders {
	border: 0 !important;
	box-shadow: none;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

 

label {
	font-weight: bolder !important;
}
</style>


</html>
