
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:s="http://www.sogei.it/dogane/jsf"
>
<ui:composition>
    <div class="container-fluid" id="contenitore">
        <div id="header_home">
            <div id="logo">
                <a class="logo" href="#{msg['headerUnico.homepageUrl']}" title="#{msg['headerUnico.homepageTitle']}">
                    <img width="350"   alt="#{msg['headerUnico.homepageAlt']}"
                         src="#{msg['headerUnico.homepageLogo']}"/>
                </a></div>
            <h1 class="skipheader">#{msg['headerUnico.menuTitle']}</h1>
            <div id="istituzionale_home">
                <ul>
                    <li><a class="home" title="#{msg['headerUnico.homepageAlt']}" href="#{msg['headerUnico.homepageUrl']}"> #{msg['headerUnico.homepageTitle']}</a>
                    </li> <!--<li><a href="/portale/web/guest/mappa-del-sito">Mappa</a></li>-->
                    <li><a href="#{msg['headerUnico.menuContattiUrl']}">#{msg['headerUnico.menuContattiLabel']}</a></li>
                    <li><a href="#{msg['headerUnico.menuFAQUrl']}">#{msg['headerUnico.menuFAQLabel']}</a></li>
                    <li>
                        <a class="RSS" href="#{msg['headerUnico.menuRSSUrl']}">
                            <img width="15" height="16"
                                 src="#{msg['headerUnico.menuRSSImg']}"
                                 alt="#{msg['headerUnico.menuRSSAlt']}"/>
                            #{msg['headerUnico.menuRSSLabel']}
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-act" title="#{msg['headerUnico.menuLinguaTitle']}" href="#{msg['headerUnico.menuLinguaUrl']}">
                            <img width="25" height="15"
                                 src="#{msg['headerUnico.menuLinguaImg']}"
                                 alt="#{msg['headerUnico.menuLinguaAlt']}"/>
                        </a>
                        <ul class="dropdown-menu1 dropdown-menu-dx" id="english">
                            <li></li>
                        </ul><!-- #english -->
                    </li>                    
                    
                    <li class="blank arearis"><a title="Vai all'area riservata" href="https://www.adm.gov.it/portale/web/guest/area-riservata-dogane"> #{userService.username}</a>
                    </li>
                    <li class="esci">
                        <ui:fragment rendered="#{userService.username != userService.unauthenticated}">
                            <a href="#{msg['headerUnico.esciUrl']}" title="#{msg['headerUnico.esciTitle']}">#{msg['headerUnico.esciLabel']}</a>
                        </ui:fragment>
                    </li>
                </ul>
                <div id="form_cerca">
                    <form onsubmit="ctem_column1_1_3_search(); return false;" name="ctem_column1_1_3_fm" method="get"
                          action="https://www.adm.gov.it/portale/web/guest/ricerca" id="formricerca">
                        <input type="hidden" value="3" name="p_p_id"/>
                        <input type="hidden" value="0" name="p_p_lifecycle"/>
                        <input type="hidden" value="normal" name="p_p_state"/>
                        <input type="hidden" value="view" name="p_p_mode"/>
                        <input type="hidden" value="/search/search" name="_3_struts_action"/>
                        <input type="hidden" name="_3_groupId" value="0"/>
                        <label for="search">#{msg['headerUnico.cercaLabel']}</label>
                        <input type="text" class="inpt" id="search" maxlength="31" size="31" value=""
                               name="_3_keywords"/>
                        <input type="submit" value="Vai" class="btn"/>
                    </form>
                </div><!-- #form_cerca -->
            </div><!-- #istituzionale_home -->

        </div><!-- #header_home -->
        <div class="clearer"></div>


        <div id="menu_princ">
            <a name="menuprinc" id="menuprinc"></a>
            <h1 class="skipheader">#{msg['headerUnico.menuPrincLabel']}</h1>
            <div class="hack-lastchild">


                <div class="menu_princ_sez false">

                    <div id="menu_princ_ag" style="min-height: 100px;">
                        <h2>
                            <a href="#{msg['headerUnico.menuAgenziaUrl']}">#{msg['headerUnico.menuAgenziaLabel']}</a>
                        </h2>
                    </div>
                </div>


                <div class="menu_princ_sez false">

                    <div id="menu_princ_dog" style="min-height: 100px;">
                        <h2>
                            <a href="#{msg['headerUnico.menuDoganeUrl']}">#{msg['headerUnico.menuDoganeLabel']}</a>
                        </h2>
                    </div>
                </div>


                <div class="menu_princ_sez false">

                    <div id="menu_princ_mon" style="min-height: 100px;">
                        <h2>
                            <a href="#{msg['headerUnico.menuMonopoliUrl']}">#{msg['headerUnico.menuMonopoliLabel']}</a>
                        </h2>
                   
                    </div>
                </div>


            </div> <!-- end div hack-lastchild -->
            <div class="clearer"></div>
        </div><!-- end div menu_princ -->
    </div>
</ui:composition>
</html>
