/*!
 * Sogei UI Kit - Copyright Sogei S.p.A.
 * author: dgalloppa@sogei.it
 */
html {
/* 	background-color: #30373d;
 */	font-size: .8em;
}
body {
	color: #1c2024;
	font-size: 1.1em;
}
.container-fluid {
	max-width: 1570px;
}
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
main {
	min-height: 37em;
}
main > .container,
main > .container-fluid {
	margin-bottom: 3em;
	margin-top: 1em;
}
.section {
	padding-bottom: 3em;
	padding-top: 1em;
}
.section-grey {
	background-color: #f0f0f0;
}

/* ICONS */
.fa {
	margin-right: .5em;
}
.fa-arrow-right,
.fa-caret-down,
.fa.fa-pull-right,
.input-group-addon > .fa,
.input-group-btn > .btn > .fa {
	margin-right: 0;
}
.fa-arrow-right,
.fa-external-link,
.fa-caret-down,
.fa-pull-right {
	margin-left: .5em;
}
h1 .fa, h2 .fa, h3 .fa, h4 .fa {
	background-color: #fff;
	color: #007ad9;
	font-size: .7em;
	height: 1.5em;
	padding: .3em;
	text-align: center;
	vertical-align: middle;
	width: 1.6em;
}



/* TITLE */
h1, .h1, h2, .h2, h3, .h3, h4, .h4,
.panel-title,
.btn-entrypoint {
	font-family: 'Titillium Web','Helvetica Neue','Helvetica','Arial',sans-serif;
	font-weight: 600;
	margin: 1em 0;
}
h1, .h1 {
	font-size: 2.1em;
}
/* h2, .h2 {
	font-size: 1.8em;
} */
h3, .h3 {
	font-size: 1.6em;
}
h4, .h4,
.panel-title,
.btn-entrypoint {
	font-size: 1.4em;
}
h1.underline, h2.underline, h3.underline, h4.underline {
	border-bottom: 2px solid #036;
	padding-bottom: .3em;
}

/* LINK */
a {
	color: #06c;
	display: inline-block;
}
/* a:focus,
a:hover,
#main a:not(.btn):visited:hover  {
	color: #036;
} */
#messages a,
#main a:not(.btn) {
	text-decoration: underline;
}
#main a:not(.btn):visited {
	color: #551a8b;
}
#main a[href='']:not(:hover) {
	color: #06c;
}
#main a[href=''].btn-primary {
	color: #fff;
}
a.external-link:after {
	content: '\f08e';
	display: inline-block;
	font-family: 'FontAwesome';
	margin-left: .5em;
}
nav a,
.panel-footer.text-right > a:not(:hover) {
	text-decoration: none !important;
}

/* BREADCRUMB */
.breadcrumb-title {
	display: inline;
}
.breadcrumb {
	background-color: #fff;
	border-radius: 0;
	display: inline-block;
}
.container > .breadcrumb,
.container-fluid > .breadcrumb {
	margin: 20px 0 -10px;
}
.breadcrumb > li + li:before {
	color: #999;
	content: '\003e';
}

/* LIST */
ol, ul {
	padding-left: 2em;
	margin-bottom: 20px;
}
.list-inline {
	display: inline-block;
	margin-left: 0;
}
.list-inline > li {
	padding: 0;
}
.text-list > li {
	margin-bottom: 10px;
	padding-left: .5em;
}
.link-list {
	list-style: none;
	padding-left: 0;
}
.link-list .fa {
	margin-right: 1em;
}

/* MESSAGE E LABEL */
.alert {
	border-radius: 0;
	padding: 10px 15px;
}
ul.alert {
	list-style: none;
}
.label {
	border: 1px solid transparent;
	border-radius: 0;
	display: inline-block;
	font-size: .9em;
	padding: 4px 8px;
}
.alert-danger,
.label-danger {
	background-color: #f2dede;
	border-color: #d9534f;
	color: #76110f;
}
.alert-info,
.label-info {
	background-color: #d9edf7;
	border-color: #5bc0de;
	color: #003d5c;
}
.alert-success,
.label-success {
	background-color: #dff0d8;
	border-color: #5cb85c;
	color: #09430a;
}
.alert-warning,
.label-warning {
	background-color: #fcf8e3;
	border-color: #f0ad4e;
	color: #573a08;
}
.alert > li:before,
p.alert:before {
	font-family: 'FontAwesome';
	font-size: 1.2em;
	margin-right: .5em;
	vertical-align: -5%;
}
.alert-danger > li:before,
p.alert-danger:before {
	content: '\f057';
}
.alert-info > li:before,
p.alert-info:before {
	content: '\f05a';
}
.alert-success > li:before,
p.alert-success:before {
	content: '\f058';
}
.alert-warning > li:before,
p.alert-warning:before {
	content: '\f071';
}
.label-default {
	background-color: #f0f0f0;
	border-color: #5a6772;
	color: #1c2024;
}
.alert a {
	background-color: #fff;
	border-radius: 4px;
	padding: 2px .5em;
}

/* PANEL */
.panel,
.panel-heading,
.panel-footer {
	border-radius: 0;
}
.panel {
	box-shadow: none;
}
.panel-heading {
	border-bottom: 0;
}
.panel-title {
	line-height: 1.2;
	margin: 0;
}
.panel-title > .fa {
	font-size: inherit;
	margin-top: -5px;
	margin-bottom: -5px;
}
.panel-footer {
	background-color: #fff;
	border-top: 0;
	padding-bottom: 15px;
}
.panel-default {
	border-color: #ccc;
}
.panel-default > .panel-heading {
	background-color: #f0f0f0;
	color: #1c2024;
}
.panel-primary {
	border-color: #036;
}
.panel-primary > .panel-heading {
	background-color: #036;
	border-color: #036;
}
.panel-info {
	border-color: #8ebeed;
}
.panel-info > .panel-heading {
	color: #1c2024;
	background-color: #d1e7ff;
	border-color: #d1e7ff;
}
.panel-disabled {
	border-color: #ccc;
}
.panel-disabled > .panel-heading,
.panel-disabled > .panel-body,
.panel-disabled > .panel-footer {
	background-color: #e9e9e9;
	color: #696969;
}
.well {
	background-color: #f3f3f3;
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	padding: 20px 15px 0;
}
.panel-body > h1:first-child,
.panel-body > h2:first-child,
.panel-body > h3:first-child,
.panel-body > h4:first-child {
	margin-top: .5em;
}

/* TABS */
.tab-content > .tab-pane {
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	padding: 15px;
}
.nav-tabs {
	border-bottom-color: #ccc;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-width: 2px;
	border-radius: 0;
	font-weight: 600;
	text-decoration: none !important;
}
/* .nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
	background-color: #f0f0f0;
} */
/* .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border-bottom-color: #ccc;
	border-left-color: #ccc;
	border-right-color: #ccc;
	border-top: 2px solid #036;
	color: #1c2024 !important;
} */

/* COLLAPSIBLE */
.panel-collapsible > .panel-heading {
	padding: 0;
}
.panel-collapsible > .panel-heading > a {
	display: block;
	padding: 10px 15px;
	text-decoration: none !important;
}
.panel-collapsible > .panel-heading > a > .fa-pull-right {
	font-size: 1.4em;
	margin-top: .1em;
}
.panel-collapsible > .panel-heading > a.panel-title > .fa-pull-right {
	font-size: 1em;
}
#main .panel-collapsible.panel-primary > .panel-heading > a {
	color: #fff !important;
}
#main .panel-collapsible.panel-default > .panel-heading > a,
#main .panel-collapsible.panel-info > .panel-heading > a {
	color: #1c2024 !important;
}
.panel-collapsible > .panel-heading .panel-title:before {
	content: '\f078';
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: .9em;
	margin-right: .5em;
	text-align: center;
	width: 1em;
}
.panel-collapsible > .panel-heading .panel-title:hover:before {
	content: '\f077';
}
.panel-collapsible > .panel-heading .panel-title.collapsed:before,
.panel-collapsible > .panel-heading .collapsed .panel-title:before {
	content: '\f054';
}
.panel-collapsible > .panel-heading .panel-title.collapsed:hover:before,
.panel-collapsible > .panel-heading .collapsed .panel-title:hover:before {
	content: '\f078';
}
.panel-collapsible > .panel-body {
	padding: 0 15px;
}
.panel-collapsible > .panel-body:after,
.panel-collapsible > .panel-body:before {
	height: 15px;
}

/* ACCORDION */
.panel-group .panel {
	border-radius: 0;
}
.panel-group .panel + .panel {
	margin-top: 0;
	border-top: 0;
}

/* TABLE */
.table > tbody > tr > td,
.table > tbody > tr > th {
	vertical-align: middle;
}
.table:not(.table-condensed) > thead > tr > th,
.table:not(.table-condensed) > tbody > tr > td,
.table:not(.table-condensed) > tbody > tr > th {
	padding: 10px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}
.table-hover > tbody > tr:hover {
	background-color: #f0f0f0;
}
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
	border-color: #ccc;
}
.table-header > thead > tr > th {
	background-color: #036;
	color: #fff;
}
.table-detail {
	border-top: 0;
}
caption {
	color: #036;
	font-weight: 600;
	padding: 10px 0;
	text-align: center;
}

/* PAGINATION */
.pagination {
	border-radius: 0;
	margin-bottom: 10px;
}
.pagination * {
	border-radius: 0 !important;
}
.pagination > li > a,
.pagination > li > span {
	border-color: #ccc;
	color: #06c;
	font-weight: 600;
	margin-left: 0;
	margin-right: -1px;
}
/* .pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: #036;
	border-color: #036;
	color: #fff !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	background-color: #f0f0f0;
	color: inherit;
} */
.pagination > li .fa {
	margin-right: 0;
}

/* ENTRYPOINT */
.btn-entrypoint {
	border-width: 2px;
	display: block;
	margin: 0 0 20px;
	padding: 15px;
	text-align: left;
	width: 100%;
}
.btn-entrypoint > .fa {
	margin-right: 15px;
}
.btn-entrypoint > .fa.fa-pull-right {
	margin-right: 0;
	margin-top: .3em;
}
.btn-default.btn-entrypoint:not(:hover) {
	border-color: #06c;
}
.btn-info.btn-entrypoint:not(:hover) {
	background-color: #06c;
	border-color: #06c;
	color: #fff !important;
}
.btn-default.btn-entrypoint:active,
.btn-default.btn-entrypoint:hover,
.btn-default.btn-entrypoint:active:hover,
.btn-info.btn-entrypoint:active,
.btn-info.btn-entrypoint:hover,
.btn-info.btn-entrypoint:active:hover {
	background-color: #036;
	border-color: #036;
	color: #fff;
}

/* PROGRESS BAR */
.progress {
	background-color: #f0f0f0;
	border-radius: 25px;
	box-shadow: none;
	height: auto;
}
.progress-bar {
	box-shadow: none;
	padding: 5px;
}
.progress-bar-done {
	background-color: #06c;
}
.progress-bar-doing {
	background-color: #036;
	border-radius: 0 25px 25px 0;
	font-weight: 600;
}
.progress-bar-todo {
	background-color: #f0f0f0;
	color: #1c2024;
}
.progress-bar-done > a {
	color: #fff !important;
	display: block;
	margin: -5px;
	padding: 5px;
	text-decoration: none !important;
}
.progress-bar-done > a:active,
.progress-bar-done > a:hover,
.progress-bar-done > a:active:hover {
	background-color: #036;
}
.progress-bar .progress-number {
	display: block;
	font-size: 1.2em;
}

/* TREE VIEW */
.tree-view > .nav {
	padding-left: 15px;
}
.tree-view .submenu {
	margin-left: -15px;
}
.tree-view .nav > li > a {
	color: #1c2024 !important;
	display: inline-block;
	padding: 4px 5px;
}
.tree-view .nav .nav {
	padding-left: 36px;
}
.tree-view .submenu > a:first-child {
	padding: 0;
}
.tree-view .submenu > a:first-child:focus,
.tree-view .submenu > a:first-child:hover {
	background-color: transparent;
}
.tree-view .submenu > a:first-child > .fa {
	font-size: 1.2em;
	margin-right: 0;
	width: 11px;
}
.tree-view .submenu > a > .fa:before {
	color: #1c2024;
	content: '\f0d7';
}
.tree-view .submenu > a.collapsed > .fa:before {
	content: '\f0da';
}
.tree-view.folder-list .submenu > a + a > .fa:before {
	color: #f0ad4e;
	content: '\f07c';
}
.tree-view.folder-list .submenu > a.collapsed + a > .fa:before {
	content: '\f07b';
}
.tree-view.check-list label {
	color: #1c2024;
	cursor: pointer;
	font-weight: 400;
}
.tree-view.check-list label > .fa {
	width: 20px;
	text-align: center;
}
.tree-view.check-list input[type=checkbox],
.tree-view.check-list input[type=radio] {
	margin: 4px 5px 7px;
	vertical-align: middle;
	width: 20px;
}
.tree-view .fa {
	color: #777;
}
.tree-view .fa-folder {
	color: #f0ad4e;
}
.tree-view .fa-file-pdf-o,
.tree-view .fa-file-powerpoint-o {
	color: #d9534f;
}
.tree-view .fa-file-word-o {
	color: #5bc0de;
}
.tree-view .fa-file-excel-o {
	color: #5cb85c;
}

/* MODAL */
.modal-content {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
}
.modal-header,
.modal-footer {
	border: 0;
}
.modal-footer.text-center {
	text-align: center;
}
.modal-footer.text-left {
	text-align: left;
}

/* FORM */
textarea {
	resize: none;
}
fieldset {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 15px 20px 10px;
}
legend {
	border-bottom: 0;
	font-size: 1em;
	font-weight: 600;
	margin: 0 -5px;
	max-width: 100%;
	padding: 0 5px;
	width: auto;
}
fieldset.has-error {
	border-color: #a94442;
}
fieldset.has-error legend {
	color: #a94442;
}
.form-control {
	border-radius: 0 !important;
	box-shadow: none;
	color: #1c2024;
}
.checkbox,
.radio {
	margin-top: 0;
}
.checkbox + .checkbox,
.radio + .radio {
	margin-top: 0;
}
.radio-inline {
	margin-bottom: 10px;
}

/* POPOVER */
.popover {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	font-size: 1em;
}

/* DATEPICKER */
.datepicker.dropdown-menu {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	color: #1c2024;
	font-size: 1em;
}
.datepicker table tr td.today {
	background-color: #d1e7ff;
	border-color: #d1e7ff;
	color: #1c2024;
}
.datepicker table tr td.today.active,
.datepicker table tr td.today.active.focus,
.datepicker table tr td.today.active:focus,
.datepicker table tr td.today.active:hover,
.datepicker table tr td.today.focus,
.datepicker table tr td.today.focused,
.datepicker table tr td.today:active,
.datepicker table tr td.today:active.focus,
.datepicker table tr td.today:active:focus,
.datepicker table tr td.today:active:hover,
.datepicker table tr td.today:focus,
.datepicker table tr td.today:hover {
	background-color: #8ebeed;
	border-color: #8ebeed;
	color: #1c2024;
}
.datepicker .day {
	text-align: right;
}
.datepicker .fa {
	margin: 0;
}

/* BUTTON */
.btn,
.input-group-addon {
	border-radius: 0;
}
.btn-primary,
.btn-primary:focus,
.btn-primary[disabled]:hover {
	background-color: #06c;
	border-color: #06c;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-default:active,
.btn-default:hover,
.btn-default:active:hover,
.btn-default:active:focus {
	background-color: #036;
	border-color: #036;
	color: #fff;
}
.btn-primary[disabled] {
	opacity: .5;
}
.btn-default,
.btn-default:focus {
	background-color: #fff;
	border-color: #06c;
	color: #06c;
}
.btn-danger {
	background-color: #d43f3a;
}
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active:hover,
.btn-danger:active:focus {
	background-color: #b50000;
	border-color: #b50000;
}
.btn-danger-alt {
	background-color: #fff;
	border-color: #d43f3a;
	color: #d43f3a;
}
.btn-ok {
	padding-left: 2em;
	padding-right: 2em;
}
.btn.active,
.btn:active {
	box-shadow: none;
}
a.btn-default:active,
a.btn-default:hover,
a.btn-default:active:hover {
	background-color: #fff;
	border-color: #036;
	color: #036;
}
.btn + .btn {
	margin-top: .5em;
	vertical-align: bottom;
}
.btns-group > .btn {
	line-height: inherit;
	margin-right: .5em;
	margin-top: 0;
}
.btns-group > .btn > .fa {
	margin-right: 0;
}
.btn-group-sm > .btn, .btn-sm {
	font-size: 1em;
	padding: 3px 6px;
}
.form-horizontal .btn {
	margin: 0;
}

/* CAPTCHA */
#img-captcha {
	height: 100px;
	margin-bottom: 20px;
	max-width: 100%;
	width: 200px;
}
.controls-captcha > a {
	margin-bottom: 10px;
}
.controls-captcha > a:not(.btn) {
	display: block;
}

/* MULTIMEDIA */
.img-responsive {
	margin: 0 auto;
	width: auto;
}

/* CARD */
.card {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}
.card > .panel-image,
.card-horizontal > .panel-image {
	overflow: hidden;
	position: relative;
}
.card > .panel-image > .fa,
.card-horizontal > .panel-image > .fa {
	color: #fff;
	font-size: 6em;
	margin: 0;
	position: absolute;
	text-align: center;
	text-shadow: .1em .1em 0 rgba(0,0,0,.3);
	top: 25%;
	width: 100%;
}
.card-horizontal > .panel-image {
	border-radius: 0 0 20px 0;
	float: left;
	max-width: 200px;
}
.card-horizontal > .panel-image > .fa {
	font-size: 3.5em;
}
.card-horizontal > .panel-body {
	float: left;
	padding: 10px 15px 5px;
}
.card-text > .panel-body {
	position: relative;
}
.card-text > .panel-body > .fa {
	color: #5a6772;
	font-size: 5em;
	margin: 0;
	opacity: .2;
	position: absolute;
	right: 15px;
	top: 15px;
}

/* CAROUSEL */
.carousel-inner .text-muted {
	margin: 10px 0 0;
}
.carousel-indicators {
	bottom: 0;
	left: 0;
	margin-left: 0;
	margin-top: 10px;
	position: relative;
	width: auto;
}
.carousel-indicators li {
	background-color: #ccc;
	text-indent: 0;
}
.carousel-indicators .active {
	background-color: #06c;
	border-color: #06c;
}
.carousel-indicators li,
.carousel-indicators .active {
	border: 0;
	height: 15px;
	width: 15px;
	margin: 0 .5em;
}
.carousel-indicators li.carousel-btn {
	background-color: transparent;
}
.carousel-btn .fa {
	font-size: 1.2em;
	margin: 0 .2em;
	vertical-align: top;
}

/* UTILITY */
hr {
	border-color: #ddd;
}
.margin-bottom {
	margin-bottom: 30px;
}
.margin-top {
	margin-top: 30px;
}
.text-muted {
	font-weight: 600;
}
code {
	background-color: #fff;
	color: inherit;
	font-size: 1em;
}

/* Fix iOS horizontal scrolling */
.table-responsive .sr-only {
	position: fixed;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	/* LINK E BUTTON */
/* 	a:focus,
	.btn:focus {
		outline: 2px solid #ff8c00 !important;
		outline-offset: 1px;
	} */
/* 	.navbar-nav > li > a:focus,
	#menu-left > li > a:focus {
		outline-offset: -2px;
	} */
/* 	.panel-collapsible > .panel-heading > a:focus,
	.pagination > li > a:focus {
		outline-offset: -1px;
	} */
	
	/* TABS */
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a:hover {
		border-bottom-color: transparent;
	}
	
	/* TABLE */
	.table:not(.table-bordered),
	.table:not(.table-bordered) > thead > tr > th {
		border-bottom: 1px solid #036;
	}
	
	/* CARDS */
	.card > .panel-image > .fa {
		font-size: 7em;
	}
	.card-horizontal > .panel-image {
		border-radius: 0;
	}
	
	/* CAROUSEL */
	.carousel-indicators {
		text-align: left;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	/* CARDS */
	.card > .panel-image > .fa {
		font-size: 8em;
	}

	/* Fix IE11 */
	@-ms-viewport {
		width: auto !important;
	}
}

/* Extra large devices (x-large desktops, 1440px and up) */
@media (min-width: 1440px) {
	.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
		float: left;
	}
	.col-xl-1 {
		width: 8.33333333%;
	}
	.col-xl-2 {
		width: 16.66666667%;
	}
	.col-xl-3 {
		width: 25%;
	}
	.col-xl-4 {
		width: 33.33333333%;
	}
	.col-xl-5 {
		width: 41.66666667%;
	}
	.col-xl-6 {
		width: 50%;
	}
	.col-xl-7 {
		width: 58.33333333%;
	}
	.col-xl-8 {
		width: 66.66666667%;
	}
	.col-xl-9 {
		width: 75%;
	}
	.col-xl-10 {
		width: 83.33333333%;
	}
	.col-xl-11 {
		width: 91.66666667%;
	}
	.col-xl-12 {
		width: 100%;
	}
	.col-xl-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-xl-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-xl-offset-3 {
		margin-left: 25%;
	}
	.hidden-xl {
		display: none;
	}
}