.ui-inputfield {
		    margin: 0;
		    outline: medium none;
		    padding: 4px;
		    font-weight: normal;
		    width: 80%;
		}
.statScroll{
	height: 500px; 
	 overflow-y:scroll; 
	 overflow-x:scroll;
	 scrollbar-face-color: #367CD2;
	 scrollbar-shadow-color: #FFFFFF;
	 scrollbar-highlight-color: #FFFFFF;
	 scrollbar-3dlight-color: #FFFFFF;
	 scrollbar-darkshadow-color: #FFFFFF;
	 scrollbar-track-color: #FFFFFF;
	 scrollbar-arrow-color: #FFFFFF;
}		

body{
	position: unset !important;
}