
body{

  background-color : #cee7ff;
 /* Margin bottom by footer height */
  margin-bottom: 40px;
  font-size: 1.2em; /* necessario per scalare il font  */
}
html {
  position: relative;
  min-height: 100%;
  font-size: 75%; /* necessario per scalare il font  */
}

